In [1]:
import pandas as pd
import numpy as np
import re

#1 数据处理

In [26]:
woody_phen_file = '/data/shuping/data/china_phenology/xls_data_clean/data/woody_phenology.xls'
herb_phen_file = '/data/shuping/data/china_phenology/xls_data_clean/data/herb_phenology.xls'

In [27]:
woody_ds = pd.read_excel(woody_phen_file)
woody_ds.columns = ['year','site','species','sos','eos']
woody_ds

       year     site species  sos  eos
0      1981  50639.0    加拿大杨  123  272
1      1981  50928.0      旱柳  118  258
2      1981  50928.0    加拿大杨  127  258
3      1981  50928.0      山榆  132  258
4      1981  50928.0      山楂  120  258
...     ...      ...     ...  ...  ...
24527  2011      NaN      银杏  101  290
24528  2011      NaN       橙   80  NaN
24529  2011      NaN      刺槐   65  NaN
24530  2011      NaN      柑橘   71  277
24531  2011      NaN      桑树   72  NaN

[24532 rows x 5 columns]

In [28]:
woody_ds = woody_ds.dropna()
woody_ds

       year     site species  sos  eos
0      1981  50639.0    加拿大杨  123  272
1      1981  50928.0      旱柳  118  258
2      1981  50928.0    加拿大杨  127  258
3      1981  50928.0      山榆  132  258
4      1981  50928.0      山楂  120  258
...     ...      ...     ...  ...  ...
23544  2007  58433.0      楝树   91  276
23545  2008  58433.0      楝树   98  297
23546  2009  58433.0      楝树  105  295
23547  2010  58433.0      楝树  105  302
23548  2011  58433.0      楝树  106  305

[17319 rows x 5 columns]

In [29]:
woody_ds_sos= woody_ds['sos'].apply(lambda x: x if re.search("^\d+$", str(x)) else np.nan)
woody_ds_eos= woody_ds['eos'].apply(lambda x: x if re.search("^\d+$", str(x)) else np.nan)
# print(woody_ds_sos[3])
woody_ds_sos_df = pd.DataFrame(woody_ds_sos)
woody_ds_eos_df = pd.DataFrame(woody_ds_eos)
woody_ds['sos'] = woody_ds_sos_df['sos']
woody_ds['eos'] = woody_ds_eos_df['eos']
woody_ds

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

       year     site species    sos    eos
0      1981  50639.0    加拿大杨  123.0  272.0
1      1981  50928.0      旱柳  118.0  258.0
2      1981  50928.0    加拿大杨  127.0  258.0
3      1981  50928.0      山榆  132.0  258.0
4      1981  50928.0      山楂  120.0  258.0
...     ...      ...     ...    ...    ...
23544  2007  58433.0      楝树   91.0  276.0
23545  2008  58433.0      楝树   98.0  297.0
23546  2009  58433.0      楝树  105.0  295.0
23547  2010  58433.0      楝树  105.0  302.0
23548  2011  58433.0      楝树  106.0  305.0

[17319 rows x 5 columns]

In [30]:
woody_ds = woody_ds.dropna()
woody_ds.to_csv('/data/shuping/data/china_phenology/xls_data_clean/woody_phenology_clean.csv')
woody_ds

       year     site species    sos    eos
0      1981  50639.0    加拿大杨  123.0  272.0
1      1981  50928.0      旱柳  118.0  258.0
2      1981  50928.0    加拿大杨  127.0  258.0
3      1981  50928.0      山榆  132.0  258.0
4      1981  50928.0      山楂  120.0  258.0
...     ...      ...     ...    ...    ...
23544  2007  58433.0      楝树   91.0  276.0
23545  2008  58433.0      楝树   98.0  297.0
23546  2009  58433.0      楝树  105.0  295.0
23547  2010  58433.0      楝树  105.0  302.0
23548  2011  58433.0      楝树  106.0  305.0

[17301 rows x 5 columns]

In [13]:
herb_ds = pd.read_excel(herb_phen_file)
herb_ds.columns = ['year','site','species','sos','eos']
herb_ds

       year   site  species    sos    eos
0      1990  50353        7  127.0  257.0
1      1991  50353        7  123.0  256.0
2      1992  50353        7  125.0  255.0
3      1993  50353        7  122.0  252.0
4      1994  50353        7  127.0  257.0
...     ...    ...      ...    ...    ...
10975  2010  54326        7   92.0  300.0
10976  2011  54326        7  103.0  287.0
10977  1984  54326        7   92.0  295.0
10978  1985  54326        7   95.0  290.0
10979  1986  54326        7   94.0  298.0

[10980 rows x 5 columns]

In [15]:
herb_ds = herb_ds.dropna()
herb_ds.to_csv('/data/shuping/data/china_phenology/xls_data_clean/herb_phenology_clean.csv')
herb_ds

       year   site  species    sos    eos
0      1990  50353        7  127.0  257.0
1      1991  50353        7  123.0  256.0
2      1992  50353        7  125.0  255.0
3      1993  50353        7  122.0  252.0
4      1994  50353        7  127.0  257.0
...     ...    ...      ...    ...    ...
10975  2010  54326        7   92.0  300.0
10976  2011  54326        7  103.0  287.0
10977  1984  54326        7   92.0  295.0
10978  1985  54326        7   95.0  290.0
10979  1986  54326        7   94.0  298.0

[10731 rows x 5 columns]

#2 简单相关

In [62]:
from scipy import stats

## 6-year

In [151]:
all_site_number = woody_ds['site'].nunique()#返回不同值的数值
all_site = woody_ds['site'].unique()#返回对应列的不同值
corr_woody = pd.DataFrame(columns=['site', 'species', 'spear_r', 'spear_p_value', 'pear_r', 'pear_p_value'])
for i in range(len(all_site)):
    single_site = woody_ds[woody_ds.site == all_site[i]]
    species = single_site['species'].unique()
    for j in range(len(species)):
        site_species = single_site[single_site.species == species[j]]
        a = int(site_species.shape[0])
        if a >= 6:
            r0, p0 = stats.spearmanr(site_species['sos'], site_species['eos'])
            r1, p1 = stats.pearsonr(site_species['sos'], site_species['eos'])
            corr_woody = corr_woody.append(pd.DataFrame({'site':[int(all_site[i])],'species':[species[j]],'spear_r':[r0],
                                                       'spear_p_value':[p0],'pear_r':[r1],'pear_p_value':[p1]}), ignore_index=True)
corr_woody.to_csv('/data/shuping/data/china_phenology/6year/6_year_corr_woody.csv', encoding='utf_8_sig')
corr_woody

       site species   spear_r  spear_p_value    pear_r  pear_p_value
0     50639    加拿大杨 -0.011099       0.969961 -0.209057      0.473202
1     50639     沙果树  0.392157       0.207370  0.403688      0.193131
2     50639      榆树  0.361422       0.090172  0.084195      0.702501
3     50639     紫丁香  0.704648       0.034039  0.687576      0.040674
4     50639      杏树 -0.019703       0.966558 -0.412568      0.357656
...     ...     ...       ...            ...       ...           ...
1053  58433      刺槐  0.230048       0.221341  0.228891      0.223737
1054  58433      楝树  0.314914       0.090075  0.267172      0.153501
1055  53923      白梨  0.294993       0.152276  0.284689      0.167800
1056  53923      苹果  0.195733       0.348413  0.115147      0.583631
1057  53923     小叶杨  0.470156       0.066102  0.420133      0.105183

[1058 rows x 6 columns]

In [68]:
all_site_number = herb_ds['site'].nunique()#返回不同值的数值
all_site = herb_ds['site'].unique()#返回对应列的不同值
corr_herb = pd.DataFrame(columns=['site', 'species', 'spear_r', 'spear_p_value', 'pear_r', 'pear_p_value'])
for i in range(len(all_site)):
    single_site = herb_ds[herb_ds.site == all_site[i]]
    species = single_site['species'].unique()
    for j in range(len(species)):
        site_species = single_site[single_site.species == species[j]]
        a = site_species.shape[0]
        if a >=6:
            r0, p0 = stats.spearmanr(site_species['sos'], site_species['eos'])
            r1, p1 = stats.pearsonr(site_species['sos'], site_species['eos'])
            corr_herb = corr_herb.append(pd.DataFrame({'site':[all_site[i]],'species':[species[j]],'spear_r':[r0],
                                                       'spear_p_value':[p0],'pear_r':[r1],'pear_p_value':[p1]}),ignore_index=True)
corr_herb.to_csv('/data/shuping/data/china_phenology/6year/6_year_corr_herb.csv')
corr_herb

      site species   spear_r  spear_p_value    pear_r  pear_p_value
0    50353       7 -0.177562       0.429214 -0.175998      0.433356
1    50425       7  0.645943       0.000487  0.368548      0.069860
2    50425      33  0.702653       0.001658  0.724295      0.001009
3    50425      36  0.427411       0.026167  0.031154      0.877408
4    50425      37  0.636364       0.124400  0.783068      0.037310
..     ...     ...       ...            ...       ...           ...
496  58319      36 -0.420638       0.032374 -0.332623      0.096854
497  58346       7 -0.448041       0.124685 -0.791207      0.001275
498  58346      45  0.587115       0.010417  0.688381      0.001586
499  57476      36  0.056867       0.853602 -0.429367      0.143147
500  54326       7 -0.082569       0.809284  0.044240      0.897235

[501 rows x 6 columns]

## 15-year

In [153]:
all_site_number = woody_ds['site'].nunique()#返回不同值的数值
all_site = woody_ds['site'].unique()#返回对应列的不同值
corr_woody = pd.DataFrame(columns=['site', 'species', 'spear_r', 'spear_p_value', 'pear_r', 'pear_p_value'])
for i in range(len(all_site)):
    single_site = woody_ds[woody_ds.site == all_site[i]]
    species = single_site['species'].unique()
    for j in range(len(species)):
        site_species = single_site[single_site.species == species[j]]
        a = int(site_species.shape[0])
        if a >= 15:
            r0, p0 = stats.spearmanr(site_species['sos'], site_species['eos'])
            r1, p1 = stats.pearsonr(site_species['sos'], site_species['eos'])
            corr_woody = corr_woody.append(pd.DataFrame({'site':[int(all_site[i])],'species':[species[j]],'spear_r':[r0],
                                                       'spear_p_value':[p0],'pear_r':[r1],'pear_p_value':[p1]}), ignore_index=True)
corr_woody.to_csv('/data/shuping/data/china_phenology/15year/15_year_corr_woody.csv', encoding='utf_8_sig')
corr_woody

      site species   spear_r  spear_p_value    pear_r  pear_p_value
0    50639      榆树  0.361422       0.090172  0.084195      0.702501
1    50928      旱柳  0.037883       0.881367  0.303483      0.220853
2    50928    加拿大杨  0.218343       0.384072  0.460650      0.054374
3    50928     小叶杨  0.445946       0.063611  0.425605      0.078253
4    50936     紫丁香  0.532343       0.033772  0.402034      0.122667
..     ...     ...       ...            ...       ...           ...
495  58433      刺槐  0.230048       0.221341  0.228891      0.223737
496  58433      楝树  0.314914       0.090075  0.267172      0.153501
497  53923      白梨  0.294993       0.152276  0.284689      0.167800
498  53923      苹果  0.195733       0.348413  0.115147      0.583631
499  53923     小叶杨  0.470156       0.066102  0.420133      0.105183

[500 rows x 6 columns]

In [179]:
##1982-2014
all_site = woody_ds['site'].unique()#返回对应列的不同值
corr_woody = pd.DataFrame(columns=['site', 'species', 'spear_r', 'spear_p_value', 'pear_r', 'pear_p_value'])
for i in range(len(all_site)):
    single_site = woody_ds[woody_ds.site == all_site[i]]
    species = single_site['species'].unique()
    for j in range(len(species)):
        site_species = single_site[single_site.species == species[j]]
        site_species = site_species[site_species['year'] > 1981]
        site_species = site_species[site_species['year'] < 2015]
        site_species = site_species.reset_index(drop=True)
        a = site_species.shape[0]
        if a >= 15:
            r0, p0 = stats.spearmanr(site_species['sos'], site_species['eos'])
            r1, p1 = stats.pearsonr(site_species['sos'], site_species['eos'])
            corr_woody = corr_woody.append(pd.DataFrame({'site':[int(all_site[i])],'species':[species[j]],'spear_r':[r0],
                                                       'spear_p_value':[p0],'pear_r':[r1],'pear_p_value':[p1]}), ignore_index=True)
corr_woody.to_csv('/data/shuping/data/china_phenology/1982_2014/15year/15_year_corr_woody.csv', encoding='utf_8_sig')
corr_woody

      site species   spear_r  spear_p_value    pear_r  pear_p_value
0    50639      榆树  0.361422       0.090172  0.084195      0.702501
1    50928      旱柳 -0.120222       0.645800  0.143572      0.582503
2    50928    加拿大杨  0.102294       0.696041  0.345838      0.173919
3    50928     小叶杨  0.363412       0.151621  0.289513      0.259691
4    50936     紫丁香  0.485127       0.066805  0.307049      0.265626
..     ...     ...       ...            ...       ...           ...
488  58433      刺槐  0.230048       0.221341  0.228891      0.223737
489  58433      楝树  0.314914       0.090075  0.267172      0.153501
490  53923      白梨  0.294993       0.152276  0.284689      0.167800
491  53923      苹果  0.195733       0.348413  0.115147      0.583631
492  53923     小叶杨  0.470156       0.066102  0.420133      0.105183

[493 rows x 6 columns]

In [148]:
all_site_number = herb_ds['site'].nunique()#返回不同值的数值
all_site = herb_ds['site'].unique()#返回对应列的不同值
corr_herb = pd.DataFrame(columns=['site', 'species', 'spear_r', 'spear_p_value', 'pear_r', 'pear_p_value'])
for i in range(len(all_site)):
    single_site = herb_ds[herb_ds.site == all_site[i]]
    species = single_site['species'].unique()
    for j in range(len(species)):
        site_species = single_site[single_site.species == species[j]]
        a = site_species.shape[0]
        if a >=15:
            r0, p0 = stats.spearmanr(site_species['sos'], site_species['eos'])
            r1, p1 = stats.pearsonr(site_species['sos'], site_species['eos'])
            corr_herb = corr_herb.append(pd.DataFrame({'site':[all_site[i]],'species':[species[j]],'spear_r':[r0],
                                                       'spear_p_value':[p0],'pear_r':[r1],'pear_p_value':[p1]}),ignore_index=True)
corr_herb.to_csv('/data/shuping/data/china_phenology/15year/15_year_corr_herb.csv')
corr_herb

      site species   spear_r  spear_p_value    pear_r  pear_p_value
0    50353       7 -0.177562       0.429214 -0.175998      0.433356
1    50425       7  0.645943       0.000487  0.368548      0.069860
2    50425      33  0.702653       0.001658  0.724295      0.001009
3    50425      36  0.427411       0.026167  0.031154      0.877408
4    50425      42  0.126914       0.511792  0.114486      0.554282
..     ...     ...       ...            ...       ...           ...
396  58208      32 -0.174801       0.373644 -0.174762      0.373753
397  58269      32 -0.192325       0.367937 -0.178913      0.402884
398  58319       7  0.523883       0.006016  0.502160      0.008946
399  58319      36 -0.420638       0.032374 -0.332623      0.096854
400  58346      45  0.587115       0.010417  0.688381      0.001586

[401 rows x 6 columns]

In [178]:
##1982-2014
all_site = herb_ds['site'].unique()#返回对应列的不同值
corr_herb = pd.DataFrame(columns=['site', 'species', 'spear_r', 'spear_p_value', 'pear_r', 'pear_p_value'])
for i in range(len(all_site)):
    single_site = herb_ds[herb_ds.site == all_site[i]]
    species = single_site['species'].unique()
    for j in range(len(species)):
        site_species = single_site[single_site.species == species[j]]
        site_species = site_species[site_species['year'] > 1981]
        site_species = site_species[site_species['year'] < 2015]
        site_species = site_species.reset_index(drop=True)
        a = site_species.shape[0]
        if a >= 15:
            r0, p0 = stats.spearmanr(site_species['sos'], site_species['eos'])
            r1, p1 = stats.pearsonr(site_species['sos'], site_species['eos'])
            corr_herb = corr_herb.append(pd.DataFrame({'site':[int(all_site[i])],'species':[species[j]],'spear_r':[r0],
                                                       'spear_p_value':[p0],'pear_r':[r1],'pear_p_value':[p1]}), ignore_index=True)

corr_herb.to_csv('/data/shuping/data/china_phenology/1982_2014/15year/15_year_corr_herb.csv', encoding='utf_8_sig')
corr_herb

      site species   spear_r  spear_p_value    pear_r  pear_p_value
0    50353       7 -0.177562       0.429214 -0.175998      0.433356
1    50425       7  0.645943       0.000487  0.368548      0.069860
2    50425      33  0.702653       0.001658  0.724295      0.001009
3    50425      36  0.427411       0.026167  0.031154      0.877408
4    50425      42  0.126914       0.511792  0.114486      0.554282
..     ...     ...       ...            ...       ...           ...
396  58208      32 -0.174801       0.373644 -0.174762      0.373753
397  58269      32 -0.192325       0.367937 -0.178913      0.402884
398  58319       7  0.523883       0.006016  0.502160      0.008946
399  58319      36 -0.420638       0.032374 -0.332623      0.096854
400  58346      45  0.587115       0.010417  0.688381      0.001586

[401 rows x 6 columns]

##20-year

In [156]:
all_site_number = woody_ds['site'].nunique()#返回不同值的数值
all_site = woody_ds['site'].unique()#返回对应列的不同值
corr_woody = pd.DataFrame(columns=['site', 'species', 'spear_r', 'spear_p_value', 'pear_r', 'pear_p_value'])
for i in range(len(all_site)):
    single_site = woody_ds[woody_ds.site == all_site[i]]
    species = single_site['species'].unique()
    for j in range(len(species)):
        site_species = single_site[single_site.species == species[j]]
        a = int(site_species.shape[0])
        if a >= 20:
            r0, p0 = stats.spearmanr(site_species['sos'], site_species['eos'])
            r1, p1 = stats.pearsonr(site_species['sos'], site_species['eos'])
            corr_woody = corr_woody.append(pd.DataFrame({'site':[int(all_site[i])],'species':[species[j]],'spear_r':[r0],
                                                       'spear_p_value':[p0],'pear_r':[r1],'pear_p_value':[p1]}), ignore_index=True)
corr_woody.to_csv('/data/shuping/data/china_phenology/20year/20_year_corr_woody.csv', encoding='utf_8_sig')
corr_woody

      site species   spear_r  spear_p_value    pear_r  pear_p_value
0    50639      榆树  0.361422       0.090172  0.084195      0.702501
1    51076      沙枣 -0.015944       0.942438 -0.073426      0.739171
2    51076      榆树  0.325745       0.120341  0.426725      0.037567
3    51133      柳树 -0.089996       0.675800 -0.097681      0.649773
4    51133      杨树  0.315058       0.125026  0.259325      0.210646
..     ...     ...       ...            ...       ...           ...
288  58319     悬铃木  0.073214       0.722261 -0.051632      0.802207
289  58433      刺槐  0.230048       0.221341  0.228891      0.223737
290  58433      楝树  0.314914       0.090075  0.267172      0.153501
291  53923      白梨  0.294993       0.152276  0.284689      0.167800
292  53923      苹果  0.195733       0.348413  0.115147      0.583631

[293 rows x 6 columns]

In [157]:
all_site_number = herb_ds['site'].nunique()#返回不同值的数值
all_site = herb_ds['site'].unique()#返回对应列的不同值
corr_herb = pd.DataFrame(columns=['site', 'species', 'spear_r', 'spear_p_value', 'pear_r', 'pear_p_value'])
for i in range(len(all_site)):
    single_site = herb_ds[herb_ds.site == all_site[i]]
    species = single_site['species'].unique()
    for j in range(len(species)):
        site_species = single_site[single_site.species == species[j]]
        a = site_species.shape[0]
        if a >=20:
            r0, p0 = stats.spearmanr(site_species['sos'], site_species['eos'])
            r1, p1 = stats.pearsonr(site_species['sos'], site_species['eos'])
            corr_herb = corr_herb.append(pd.DataFrame({'site':[all_site[i]],'species':[species[j]],'spear_r':[r0],
                                                       'spear_p_value':[p0],'pear_r':[r1],'pear_p_value':[p1]}),ignore_index=True)
corr_herb.to_csv('/data/shuping/data/china_phenology/20year/20_year_corr_herb.csv')
corr_herb

      site species   spear_r  spear_p_value    pear_r  pear_p_value
0    50353       7 -0.177562       0.429214 -0.175998      0.433356
1    50425       7  0.645943       0.000487  0.368548      0.069860
2    50425      36  0.427411       0.026167  0.031154      0.877408
3    50425      42  0.126914       0.511792  0.114486      0.554282
4    50425      48 -0.133623       0.489540 -0.127836      0.508704
..     ...     ...       ...            ...       ...           ...
310  58208       7 -0.238422       0.181489 -0.158676      0.377787
311  58208      32 -0.174801       0.373644 -0.174762      0.373753
312  58269      32 -0.192325       0.367937 -0.178913      0.402884
313  58319       7  0.523883       0.006016  0.502160      0.008946
314  58319      36 -0.420638       0.032374 -0.332623      0.096854

[315 rows x 6 columns]

#3 偏相关 (15year/无gpp)

##读取气候数据

In [19]:
import os
import gdal
import numpy as np
from scipy import stats

In [20]:
#读取tif数据集
def readTif(fileName):
    dataset = gdal.Open(fileName)
    if dataset == None:
        print(fileName+"文件无法打开")
    return dataset

In [21]:
#tmean每月三维数组

#6月
tmean_tifFolder = '/data/shuping/data/climate_data/CRU TS V4.01/tif/clip_30N_0.5/tmean'
tmean_6_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-06-tmp-30N.tif'
    print(tifname)
    tmean_tifpath = os.path.join(tmean_tifFolder, str(m), tifname)
    tmean_data = readTif(tmean_tifpath)
    tmean_dataset = tmean_data.ReadAsArray(0,0,720,120)
    a = m-1982
    tmean_6_datasets[a] = tmean_dataset
    tmean_6_datasets = np.where(tmean_6_datasets == -999, np.nan, tmean_6_datasets)

#7月
tmean_7_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-07-tmp-30N.tif'
    print(tifname)
    tmean_tifpath = os.path.join(tmean_tifFolder, str(m), tifname)
    tmean_data = readTif(tmean_tifpath)
    tmean_dataset = tmean_data.ReadAsArray(0,0,720,120)
    a = m-1982
    tmean_7_datasets[a] = tmean_dataset
    tmean_7_datasets = np.where(tmean_7_datasets == -999, np.nan, tmean_7_datasets)

#8月
tmean_8_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-08-tmp-30N.tif'
    print(tifname)
    tmean_tifpath = os.path.join(tmean_tifFolder, str(m), tifname)
    tmean_data = readTif(tmean_tifpath)
    tmean_dataset = tmean_data.ReadAsArray(0,0,720,120)
    a = m-1982
    tmean_8_datasets[a] = tmean_dataset
    tmean_8_datasets = np.where(tmean_8_datasets == -999, np.nan, tmean_8_datasets)

#9月
tmean_9_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-09-tmp-30N.tif'
    print(tifname)
    tmean_tifpath = os.path.join(tmean_tifFolder, str(m), tifname)
    tmean_data = readTif(tmean_tifpath)
    tmean_dataset = tmean_data.ReadAsArray(0,0,720,120)
    a = m-1982
    tmean_9_datasets[a] = tmean_dataset
    tmean_9_datasets = np.where(tmean_9_datasets == -999, np.nan, tmean_9_datasets)

#10月
tmean_10_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-10-tmp-30N.tif'
    print(tifname)
    tmean_tifpath = os.path.join(tmean_tifFolder, str(m), tifname)
    tmean_data = readTif(tmean_tifpath)
    tmean_dataset = tmean_data.ReadAsArray(0,0,720,120)
    a = m-1982
    tmean_10_datasets[a] = tmean_dataset
    tmean_10_datasets = np.where(tmean_10_datasets == -999, np.nan, tmean_10_datasets)

#11月
tmean_11_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-11-tmp-30N.tif'
    print(tifname)
    tmean_tifpath = os.path.join(tmean_tifFolder, str(m), tifname)
    tmean_data = readTif(tmean_tifpath)
    tmean_dataset = tmean_data.ReadAsArray(0,0,720,120)
    a = m-1982
    tmean_11_datasets[a] = tmean_dataset
    tmean_11_datasets = np.where(tmean_11_datasets == -999, np.nan, tmean_11_datasets)

#12月
tmean_12_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-12-tmp-30N.tif'
    print(tifname)
    tmean_tifpath = os.path.join(tmean_tifFolder, str(m), tifname)
    tmean_data = readTif(tmean_tifpath)
    tmean_dataset = tmean_data.ReadAsArray(0,0,720,120)
    a = m-1982
    tmean_12_datasets[a] = tmean_dataset
    tmean_12_datasets = np.where(tmean_12_datasets == -999, np.nan, tmean_12_datasets)

1982-06-tmp-30N.tif
1983-06-tmp-30N.tif
1984-06-tmp-30N.tif
1985-06-tmp-30N.tif
1986-06-tmp-30N.tif
1987-06-tmp-30N.tif
1988-06-tmp-30N.tif
1989-06-tmp-30N.tif
1990-06-tmp-30N.tif
1991-06-tmp-30N.tif
1992-06-tmp-30N.tif
1993-06-tmp-30N.tif
1994-06-tmp-30N.tif
1995-06-tmp-30N.tif
1996-06-tmp-30N.tif
1997-06-tmp-30N.tif
1998-06-tmp-30N.tif
1999-06-tmp-30N.tif
2000-06-tmp-30N.tif
2001-06-tmp-30N.tif
2002-06-tmp-30N.tif
2003-06-tmp-30N.tif
2004-06-tmp-30N.tif
2005-06-tmp-30N.tif
2006-06-tmp-30N.tif
2007-06-tmp-30N.tif
2008-06-tmp-30N.tif
2009-06-tmp-30N.tif
2010-06-tmp-30N.tif
2011-06-tmp-30N.tif
2012-06-tmp-30N.tif
2013-06-tmp-30N.tif
2014-06-tmp-30N.tif
1982-07-tmp-30N.tif
1983-07-tmp-30N.tif
1984-07-tmp-30N.tif
1985-07-tmp-30N.tif
1986-07-tmp-30N.tif
1987-07-tmp-30N.tif
1988-07-tmp-30N.tif
1989-07-tmp-30N.tif
1990-07-tmp-30N.tif
1991-07-tmp-30N.tif
1992-07-tmp-30N.tif
1993-07-tmp-30N.tif
1994-07-tmp-30N.tif
1995-07-tmp-30N.tif
1996-07-tmp-30N.tif
1997-07-tmp-30N.tif
1998-07-tmp-30N.tif
1999-07-tmp-30N.tif
2000-07-tmp-30N.tif
2001-07-tmp-30N.tif
2002-07-tmp-30N.tif
2003-07-tmp-30N.tif
2004-07-tmp-30N.tif
2005-07-tmp-30N.tif
2006-07-tmp-30N.tif
2007-07-tmp-30N.tif
2008-07-tmp-30N.tif
2009-07-tmp-30N.tif
2010-07-tmp-30N.tif
2011-07-tmp-30N.tif
2012-07-tmp-30N.tif
2013-07-tmp-30N.tif
2014-07-tmp-30N.tif
1982-08-tmp-30N.tif
1983-08-tmp-30N.tif
1984-08-tmp-30N.tif
1985-08-tmp-30N.tif
1986-08-tmp-30N.tif
1987-08-tmp-30N.tif
1988-08-tmp-30N.tif
1989-08-tmp-30N.tif
1990-08-tmp-30N.tif
1991-08-tmp-30N.tif
1992-08-tmp-30N.tif
1993-08-tmp-30N.tif
1994-08-tmp-30N.tif
1995-08-tmp-30N.tif
1996-08-tmp-30N.tif
1997-08-tmp-30N.tif
1998-08-tmp-30N.tif
1999-08-tmp-30N.tif
2000-08-tmp-30N.tif
2001-08-tmp-30N.tif
2002-08-tmp-30N.tif
2003-08-tmp-30N.tif
2004-08-tmp-30N.tif
2005-08-tmp-30N.tif
2006-08-tmp-30N.tif
2007-08-tmp-30N.tif
2008-08-tmp-30N.tif
2009-08-tmp-30N.tif
2010-08-tmp-30N.tif
2011-08-tmp-30N.tif
2012-08-tmp-30N.tif
2013-08-tmp-30N.tif
2014-08-tmp-30N.tif
1982-09-tmp-30N.tif
1983-09-tmp-30N.tif
1984-09-tmp-30N.tif
1985-09-tmp-30N.tif
1986-09-tmp-30N.tif
1987-09-tmp-30N.tif
1988-09-tmp-30N.tif
1989-09-tmp-30N.tif
1990-09-tmp-30N.tif
1991-09-tmp-30N.tif
1992-09-tmp-30N.tif
1993-09-tmp-30N.tif
1994-09-tmp-30N.tif
1995-09-tmp-30N.tif
1996-09-tmp-30N.tif
1997-09-tmp-30N.tif
1998-09-tmp-30N.tif
1999-09-tmp-30N.tif
2000-09-tmp-30N.tif
2001-09-tmp-30N.tif
2002-09-tmp-30N.tif
2003-09-tmp-30N.tif
2004-09-tmp-30N.tif
2005-09-tmp-30N.tif
2006-09-tmp-30N.tif
2007-09-tmp-30N.tif
2008-09-tmp-30N.tif
2009-09-tmp-30N.tif
2010-09-tmp-30N.tif
2011-09-tmp-30N.tif
2012-09-tmp-30N.tif
2013-09-tmp-30N.tif
2014-09-tmp-30N.tif
1982-10-tmp-30N.tif
1983-10-tmp-30N.tif
1984-10-tmp-30N.tif
1985-10-tmp-30N.tif
1986-10-tmp-30N.tif
1987-10-tmp-30N.tif
1988-10-tmp-30N.tif
1989-10-tmp-30N.tif
1990-10-tmp-30N.tif
1991-10-tmp-30N.tif
1992-10-tmp-30N.tif
1993-10-tmp-30N.tif
1994-10-tmp-30N.tif
1995-10-tmp-30N.tif
1996-10-tmp-30N.tif
1997-10-tmp-30N.tif
1998-10-tmp-30N.tif
1999-10-tmp-30N.tif
2000-10-tmp-30N.tif
2001-10-tmp-30N.tif
2002-10-tmp-30N.tif
2003-10-tmp-30N.tif
2004-10-tmp-30N.tif
2005-10-tmp-30N.tif
2006-10-tmp-30N.tif
2007-10-tmp-30N.tif
2008-10-tmp-30N.tif
2009-10-tmp-30N.tif
2010-10-tmp-30N.tif
2011-10-tmp-30N.tif
2012-10-tmp-30N.tif
2013-10-tmp-30N.tif
2014-10-tmp-30N.tif
1982-11-tmp-30N.tif
1983-11-tmp-30N.tif
1984-11-tmp-30N.tif
1985-11-tmp-30N.tif
1986-11-tmp-30N.tif
1987-11-tmp-30N.tif
1988-11-tmp-30N.tif
1989-11-tmp-30N.tif
1990-11-tmp-30N.tif
1991-11-tmp-30N.tif
1992-11-tmp-30N.tif
1993-11-tmp-30N.tif
1994-11-tmp-30N.tif
1995-11-tmp-30N.tif
1996-11-tmp-30N.tif
1997-11-tmp-30N.tif
1998-11-tmp-30N.tif
1999-11-tmp-30N.tif
2000-11-tmp-30N.tif
2001-11-tmp-30N.tif
2002-11-tmp-30N.tif
2003-11-tmp-30N.tif
2004-11-tmp-30N.tif
2005-11-tmp-30N.tif
2006-11-tmp-30N.tif
2007-11-tmp-30N.tif
2008-11-tmp-30N.tif
2009-11-tmp-30N.tif
2010-11-tmp-30N.tif
2011-11-tmp-30N.tif
2012-11-tmp-30N.tif
2013-11-tmp-30N.tif
2014-11-tmp-30N.tif
1982-12-tmp-30N.tif
1983-12-tmp-30N.tif
1984-12-tmp-30N.tif
1985-12-tmp-30N.tif
1986-12-tmp-30N.tif
1987-12-tmp-30N.tif
1988-12-tmp-30N.tif
1989-12-tmp-30N.tif
1990-12-tmp-30N.tif
1991-12-tmp-30N.tif
1992-12-tmp-30N.tif
1993-12-tmp-30N.tif
1994-12-tmp-30N.tif
1995-12-tmp-30N.tif
1996-12-tmp-30N.tif
1997-12-tmp-30N.tif
1998-12-tmp-30N.tif
1999-12-tmp-30N.tif
2000-12-tmp-30N.tif
2001-12-tmp-30N.tif
2002-12-tmp-30N.tif
2003-12-tmp-30N.tif
2004-12-tmp-30N.tif
2005-12-tmp-30N.tif
2006-12-tmp-30N.tif
2007-12-tmp-30N.tif
2008-12-tmp-30N.tif
2009-12-tmp-30N.tif
2010-12-tmp-30N.tif
2011-12-tmp-30N.tif
2012-12-tmp-30N.tif
2013-12-tmp-30N.tif
2014-12-tmp-30N.tif

In [22]:
#pre每月三维数组

#6月
pre_tifFolder = '/data/shuping/data/climate_data/CRU TS V4.01/tif/clip_30N_0.5/pre'
pre_6_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-06-pre-30N.tif'
    print(tifname)
    pre_tifpath = os.path.join(pre_tifFolder, str(m), tifname)
    pre_data = readTif(pre_tifpath)
    pre_dataset = pre_data.ReadAsArray(0,0,720,120)
    a = m-1982
    pre_6_datasets[a] = pre_dataset
    pre_6_datasets = np.where(pre_6_datasets == -999, np.nan, pre_6_datasets)

#7月
pre_7_datasets = np.zeros((33, 120, 720))
for m in range(1982, 2015):
    tifname = str(m)+ '-07-pre-30N.tif'
    print(tifname)
    pre_tifpath = os.path.join(pre_tifFolder, str(m), tifname)
    pre_data = readTif(pre_tifpath)
    pre_dataset = pre_data.ReadAsArray(0,0,720,120)
    a = m-1982
    pre_7_datasets[a] = pre_dataset
    pre_7_datasets = np.where(pre_7_datasets == -999, np.nan, pre_7_datasets)

#8月
pre_8_datasets = np.zeros((33, 120, 720))
for m in range(1982, 2015):
    tifname = str(m)+ '-08-pre-30N.tif'
    print(tifname)
    pre_tifpath = os.path.join(pre_tifFolder, str(m), tifname)
    pre_data = readTif(pre_tifpath)
    pre_dataset = pre_data.ReadAsArray(0,0,720,120)
    a = m-1982
    pre_8_datasets[a] = pre_dataset
    pre_8_datasets = np.where(pre_8_datasets == -999, np.nan, pre_8_datasets)

#9月
pre_9_datasets = np.zeros((33, 120, 720))
for m in range(1982, 2015):
    tifname = str(m)+ '-09-pre-30N.tif'
    print(tifname)
    pre_tifpath = os.path.join(pre_tifFolder, str(m), tifname)
    pre_data = readTif(pre_tifpath)
    pre_dataset = pre_data.ReadAsArray(0,0,720,120)
    a = m-1982
    pre_9_datasets[a] = pre_dataset
    pre_9_datasets = np.where(pre_9_datasets == -999, np.nan, pre_9_datasets)

#10月
pre_10_datasets = np.zeros((33, 120, 720))
for m in range(1982, 2015):
    tifname = str(m)+ '-10-pre-30N.tif'
    print(tifname)
    pre_tifpath = os.path.join(pre_tifFolder, str(m), tifname)
    pre_data = readTif(pre_tifpath)
    pre_dataset = pre_data.ReadAsArray(0,0,720,120)
    a = m-1982
    pre_10_datasets[a] = pre_dataset
    pre_10_datasets = np.where(pre_10_datasets == -999, np.nan, pre_10_datasets)

#11月
pre_11_datasets = np.zeros((33, 120, 720))
for m in range(1982, 2015):
    tifname = str(m)+ '-11-pre-30N.tif'
    print(tifname)
    pre_tifpath = os.path.join(pre_tifFolder, str(m), tifname)
    pre_data = readTif(pre_tifpath)
    pre_dataset = pre_data.ReadAsArray(0,0,720,120)
    a = m-1982
    pre_11_datasets[a] = pre_dataset
    pre_11_datasets = np.where(pre_11_datasets == -999, np.nan, pre_11_datasets)

#12月
pre_12_datasets = np.zeros((33, 120, 720))
for m in range(1982, 2015):
    tifname = str(m)+ '-12-pre-30N.tif'
    print(tifname)
    pre_tifpath = os.path.join(pre_tifFolder, str(m), tifname)
    pre_data = readTif(pre_tifpath)
    pre_dataset = pre_data.ReadAsArray(0,0,720,120)
    a = m-1982
    pre_12_datasets[a] = pre_dataset
    pre_12_datasets = np.where(pre_12_datasets == -999, np.nan, pre_12_datasets)

1982-06-pre-30N.tif
1983-06-pre-30N.tif
1984-06-pre-30N.tif
1985-06-pre-30N.tif
1986-06-pre-30N.tif
1987-06-pre-30N.tif
1988-06-pre-30N.tif
1989-06-pre-30N.tif
1990-06-pre-30N.tif
1991-06-pre-30N.tif
1992-06-pre-30N.tif
1993-06-pre-30N.tif
1994-06-pre-30N.tif
1995-06-pre-30N.tif
1996-06-pre-30N.tif
1997-06-pre-30N.tif
1998-06-pre-30N.tif
1999-06-pre-30N.tif
2000-06-pre-30N.tif
2001-06-pre-30N.tif
2002-06-pre-30N.tif
2003-06-pre-30N.tif
2004-06-pre-30N.tif
2005-06-pre-30N.tif
2006-06-pre-30N.tif
2007-06-pre-30N.tif
2008-06-pre-30N.tif
2009-06-pre-30N.tif
2010-06-pre-30N.tif
2011-06-pre-30N.tif
2012-06-pre-30N.tif
2013-06-pre-30N.tif
2014-06-pre-30N.tif
1982-07-pre-30N.tif
1983-07-pre-30N.tif
1984-07-pre-30N.tif
1985-07-pre-30N.tif
1986-07-pre-30N.tif
1987-07-pre-30N.tif
1988-07-pre-30N.tif
1989-07-pre-30N.tif
1990-07-pre-30N.tif
1991-07-pre-30N.tif
1992-07-pre-30N.tif
1993-07-pre-30N.tif
1994-07-pre-30N.tif
1995-07-pre-30N.tif
1996-07-pre-30N.tif
1997-07-pre-30N.tif
1998-07-pre-30N.tif
1999-07-pre-30N.tif
2000-07-pre-30N.tif
2001-07-pre-30N.tif
2002-07-pre-30N.tif
2003-07-pre-30N.tif
2004-07-pre-30N.tif
2005-07-pre-30N.tif
2006-07-pre-30N.tif
2007-07-pre-30N.tif
2008-07-pre-30N.tif
2009-07-pre-30N.tif
2010-07-pre-30N.tif
2011-07-pre-30N.tif
2012-07-pre-30N.tif
2013-07-pre-30N.tif
2014-07-pre-30N.tif
1982-08-pre-30N.tif
1983-08-pre-30N.tif
1984-08-pre-30N.tif
1985-08-pre-30N.tif
1986-08-pre-30N.tif
1987-08-pre-30N.tif
1988-08-pre-30N.tif
1989-08-pre-30N.tif
1990-08-pre-30N.tif
1991-08-pre-30N.tif
1992-08-pre-30N.tif
1993-08-pre-30N.tif
1994-08-pre-30N.tif
1995-08-pre-30N.tif
1996-08-pre-30N.tif
1997-08-pre-30N.tif
1998-08-pre-30N.tif
1999-08-pre-30N.tif
2000-08-pre-30N.tif
2001-08-pre-30N.tif
2002-08-pre-30N.tif
2003-08-pre-30N.tif
2004-08-pre-30N.tif
2005-08-pre-30N.tif
2006-08-pre-30N.tif
2007-08-pre-30N.tif
2008-08-pre-30N.tif
2009-08-pre-30N.tif
2010-08-pre-30N.tif
2011-08-pre-30N.tif
2012-08-pre-30N.tif
2013-08-pre-30N.tif
2014-08-pre-30N.tif
1982-09-pre-30N.tif
1983-09-pre-30N.tif
1984-09-pre-30N.tif
1985-09-pre-30N.tif
1986-09-pre-30N.tif
1987-09-pre-30N.tif
1988-09-pre-30N.tif
1989-09-pre-30N.tif
1990-09-pre-30N.tif
1991-09-pre-30N.tif
1992-09-pre-30N.tif
1993-09-pre-30N.tif
1994-09-pre-30N.tif
1995-09-pre-30N.tif
1996-09-pre-30N.tif
1997-09-pre-30N.tif
1998-09-pre-30N.tif
1999-09-pre-30N.tif
2000-09-pre-30N.tif
2001-09-pre-30N.tif
2002-09-pre-30N.tif
2003-09-pre-30N.tif
2004-09-pre-30N.tif
2005-09-pre-30N.tif
2006-09-pre-30N.tif
2007-09-pre-30N.tif
2008-09-pre-30N.tif
2009-09-pre-30N.tif
2010-09-pre-30N.tif
2011-09-pre-30N.tif
2012-09-pre-30N.tif
2013-09-pre-30N.tif
2014-09-pre-30N.tif
1982-10-pre-30N.tif
1983-10-pre-30N.tif
1984-10-pre-30N.tif
1985-10-pre-30N.tif
1986-10-pre-30N.tif
1987-10-pre-30N.tif
1988-10-pre-30N.tif
1989-10-pre-30N.tif
1990-10-pre-30N.tif
1991-10-pre-30N.tif
1992-10-pre-30N.tif
1993-10-pre-30N.tif
1994-10-pre-30N.tif
1995-10-pre-30N.tif
1996-10-pre-30N.tif
1997-10-pre-30N.tif
1998-10-pre-30N.tif
1999-10-pre-30N.tif
2000-10-pre-30N.tif
2001-10-pre-30N.tif
2002-10-pre-30N.tif
2003-10-pre-30N.tif
2004-10-pre-30N.tif
2005-10-pre-30N.tif
2006-10-pre-30N.tif
2007-10-pre-30N.tif
2008-10-pre-30N.tif
2009-10-pre-30N.tif
2010-10-pre-30N.tif
2011-10-pre-30N.tif
2012-10-pre-30N.tif
2013-10-pre-30N.tif
2014-10-pre-30N.tif
1982-11-pre-30N.tif
1983-11-pre-30N.tif
1984-11-pre-30N.tif
1985-11-pre-30N.tif
1986-11-pre-30N.tif
1987-11-pre-30N.tif
1988-11-pre-30N.tif
1989-11-pre-30N.tif
1990-11-pre-30N.tif
1991-11-pre-30N.tif
1992-11-pre-30N.tif
1993-11-pre-30N.tif
1994-11-pre-30N.tif
1995-11-pre-30N.tif
1996-11-pre-30N.tif
1997-11-pre-30N.tif
1998-11-pre-30N.tif
1999-11-pre-30N.tif
2000-11-pre-30N.tif
2001-11-pre-30N.tif
2002-11-pre-30N.tif
2003-11-pre-30N.tif
2004-11-pre-30N.tif
2005-11-pre-30N.tif
2006-11-pre-30N.tif
2007-11-pre-30N.tif
2008-11-pre-30N.tif
2009-11-pre-30N.tif
2010-11-pre-30N.tif
2011-11-pre-30N.tif
2012-11-pre-30N.tif
2013-11-pre-30N.tif
2014-11-pre-30N.tif
1982-12-pre-30N.tif
1983-12-pre-30N.tif
1984-12-pre-30N.tif
1985-12-pre-30N.tif
1986-12-pre-30N.tif
1987-12-pre-30N.tif
1988-12-pre-30N.tif
1989-12-pre-30N.tif
1990-12-pre-30N.tif
1991-12-pre-30N.tif
1992-12-pre-30N.tif
1993-12-pre-30N.tif
1994-12-pre-30N.tif
1995-12-pre-30N.tif
1996-12-pre-30N.tif
1997-12-pre-30N.tif
1998-12-pre-30N.tif
1999-12-pre-30N.tif
2000-12-pre-30N.tif
2001-12-pre-30N.tif
2002-12-pre-30N.tif
2003-12-pre-30N.tif
2004-12-pre-30N.tif
2005-12-pre-30N.tif
2006-12-pre-30N.tif
2007-12-pre-30N.tif
2008-12-pre-30N.tif
2009-12-pre-30N.tif
2010-12-pre-30N.tif
2011-12-pre-30N.tif
2012-12-pre-30N.tif
2013-12-pre-30N.tif
2014-12-pre-30N.tif

In [23]:
#solr每月三维数组

#6月
solr_tifFolder = '/data/shuping/data/CRUNCEP_solr/clip_tif'
solr_6_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = 'solr-' + str(m)+ '-06-30N.tif'
    print(tifname)
    solr_tifpath = os.path.join(solr_tifFolder, str(m), tifname)
    solr_data = readTif(solr_tifpath)
    solr_dataset = solr_data.ReadAsArray(0,0,720,120)
    a = m-1982
    solr_6_datasets[a] = solr_dataset

#7月
solr_7_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = 'solr-' + str(m)+ '-07-30N.tif'
    print(tifname)
    solr_tifpath = os.path.join(solr_tifFolder, str(m), tifname)
    solr_data = readTif(solr_tifpath)
    solr_dataset = solr_data.ReadAsArray(0,0,720,120)
    a = m-1982
    solr_7_datasets[a] = solr_dataset

#8月
solr_8_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = 'solr-' + str(m)+ '-08-30N.tif'
    print(tifname)
    solr_tifpath = os.path.join(solr_tifFolder, str(m), tifname)
    solr_data = readTif(solr_tifpath)
    solr_dataset = solr_data.ReadAsArray(0,0,720,120)
    a = m-1982
    solr_8_datasets[a] = solr_dataset

#9月
solr_9_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = 'solr-' + str(m)+ '-09-30N.tif'
    print(tifname)
    solr_tifpath = os.path.join(solr_tifFolder, str(m), tifname)
    solr_data = readTif(solr_tifpath)
    solr_dataset = solr_data.ReadAsArray(0,0,720,120)
    a = m-1982
    solr_9_datasets[a] = solr_dataset

#10月
solr_10_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = 'solr-' + str(m)+ '-10-30N.tif'
    print(tifname)
    solr_tifpath = os.path.join(solr_tifFolder, str(m), tifname)
    solr_data = readTif(solr_tifpath)
    solr_dataset = solr_data.ReadAsArray(0,0,720,120)
    a = m-1982
    solr_10_datasets[a] = solr_dataset

#11月
solr_11_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = 'solr-' + str(m)+ '-11-30N.tif'
    print(tifname)
    solr_tifpath = os.path.join(solr_tifFolder, str(m), tifname)
    solr_data = readTif(solr_tifpath)
    solr_dataset = solr_data.ReadAsArray(0,0,720,120)
    a = m-1982
    solr_11_datasets[a] = solr_dataset

#12月
solr_12_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = 'solr-' + str(m)+ '-12-30N.tif'
    print(tifname)
    solr_tifpath = os.path.join(solr_tifFolder, str(m), tifname)
    solr_data = readTif(solr_tifpath)
    solr_dataset = solr_data.ReadAsArray(0,0,720,120)
    a = m-1982
    solr_12_datasets[a] = solr_dataset

solr-1982-06-30N.tif
solr-1983-06-30N.tif
solr-1984-06-30N.tif
solr-1985-06-30N.tif
solr-1986-06-30N.tif
solr-1987-06-30N.tif
solr-1988-06-30N.tif
solr-1989-06-30N.tif
solr-1990-06-30N.tif
solr-1991-06-30N.tif
solr-1992-06-30N.tif
solr-1993-06-30N.tif
solr-1994-06-30N.tif
solr-1995-06-30N.tif
solr-1996-06-30N.tif
solr-1997-06-30N.tif
solr-1998-06-30N.tif
solr-1999-06-30N.tif
solr-2000-06-30N.tif
solr-2001-06-30N.tif
solr-2002-06-30N.tif
solr-2003-06-30N.tif
solr-2004-06-30N.tif
solr-2005-06-30N.tif
solr-2006-06-30N.tif
solr-2007-06-30N.tif
solr-2008-06-30N.tif
solr-2009-06-30N.tif
solr-2010-06-30N.tif
solr-2011-06-30N.tif
solr-2012-06-30N.tif
solr-2013-06-30N.tif
solr-2014-06-30N.tif
solr-1982-07-30N.tif
solr-1983-07-30N.tif
solr-1984-07-30N.tif
solr-1985-07-30N.tif
solr-1986-07-30N.tif
solr-1987-07-30N.tif
solr-1988-07-30N.tif
solr-1989-07-30N.tif
solr-1990-07-30N.tif
solr-1991-07-30N.tif
solr-1992-07-30N.tif
solr-1993-07-30N.tif
solr-1994-07-30N.tif
solr-1995-07-30N.tif
solr-1996-07-30N.tif
solr-1997-07-30N.tif
solr-1998-07-30N.tif
solr-1999-07-30N.tif
solr-2000-07-30N.tif
solr-2001-07-30N.tif
solr-2002-07-30N.tif
solr-2003-07-30N.tif
solr-2004-07-30N.tif
solr-2005-07-30N.tif
solr-2006-07-30N.tif
solr-2007-07-30N.tif
solr-2008-07-30N.tif
solr-2009-07-30N.tif
solr-2010-07-30N.tif
solr-2011-07-30N.tif
solr-2012-07-30N.tif
solr-2013-07-30N.tif
solr-2014-07-30N.tif
solr-1982-08-30N.tif
solr-1983-08-30N.tif
solr-1984-08-30N.tif
solr-1985-08-30N.tif
solr-1986-08-30N.tif
solr-1987-08-30N.tif
solr-1988-08-30N.tif
solr-1989-08-30N.tif
solr-1990-08-30N.tif
solr-1991-08-30N.tif
solr-1992-08-30N.tif
solr-1993-08-30N.tif
solr-1994-08-30N.tif
solr-1995-08-30N.tif
solr-1996-08-30N.tif
solr-1997-08-30N.tif
solr-1998-08-30N.tif
solr-1999-08-30N.tif
solr-2000-08-30N.tif
solr-2001-08-30N.tif
solr-2002-08-30N.tif
solr-2003-08-30N.tif
solr-2004-08-30N.tif
solr-2005-08-30N.tif
solr-2006-08-30N.tif
solr-2007-08-30N.tif
solr-2008-08-30N.tif
solr-2009-08-30N.tif
solr-2010-08-30N.tif
solr-2011-08-30N.tif
solr-2012-08-30N.tif
solr-2013-08-30N.tif
solr-2014-08-30N.tif
solr-1982-09-30N.tif
solr-1983-09-30N.tif
solr-1984-09-30N.tif
solr-1985-09-30N.tif
solr-1986-09-30N.tif
solr-1987-09-30N.tif
solr-1988-09-30N.tif
solr-1989-09-30N.tif
solr-1990-09-30N.tif
solr-1991-09-30N.tif
solr-1992-09-30N.tif
solr-1993-09-30N.tif
solr-1994-09-30N.tif
solr-1995-09-30N.tif
solr-1996-09-30N.tif
solr-1997-09-30N.tif
solr-1998-09-30N.tif
solr-1999-09-30N.tif
solr-2000-09-30N.tif
solr-2001-09-30N.tif
solr-2002-09-30N.tif
solr-2003-09-30N.tif
solr-2004-09-30N.tif
solr-2005-09-30N.tif
solr-2006-09-30N.tif
solr-2007-09-30N.tif
solr-2008-09-30N.tif
solr-2009-09-30N.tif
solr-2010-09-30N.tif
solr-2011-09-30N.tif
solr-2012-09-30N.tif
solr-2013-09-30N.tif
solr-2014-09-30N.tif
solr-1982-10-30N.tif
solr-1983-10-30N.tif
solr-1984-10-30N.tif
solr-1985-10-30N.tif
solr-1986-10-30N.tif
solr-1987-10-30N.tif
solr-1988-10-30N.tif
solr-1989-10-30N.tif
solr-1990-10-30N.tif
solr-1991-10-30N.tif
solr-1992-10-30N.tif
solr-1993-10-30N.tif
solr-1994-10-30N.tif
solr-1995-10-30N.tif
solr-1996-10-30N.tif
solr-1997-10-30N.tif
solr-1998-10-30N.tif
solr-1999-10-30N.tif
solr-2000-10-30N.tif
solr-2001-10-30N.tif
solr-2002-10-30N.tif
solr-2003-10-30N.tif
solr-2004-10-30N.tif
solr-2005-10-30N.tif
solr-2006-10-30N.tif
solr-2007-10-30N.tif
solr-2008-10-30N.tif
solr-2009-10-30N.tif
solr-2010-10-30N.tif
solr-2011-10-30N.tif
solr-2012-10-30N.tif
solr-2013-10-30N.tif
solr-2014-10-30N.tif
solr-1982-11-30N.tif
solr-1983-11-30N.tif
solr-1984-11-30N.tif
solr-1985-11-30N.tif
solr-1986-11-30N.tif
solr-1987-11-30N.tif
solr-1988-11-30N.tif
solr-1989-11-30N.tif
solr-1990-11-30N.tif
solr-1991-11-30N.tif
solr-1992-11-30N.tif
solr-1993-11-30N.tif
solr-1994-11-30N.tif
solr-1995-11-30N.tif
solr-1996-11-30N.tif
solr-1997-11-30N.tif
solr-1998-11-30N.tif
solr-1999-11-30N.tif
solr-2000-11-30N.tif
solr-2001-11-30N.tif
solr-2002-11-30N.tif
solr-2003-11-30N.tif
solr-2004-11-30N.tif
solr-2005-11-30N.tif
solr-2006-11-30N.tif
solr-2007-11-30N.tif
solr-2008-11-30N.tif
solr-2009-11-30N.tif
solr-2010-11-30N.tif
solr-2011-11-30N.tif
solr-2012-11-30N.tif
solr-2013-11-30N.tif
solr-2014-11-30N.tif
solr-1982-12-30N.tif
solr-1983-12-30N.tif
solr-1984-12-30N.tif
solr-1985-12-30N.tif
solr-1986-12-30N.tif
solr-1987-12-30N.tif
solr-1988-12-30N.tif
solr-1989-12-30N.tif
solr-1990-12-30N.tif
solr-1991-12-30N.tif
solr-1992-12-30N.tif
solr-1993-12-30N.tif
solr-1994-12-30N.tif
solr-1995-12-30N.tif
solr-1996-12-30N.tif
solr-1997-12-30N.tif
solr-1998-12-30N.tif
solr-1999-12-30N.tif
solr-2000-12-30N.tif
solr-2001-12-30N.tif
solr-2002-12-30N.tif
solr-2003-12-30N.tif
solr-2004-12-30N.tif
solr-2005-12-30N.tif
solr-2006-12-30N.tif
solr-2007-12-30N.tif
solr-2008-12-30N.tif
solr-2009-12-30N.tif
solr-2010-12-30N.tif
solr-2011-12-30N.tif
solr-2012-12-30N.tif
solr-2013-12-30N.tif
solr-2014-12-30N.tif

In [24]:
#sm每月三维数组

#6月
sm_tifFolder = '/data/shuping/data/GLDAS/30N_sm_0.5'
sm_6_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-06-sm-30N.tif'
    print(tifname)
    sm_tifpath = os.path.join(sm_tifFolder, str(m), tifname)
    sm_data = readTif(sm_tifpath)
    sm_dataset = sm_data.ReadAsArray(0,0,720,120)
    a = m-1982
    sm_6_datasets[a] = sm_dataset
    sm_6_datasets = np.where(sm_6_datasets == -999, np.nan, sm_6_datasets)

#7月
sm_7_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-07-sm-30N.tif'
    print(tifname)
    sm_tifpath = os.path.join(sm_tifFolder, str(m), tifname)
    sm_data = readTif(sm_tifpath)
    sm_dataset = sm_data.ReadAsArray(0,0,720,120)
    a = m-1982
    sm_7_datasets[a] = sm_dataset
    sm_7_datasets = np.where(sm_7_datasets == -999, np.nan, sm_7_datasets)

#8月
sm_8_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-08-sm-30N.tif'
    print(tifname)
    sm_tifpath = os.path.join(sm_tifFolder, str(m), tifname)
    sm_data = readTif(sm_tifpath)
    sm_dataset = sm_data.ReadAsArray(0,0,720,120)
    a = m-1982
    sm_8_datasets[a] = sm_dataset
    sm_8_datasets = np.where(sm_8_datasets == -999, np.nan, sm_8_datasets)

#9月
sm_9_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-09-sm-30N.tif'
    print(tifname)
    sm_tifpath = os.path.join(sm_tifFolder, str(m), tifname)
    sm_data = readTif(sm_tifpath)
    sm_dataset = sm_data.ReadAsArray(0,0,720,120)
    a = m-1982
    sm_9_datasets[a] = sm_dataset
    sm_9_datasets = np.where(sm_9_datasets == -999, np.nan, sm_9_datasets)

#10月
sm_10_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-10-sm-30N.tif'
    print(tifname)
    sm_tifpath = os.path.join(sm_tifFolder, str(m), tifname)
    sm_data = readTif(sm_tifpath)
    sm_dataset = sm_data.ReadAsArray(0,0,720,120)
    a = m-1982
    sm_10_datasets[a] = sm_dataset
    sm_10_datasets = np.where(sm_10_datasets == -999, np.nan, sm_10_datasets)

#11月
sm_11_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-11-sm-30N.tif'
    print(tifname)
    sm_tifpath = os.path.join(sm_tifFolder, str(m), tifname)
    sm_data = readTif(sm_tifpath)
    sm_dataset = sm_data.ReadAsArray(0,0,720,120)
    a = m-1982
    sm_11_datasets[a] = sm_dataset
    sm_11_datasets = np.where(sm_11_datasets == -999, np.nan, sm_11_datasets)

#12月
sm_12_datasets = np.zeros((33, 120, 720))

for m in range(1982, 2015):
    tifname = str(m)+ '-12-sm-30N.tif'
    print(tifname)
    sm_tifpath = os.path.join(sm_tifFolder, str(m), tifname)
    sm_data = readTif(sm_tifpath)
    sm_dataset = sm_data.ReadAsArray(0,0,720,120)
    a = m-1982
    sm_12_datasets[a] = sm_dataset
    sm_12_datasets = np.where(sm_12_datasets == -999, np.nan, sm_12_datasets)

1982-06-sm-30N.tif
1983-06-sm-30N.tif
1984-06-sm-30N.tif
1985-06-sm-30N.tif
1986-06-sm-30N.tif
1987-06-sm-30N.tif
1988-06-sm-30N.tif
1989-06-sm-30N.tif
1990-06-sm-30N.tif
1991-06-sm-30N.tif
1992-06-sm-30N.tif
1993-06-sm-30N.tif
1994-06-sm-30N.tif
1995-06-sm-30N.tif
1996-06-sm-30N.tif
1997-06-sm-30N.tif
1998-06-sm-30N.tif
1999-06-sm-30N.tif
2000-06-sm-30N.tif
2001-06-sm-30N.tif
2002-06-sm-30N.tif
2003-06-sm-30N.tif
2004-06-sm-30N.tif
2005-06-sm-30N.tif
2006-06-sm-30N.tif
2007-06-sm-30N.tif
2008-06-sm-30N.tif
2009-06-sm-30N.tif
2010-06-sm-30N.tif
2011-06-sm-30N.tif
2012-06-sm-30N.tif
2013-06-sm-30N.tif
2014-06-sm-30N.tif
1982-07-sm-30N.tif
1983-07-sm-30N.tif
1984-07-sm-30N.tif
1985-07-sm-30N.tif
1986-07-sm-30N.tif
1987-07-sm-30N.tif
1988-07-sm-30N.tif
1989-07-sm-30N.tif
1990-07-sm-30N.tif
1991-07-sm-30N.tif
1992-07-sm-30N.tif
1993-07-sm-30N.tif
1994-07-sm-30N.tif
1995-07-sm-30N.tif
1996-07-sm-30N.tif
1997-07-sm-30N.tif
1998-07-sm-30N.tif
1999-07-sm-30N.tif
2000-07-sm-30N.tif
2001-07-sm-30N.tif
2002-07-sm-30N.tif
2003-07-sm-30N.tif
2004-07-sm-30N.tif
2005-07-sm-30N.tif
2006-07-sm-30N.tif
2007-07-sm-30N.tif
2008-07-sm-30N.tif
2009-07-sm-30N.tif
2010-07-sm-30N.tif
2011-07-sm-30N.tif
2012-07-sm-30N.tif
2013-07-sm-30N.tif
2014-07-sm-30N.tif
1982-08-sm-30N.tif
1983-08-sm-30N.tif
1984-08-sm-30N.tif
1985-08-sm-30N.tif
1986-08-sm-30N.tif
1987-08-sm-30N.tif
1988-08-sm-30N.tif
1989-08-sm-30N.tif
1990-08-sm-30N.tif
1991-08-sm-30N.tif
1992-08-sm-30N.tif
1993-08-sm-30N.tif
1994-08-sm-30N.tif
1995-08-sm-30N.tif
1996-08-sm-30N.tif
1997-08-sm-30N.tif
1998-08-sm-30N.tif
1999-08-sm-30N.tif
2000-08-sm-30N.tif
2001-08-sm-30N.tif
2002-08-sm-30N.tif
2003-08-sm-30N.tif
2004-08-sm-30N.tif
2005-08-sm-30N.tif
2006-08-sm-30N.tif
2007-08-sm-30N.tif
2008-08-sm-30N.tif
2009-08-sm-30N.tif
2010-08-sm-30N.tif
2011-08-sm-30N.tif
2012-08-sm-30N.tif
2013-08-sm-30N.tif
2014-08-sm-30N.tif
1982-09-sm-30N.tif
1983-09-sm-30N.tif
1984-09-sm-30N.tif
1985-09-sm-30N.tif
1986-09-sm-30N.tif
1987-09-sm-30N.tif
1988-09-sm-30N.tif
1989-09-sm-30N.tif
1990-09-sm-30N.tif
1991-09-sm-30N.tif
1992-09-sm-30N.tif
1993-09-sm-30N.tif
1994-09-sm-30N.tif
1995-09-sm-30N.tif
1996-09-sm-30N.tif
1997-09-sm-30N.tif
1998-09-sm-30N.tif
1999-09-sm-30N.tif
2000-09-sm-30N.tif
2001-09-sm-30N.tif
2002-09-sm-30N.tif
2003-09-sm-30N.tif
2004-09-sm-30N.tif
2005-09-sm-30N.tif
2006-09-sm-30N.tif
2007-09-sm-30N.tif
2008-09-sm-30N.tif
2009-09-sm-30N.tif
2010-09-sm-30N.tif
2011-09-sm-30N.tif
2012-09-sm-30N.tif
2013-09-sm-30N.tif
2014-09-sm-30N.tif
1982-10-sm-30N.tif
1983-10-sm-30N.tif
1984-10-sm-30N.tif
1985-10-sm-30N.tif
1986-10-sm-30N.tif
1987-10-sm-30N.tif
1988-10-sm-30N.tif
1989-10-sm-30N.tif
1990-10-sm-30N.tif
1991-10-sm-30N.tif
1992-10-sm-30N.tif
1993-10-sm-30N.tif
1994-10-sm-30N.tif
1995-10-sm-30N.tif
1996-10-sm-30N.tif
1997-10-sm-30N.tif
1998-10-sm-30N.tif
1999-10-sm-30N.tif
2000-10-sm-30N.tif
2001-10-sm-30N.tif
2002-10-sm-30N.tif
2003-10-sm-30N.tif
2004-10-sm-30N.tif
2005-10-sm-30N.tif
2006-10-sm-30N.tif
2007-10-sm-30N.tif
2008-10-sm-30N.tif
2009-10-sm-30N.tif
2010-10-sm-30N.tif
2011-10-sm-30N.tif
2012-10-sm-30N.tif
2013-10-sm-30N.tif
2014-10-sm-30N.tif
1982-11-sm-30N.tif
1983-11-sm-30N.tif
1984-11-sm-30N.tif
1985-11-sm-30N.tif
1986-11-sm-30N.tif
1987-11-sm-30N.tif
1988-11-sm-30N.tif
1989-11-sm-30N.tif
1990-11-sm-30N.tif
1991-11-sm-30N.tif
1992-11-sm-30N.tif
1993-11-sm-30N.tif
1994-11-sm-30N.tif
1995-11-sm-30N.tif
1996-11-sm-30N.tif
1997-11-sm-30N.tif
1998-11-sm-30N.tif
1999-11-sm-30N.tif
2000-11-sm-30N.tif
2001-11-sm-30N.tif
2002-11-sm-30N.tif
2003-11-sm-30N.tif
2004-11-sm-30N.tif
2005-11-sm-30N.tif
2006-11-sm-30N.tif
2007-11-sm-30N.tif
2008-11-sm-30N.tif
2009-11-sm-30N.tif
2010-11-sm-30N.tif
2011-11-sm-30N.tif
2012-11-sm-30N.tif
2013-11-sm-30N.tif
2014-11-sm-30N.tif
1982-12-sm-30N.tif
1983-12-sm-30N.tif
1984-12-sm-30N.tif
1985-12-sm-30N.tif
1986-12-sm-30N.tif
1987-12-sm-30N.tif
1988-12-sm-30N.tif
1989-12-sm-30N.tif
1990-12-sm-30N.tif
1991-12-sm-30N.tif
1992-12-sm-30N.tif
1993-12-sm-30N.tif
1994-12-sm-30N.tif
1995-12-sm-30N.tif
1996-12-sm-30N.tif
1997-12-sm-30N.tif
1998-12-sm-30N.tif
1999-12-sm-30N.tif
2000-12-sm-30N.tif
2001-12-sm-30N.tif
2002-12-sm-30N.tif
2003-12-sm-30N.tif
2004-12-sm-30N.tif
2005-12-sm-30N.tif
2006-12-sm-30N.tif
2007-12-sm-30N.tif
2008-12-sm-30N.tif
2009-12-sm-30N.tif
2010-12-sm-30N.tif
2011-12-sm-30N.tif
2012-12-sm-30N.tif
2013-12-sm-30N.tif
2014-12-sm-30N.tif

##woody

###获得单个站点csv

In [ ]:
import pandas as pd
import numpy as np
import os, shutil

In [42]:
woody_file = '/data/shuping/data/china_phenology/xls_data_clean/woody_phenology_clean.csv'
woody_ds =pd.read_csv(woody_file)
woody_ds= woody_ds.drop(['Unnamed: 0'], axis=1)
woody_ds['site'] = woody_ds['site'].astype(int)
woody_ds

       year   site species    sos    eos
0      1981  50639    加拿大杨  123.0  272.0
1      1981  50928      旱柳  118.0  258.0
2      1981  50928    加拿大杨  127.0  258.0
3      1981  50928      山榆  132.0  258.0
4      1981  50928      山楂  120.0  258.0
...     ...    ...     ...    ...    ...
17296  2007  58433      楝树   91.0  276.0
17297  2008  58433      楝树   98.0  297.0
17298  2009  58433      楝树  105.0  295.0
17299  2010  58433      楝树  105.0  302.0
17300  2011  58433      楝树  106.0  305.0

[17301 rows x 5 columns]

In [98]:
file_path = '/data/shuping/data/china_phenology/xls_data_clean/站点经纬度.xlsx'
all_site_lat_lon = pd.read_excel(file_path)
all_site_lat_lon = all_site_lat_lon.drop(['站名', '省称', 'Unnamed: 5'], axis=1)
all_site_lat_lon.columns = ['site','lon','lat']
all_site_lat_lon

       site     lon    lat
0     50971  126.60  45.75
1     53856  110.75  36.47
2     54505  116.11  39.91
3     56279  102.93  30.15
4     56764  101.43  25.53
...     ...     ...    ...
1358  58647  119.13  28.06
1359  58652  120.71  28.85
1360  58659  120.65  28.03
1361  58665  121.42  28.62
1362  58751  120.55  27.68

[1363 rows x 3 columns]

In [102]:
all_site = woody_ds['site'].unique()#返回对应列的不同值
site_lat_lon = pd.DataFrame(columns=['site', 'veg_type', 'multi_sos', 'multi_eos'])
for i in range(len(all_site)):
    single_site_ds = woody_ds[woody_ds.site == all_site[i]]
    species = single_site_ds['species'].unique()
    for j in range(len(species)):
        site_species_ds = single_site_ds[single_site_ds.species == species[j]]
        site_species_ds = site_species_ds[site_species_ds['year'] > 1981]
        site_species_ds = site_species_ds[site_species_ds['year'] < 2015]
        site_species_ds = site_species_ds.reset_index(drop=True)
        a = site_species_ds.shape[0]
        if a >= 15:
            mean_sos = site_species_ds['sos'].mean()
            mean_eos = site_species_ds['eos'].mean()
            name = str(species[j])
            site = str(all_site[i])
            file_name = '/data/shuping/data/china_phenology/partial_corr/15year_csv/' + site  + '_' + name+ '.csv'
            site_species_ds.to_csv(file_name, encoding='utf_8_sig')
            site_lat_lon = site_lat_lon.append(pd.DataFrame({'site':[all_site[i]],'veg_type':[species[j]],'multi_eos':[round(mean_eos/30)],
                                                             'multi_sos': [round(mean_sos/30)]}), ignore_index=True)

site_lat_lon

      site veg_type multi_sos multi_eos
0    50639       榆树         4         9
1    50928       旱柳         4         9
2    50928     加拿大杨         4         9
3    50928      小叶杨         4         9
4    50936      紫丁香         4         9
..     ...      ...       ...       ...
488  58433       刺槐         3         9
489  58433       楝树         3        10
490  53923       白梨         4         9
491  53923       苹果         3         9
492  53923      小叶杨         3         9

[493 rows x 4 columns]

In [103]:
site_lat_lon['lat'] =''
site_lat_lon['lon'] = ''
site_lat_lon

      site veg_type multi_sos multi_eos lat lon
0    50639       榆树         4         9
1    50928       旱柳         4         9
2    50928     加拿大杨         4         9
3    50928      小叶杨         4         9
4    50936      紫丁香         4         9
..     ...      ...       ...       ...  ..  ..
488  58433       刺槐         3         9
489  58433       楝树         3        10
490  53923       白梨         4         9
491  53923       苹果         3         9
492  53923      小叶杨         3         9

[493 rows x 6 columns]

###获得site经纬度和multi_eos

In [143]:
for i in range(len(site_lat_lon)):
    for j in range(len(all_site_lat_lon)):
        if site_lat_lon.site[i] == all_site_lat_lon.site[j]:
            site_lat_lon.lat[i] = all_site_lat_lon.lat[j]
            site_lat_lon.lon[i] = all_site_lat_lon.lon[j]

site_lat_lon.to_csv('/data/shuping/data/china_phenology/partial_corr/site_lat_lon_multi_eos.csv',  encoding='utf_8_sig')
site_lat_lon

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

      site veg_type multi_sos multi_eos    lat     lon
0    50639       榆树         4         9   48.0  122.73
1    50655      中东杨         4         9   48.5  126.18
2    50756      紫丁香         4         9  47.43  126.97
3    50756      小叶杨         4         9  47.43  126.97
4    50779     加拿大杨         4         9  48.36  134.28
..     ...      ...       ...       ...    ...     ...
488  58346       梧桐         4        10  31.36  119.81
489  58356       水杉         3        10  31.41  120.95
490  58433       刺槐         3         9  30.93  118.75
491  58433       楝树         3        10  30.93  118.75
492  58530       垂柳         2        10  29.86  118.43

[493 rows x 6 columns]

In [146]:
file_path = '/data/shuping/data/china_phenology/partial_corr/site_lat_lon_multi_eos.csv'
site_lat_lon = pd.read_csv(file_path)
site_lat_lon = site_lat_lon.drop(['Unnamed: 0'], axis=1)
site_lat_lon

      site veg_type  multi_sos  multi_eos    lat     lon
0    58530       垂柳          2         10  29.86  118.43
1    58433       楝树          3         10  30.93  118.75
2    58433       刺槐          3          9  30.93  118.75
3    58319       刺槐          3          8  31.06  116.95
4    58319      悬铃木          3          8  31.06  116.95
..     ...      ...        ...        ...    ...     ...
481  51076       白蜡          4          8  47.73   88.08
482  51076     加拿大杨          4          9  47.73   88.08
483  50639       榆树          4          9  48.00  122.73
484  50779     加拿大杨          4          9  48.36  134.28
485  50655      中东杨          4          9  48.50  126.18

[486 rows x 6 columns]

In [147]:
site_lat_lon = site_lat_lon.sort_values(by='site', ascending=True)
site_lat_lon = site_lat_lon.reset_index(drop=True)
site_lat_lon

      site veg_type  multi_sos  multi_eos    lat     lon
0    50639       榆树          4          9  48.00  122.73
1    50655      中东杨          4          9  48.50  126.18
2    50756      紫丁香          4          9  47.43  126.97
3    50756      小叶杨          4          9  47.43  126.97
4    50779     加拿大杨          4          9  48.36  134.28
..     ...      ...        ...        ...    ...     ...
481  58346       梧桐          4         10  31.36  119.81
482  58356       水杉          3         10  31.41  120.95
483  58433       楝树          3         10  30.93  118.75
484  58433       刺槐          3          9  30.93  118.75
485  58530       垂柳          2         10  29.86  118.43

[486 rows x 6 columns]

In [115]:
print(site_lat_lon['veg_type'].dtypes)
str(site_lat_lon.veg_type[0][0:2])

object

'榆树'

In [148]:
document_path = '/data/shuping/data/china_phenology/partial_corr/15year_csv/'
out_path = '/data/shuping/data/china_phenology/partial_corr/15year_csv_match_lat_lon'
files = os.listdir(document_path)
for file in files:
    csv_path = document_path + file
    (name,ext) = os.path.splitext(file)
    for i in range(len(site_lat_lon)):
        if int(name[0:5]) == site_lat_lon.site[i] and str(name[6:8]) == str(site_lat_lon.veg_type[i][0:2]):
            shutil.copy(csv_path, os.path.join(out_path, file))

In [275]:
cru_lat_path = '/data/shuping/data/PhenoCam_V2_1674/3day_transition_dates/highest_corrcoef/cru_lat_lon/cru_lat.csv'
cru_lon_path = '/data/shuping/data/PhenoCam_V2_1674/3day_transition_dates/highest_corrcoef/cru_lat_lon/cru_lon.csv'
cru_lon = pd.read_csv(cru_lon_path)
cru_lat = pd.read_csv(cru_lat_path)

In [276]:
cru_lon = cru_lon.drop(['Unnamed: 0'],axis=1)
cru_lon

,0,1,2,3,4,5,6,7,8,9,...,710,711,712,713,714,715,716,717,718,719
0,-179.75,-179.25,-178.75,-178.25,-177.75,-177.25,-176.75,-176.25,-175.75,-175.25,...,175.25,175.75,176.25,176.75,177.25,177.75,178.25,178.75,179.25,179.75
1,-179.75,-179.25,-178.75,-178.25,-177.75,-177.25,-176.75,-176.25,-175.75,-175.25,...,175.25,175.75,176.25,176.75,177.25,177.75,178.25,178.75,179.25,179.75
2,-179.75,-179.25,-178.75,-178.25,-177.75,-177.25,-176.75,-176.25,-175.75,-175.25,...,175.25,175.75,176.25,176.75,177.25,177.75,178.25,178.75,179.25,179.75
3,-179.75,-179.25,-178.75,-178.25,-177.75,-177.25,-176.75,-176.25,-175.75,-175.25,...,175.25,175.75,176.25,176.75,177.25,177.75,178.25,178.75,179.25,179.75
4,-179.75,-179.25,-178.75,-178.25,-177.75,-177.25,-176.75,-176.25,-175.75,-175.25,...,175.25,175.75,176.25,176.75,177.25,177.75,178.25,178.75,179.25,179.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,-179.75,-179.25,-178.75,-178.25,-177.75,-177.25,-176.75,-176.25,-175.75,-175.25,...,175.25,175.75,176.25,176.75,177.25,177.75,178.25,178.75,179.25,179.75
116,-179.75,-179.25,-178.75,-178.25,-177.75,-177.25,-176.75,-176.25,-175.75,-175.25,...,175.25,175.75,176.25,176.75,177.25,177.75,178.25,178.75,179.25,179.75
117,-179.75,-179.25,-178.75,-178.25,-177.75,-177.25,-176.75,-176.25,-175.75,-175.25,...,175.25,175.75,176.25,176.75,177.25,177.75,178.25,178.75,179.25,179.75
118,-179.75,-179.25,-178.75,-178.25,-177.75,-177.25,-176.75,-176.25,-175.75,-175.25,...,175.25,175.75,176.25,176.75,177.25,177.75,178.25,178.75,179.25,179.75
119,-179.75,-179.25,-178.75,-178.25,-177.75,-177.25,-176.75,-176.25,-175.75,-175.25,...,175.25,175.75,176.25,176.75,177.25,177.75,178.25,178.75,179.25,179.75

In [277]:
cru_lat = cru_lat.drop(['Unnamed: 0'],axis=1)
cru_lat

,0,1,2,3,4,5,6,7,8,9,...,710,711,712,713,714,715,716,717,718,719
0,89.75,89.75,89.75,89.75,89.75,89.75,89.75,89.75,89.75,89.75,...,89.75,89.75,89.75,89.75,89.75,89.75,89.75,89.75,89.75,89.75
1,89.25,89.25,89.25,89.25,89.25,89.25,89.25,89.25,89.25,89.25,...,89.25,89.25,89.25,89.25,89.25,89.25,89.25,89.25,89.25,89.25
2,88.75,88.75,88.75,88.75,88.75,88.75,88.75,88.75,88.75,88.75,...,88.75,88.75,88.75,88.75,88.75,88.75,88.75,88.75,88.75,88.75
3,88.25,88.25,88.25,88.25,88.25,88.25,88.25,88.25,88.25,88.25,...,88.25,88.25,88.25,88.25,88.25,88.25,88.25,88.25,88.25,88.25
4,87.75,87.75,87.75,87.75,87.75,87.75,87.75,87.75,87.75,87.75,...,87.75,87.75,87.75,87.75,87.75,87.75,87.75,87.75,87.75,87.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,32.25,32.25,32.25,32.25,32.25,32.25,32.25,32.25,32.25,32.25,...,32.25,32.25,32.25,32.25,32.25,32.25,32.25,32.25,32.25,32.25
116,31.75,31.75,31.75,31.75,31.75,31.75,31.75,31.75,31.75,31.75,...,31.75,31.75,31.75,31.75,31.75,31.75,31.75,31.75,31.75,31.75
117,31.25,31.25,31.25,31.25,31.25,31.25,31.25,31.25,31.25,31.25,...,31.25,31.25,31.25,31.25,31.25,31.25,31.25,31.25,31.25,31.25
118,30.75,30.75,30.75,30.75,30.75,30.75,30.75,30.75,30.75,30.75,...,30.75,30.75,30.75,30.75,30.75,30.75,30.75,30.75,30.75,30.75
119,30.25,30.25,30.25,30.25,30.25,30.25,30.25,30.25,30.25,30.25,...,30.25,30.25,30.25,30.25,30.25,30.25,30.25,30.25,30.25,30.25

In [278]:
cru_lat = np.array(cru_lat)
cru_lat

array([[89.75, 89.75, 89.75, ..., 89.75, 89.75, 89.75],
       [89.25, 89.25, 89.25, ..., 89.25, 89.25, 89.25],
       [88.75, 88.75, 88.75, ..., 88.75, 88.75, 88.75],
       ...,
       [31.25, 31.25, 31.25, ..., 31.25, 31.25, 31.25],
       [30.75, 30.75, 30.75, ..., 30.75, 30.75, 30.75],
       [30.25, 30.25, 30.25, ..., 30.25, 30.25, 30.25]])

In [279]:
cru_lon = np.array(cru_lon)
cru_lon

array([[-179.75, -179.25, -178.75, ...,  178.75,  179.25,  179.75],
       [-179.75, -179.25, -178.75, ...,  178.75,  179.25,  179.75],
       [-179.75, -179.25, -178.75, ...,  178.75,  179.25,  179.75],
       ...,
       [-179.75, -179.25, -178.75, ...,  178.75,  179.25,  179.75],
       [-179.75, -179.25, -178.75, ...,  178.75,  179.25,  179.75],
       [-179.75, -179.25, -178.75, ...,  178.75,  179.25,  179.75]])

In [208]:
file_path = '/data/shuping/data/china_phenology/partial_corr/site_lat_lon_multi_eos.csv'
site_lat_lon = pd.read_csv(file_path)
site_lat_lon = site_lat_lon.drop(['Unnamed: 0'], axis=1)
site_lat_lon['col'] = ''
site_lat_lon['row'] = ''
site_lat_lon = site_lat_lon[site_lat_lon['lat'] >= 30.25]
site_lat_lon = site_lat_lon.reset_index(drop=True)
site_lat_lon

      site veg_type  multi_sos  multi_eos    lat     lon col row
0    58433       楝树          3         10  30.93  118.75
1    58433       刺槐          3          9  30.93  118.75
2    58319       刺槐          3          8  31.06  116.95
3    58319      悬铃木          3          8  31.06  116.95
4    58339       楝树          3         10  31.32  118.88
..     ...      ...        ...        ...    ...     ...  ..  ..
480  51076       白蜡          4          8  47.73   88.08
481  51076     加拿大杨          4          9  47.73   88.08
482  50639       榆树          4          9  48.00  122.73
483  50779     加拿大杨          4          9  48.36  134.28
484  50655      中东杨          4          9  48.50  126.18

[485 rows x 8 columns]

In [209]:
for i in range(len(site_lat_lon)):
    site_lat = site_lat_lon.lat[i]
    site_lon = site_lat_lon.lon[i]
    for m in range(120):
        for n in range(720):
            if abs(cru_lat[m, n]-site_lat)<=0.25 and abs(cru_lon[m, n]-site_lon)<=0.25:
                site_lat_lon.col[i] = n
                site_lat_lon.row[i] = m

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [223]:
site_lat_lon.to_csv('/data/shuping/data/china_phenology/partial_corr/site_lat_lon_multi_eos.csv', encoding='utf_8_sig')
site_lat_lon

      site veg_type  multi_sos  multi_eos    lat     lon  col  row
0    50639       榆树          4          9  48.00  122.73  605   84
1    50655      中东杨          4          9  48.50  126.18  612   83
2    50756      紫丁香          4          9  47.43  126.97  613   85
3    50756      小叶杨          4          9  47.43  126.97  613   85
4    50779     加拿大杨          4          9  48.36  134.28  628   83
..     ...      ...        ...        ...    ...     ...  ...  ...
480  58339       楝树          3         10  31.32  118.88  597  117
481  58346       梧桐          4         10  31.36  119.81  599  117
482  58356       水杉          3         10  31.41  120.95  601  117
483  58433       刺槐          3          9  30.93  118.75  597  118
484  58433       楝树          3         10  30.93  118.75  597  118

[485 rows x 8 columns]

###highest_corrcoef

In [ ]:
import pandas as pd
import os

In [51]:
file_path = '/data/shuping/data/china_phenology/partial_corr/woody/site_lat_lon_multi_eos.csv'
site_lat_lon = pd.read_csv(file_path)
site_lat_lon = site_lat_lon.drop(['Unnamed: 0'], axis=1)
site_lat_lon = site_lat_lon.sort_values(by='site', ascending=True)
site_lat_lon = site_lat_lon.reset_index(drop=True)
site_lat_lon

      site veg_type  multi_sos  multi_eos    lat     lon  col  row
0    50639       榆树          4          9  48.00  122.73  605   84
1    50655      中东杨          4          9  48.50  126.18  612   83
2    50756      紫丁香          4          9  47.43  126.97  613   85
3    50756      小叶杨          4          9  47.43  126.97  613   85
4    50779     加拿大杨          4          9  48.36  134.28  628   83
..     ...      ...        ...        ...    ...     ...  ...  ...
480  58339       楝树          3         10  31.32  118.88  597  117
481  58346       梧桐          4         10  31.36  119.81  599  117
482  58356       水杉          3         10  31.41  120.95  601  117
483  58433       刺槐          3          9  30.93  118.75  597  118
484  58433       楝树          3         10  30.93  118.75  597  118

[485 rows x 8 columns]

In [229]:
file_path = '/data/shuping/data/china_phenology/partial_corr/15year_csv_match_lat_lon/'
files = sorted(os.listdir(file_path))
for k in range(len(files)):
    csv_path = file_path + files[k]
    df = pd.read_csv(csv_path)
    df = df.drop(['Unnamed: 0'], axis=1)
    df['tmean'] = ''
    df['pre'] = ''
    df['solr'] = ''
    df['sm'] = ''
    a = df.shape[0]
    start_year = df.year[0]
    end_year = df.year[a-1]
    i = site_lat_lon.row[k]
    j = site_lat_lon.col[k]
    b = (start_year-1982)-(end_year-1982+1)
    if abs(b)==a:
        eos_series = df.eos
        tmean_series_12 = tmean_12_datasets[start_year-1982:end_year-1982+1, i, j]
        tmean_series_11 = tmean_11_datasets[start_year-1982:end_year-1982+1, i, j]
        tmean_series_10 = tmean_10_datasets[start_year-1982:end_year-1982+1, i, j]
        tmean_series_9 = tmean_9_datasets[start_year-1982:end_year-1982+1, i, j]
        tmean_series_8 = tmean_8_datasets[start_year-1982:end_year-1982+1, i, j]
        tmean_series_7 = tmean_7_datasets[start_year-1982:end_year-1982+1, i, j]
        tmean_series_6 = tmean_6_datasets[start_year-1982:end_year-1982+1, i, j]

        pre_series_12 = pre_12_datasets[start_year-1982:end_year-1982+1, i, j]
        pre_series_11 = pre_11_datasets[start_year-1982:end_year-1982+1, i, j]
        pre_series_10 = pre_10_datasets[start_year-1982:end_year-1982+1, i, j]
        pre_series_9 = pre_9_datasets[start_year-1982:end_year-1982+1, i, j]
        pre_series_8 = pre_8_datasets[start_year-1982:end_year-1982+1, i, j]
        pre_series_7 = pre_7_datasets[start_year-1982:end_year-1982+1, i, j]
        pre_series_6 = pre_6_datasets[start_year-1982:end_year-1982+1, i, j]

        solr_series_12 = solr_12_datasets[start_year-1982:end_year-1982+1, i, j]
        solr_series_11 = solr_11_datasets[start_year-1982:end_year-1982+1, i, j]
        solr_series_10 = solr_10_datasets[start_year-1982:end_year-1982+1, i, j]
        solr_series_9 = solr_9_datasets[start_year-1982:end_year-1982+1, i, j]
        solr_series_8 = solr_8_datasets[start_year-1982:end_year-1982+1, i, j]
        solr_series_7 = solr_7_datasets[start_year-1982:end_year-1982+1, i, j]
        solr_series_6 = solr_6_datasets[start_year-1982:end_year-1982+1, i, j]

        sm_series_12 = sm_12_datasets[start_year-1982:end_year-1982+1, i, j]
        sm_series_11 = sm_11_datasets[start_year-1982:end_year-1982+1, i, j]
        sm_series_10 = sm_10_datasets[start_year-1982:end_year-1982+1, i, j]
        sm_series_9 = sm_9_datasets[start_year-1982:end_year-1982+1, i, j]
        sm_series_8 = sm_8_datasets[start_year-1982:end_year-1982+1, i, j]
        sm_series_7 = sm_7_datasets[start_year-1982:end_year-1982+1, i, j]
        sm_series_6 = sm_6_datasets[start_year-1982:end_year-1982+1, i, j]

        if site_lat_lon.multi_eos[k]==12:
            #tmean
            r0, p0 = stats.spearmanr(eos_series, tmean_series_12)
            #12+11(preseason长度为1)
            tmean_series_12_11 = np.mean([tmean_series_12,tmean_series_11], axis = 0)
            r1, p1 = stats.spearmanr(eos_series, tmean_series_12_11)
            #12+11+10
            tmean_series_12_11_10 = np.mean([tmean_series_12,tmean_series_11,tmean_series_10], axis = 0)
            r2, p2 = stats.spearmanr(eos_series, tmean_series_12_11_10)
            #12+11+10+9
            tmean_series_12_11_10_9 = np.mean([tmean_series_12,tmean_series_11,tmean_series_10,tmean_series_9], axis = 0)
            r3, p3 = stats.spearmanr(eos_series, tmean_series_12_11_10_9)
            #12+11+10+9+8
            tmean_series_12_11_10_9_8 = np.mean([tmean_series_12,tmean_series_11,tmean_series_10,
                                              tmean_series_9,tmean_series_8], axis = 0)
            r4, p4 = stats.spearmanr(eos_series, tmean_series_12_11_10_9_8)
            #12+11+10+9+8+7
            tmean_series_12_11_10_9_8_7 = np.mean([tmean_series_12,tmean_series_11,tmean_series_10,
                                              tmean_series_9,tmean_series_8,tmean_series_7], axis = 0)
            r5, p5 = stats.spearmanr(eos_series, tmean_series_12_11_10_9_8_7)
            #12+11+10+9+8+7+6
            tmean_series_12_11_10_9_8_7_6 = np.mean([tmean_series_12,tmean_series_11,tmean_series_10,
                                              tmean_series_9,tmean_series_8,tmean_series_7,tmean_series_6], axis = 0)
            r6, p6 = stats.spearmanr(eos_series, tmean_series_12_11_10_9_8_7_6)
            tmean = [tmean_series_12, tmean_series_12_11, tmean_series_12_11_10, tmean_series_12_11_10_9,
                   tmean_series_12_11_10_9_8, tmean_series_12_11_10_9_8_7, tmean_series_12_11_10_9_8_7_6]
            r_abs_tmean = [abs(r0), abs(r1), abs(r2), abs(r3), abs(r4), abs(r5), abs(r6)]
            r_index_tmean = r_abs_tmean.index(max(r_abs_tmean))#假设返回的是3
            df.tmean = tmean[r_index_tmean]

            #pre
            r0_pre, p0_pre = stats.spearmanr(eos_series, pre_series_12)
            #12+11(preseason长度为1)
            pre_series_12_11 = np.sum([pre_series_12,pre_series_11], axis = 0)
            r1_pre, p1_pre = stats.spearmanr(eos_series, pre_series_12_11)
            #12+11+10
            pre_series_12_11_10 = np.sum([pre_series_12,pre_series_11,pre_series_10], axis = 0)
            r2_pre, p2_pre = stats.spearmanr(eos_series, pre_series_12_11_10)
            #12+11+10+9
            pre_series_12_11_10_9 = np.sum([pre_series_12,pre_series_11,pre_series_10,pre_series_9], axis = 0)
            r3_pre, p3_pre = stats.spearmanr(eos_series, pre_series_12_11_10_9)
            #12+11+10+9+8
            pre_series_12_11_10_9_8 = np.sum([pre_series_12,pre_series_11,pre_series_10,
                                              pre_series_9,pre_series_8], axis = 0)
            r4_pre, p4_pre = stats.spearmanr(eos_series, pre_series_12_11_10_9_8)
            #12+11+10+9+8+7
            pre_series_12_11_10_9_8_7 = np.sum([pre_series_12,pre_series_11,pre_series_10,
                                              pre_series_9,pre_series_8,pre_series_7], axis = 0)
            r5_pre, p5_pre = stats.spearmanr(eos_series, pre_series_12_11_10_9_8_7)
            #12+11+10+9+8+7+6
            pre_series_12_11_10_9_8_7_6 = np.sum([pre_series_12,pre_series_11,pre_series_10,
                                              pre_series_9,pre_series_8,pre_series_7,pre_series_6], axis = 0)
            r6_pre, p6_pre = stats.spearmanr(eos_series, pre_series_12_11_10_9_8_7_6)
            pre = [pre_series_12, pre_series_12_11, pre_series_12_11_10, pre_series_12_11_10_9,
                   pre_series_12_11_10_9_8, pre_series_12_11_10_9_8_7, pre_series_12_11_10_9_8_7_6]
            r_abs_pre = [abs(r0_pre), abs(r1_pre), abs(r2_pre), abs(r3_pre), abs(r4_pre), abs(r5_pre), abs(r6_pre)]
            r_index_pre = r_abs_pre.index(max(r_abs_pre))#假设返回的是3
            df.pre = pre[r_index_pre]

            #solr
            r0_solr, p0_solr = stats.spearmanr(eos_series, solr_series_12)
            #12+11(preseason长度为1)
            solr_series_12_11 = np.sum([solr_series_12,solr_series_11], axis = 0)
            r1_solr, p1_solr = stats.spearmanr(eos_series, solr_series_12_11)
            #12+11+10
            solr_series_12_11_10 = np.sum([solr_series_12,solr_series_11,solr_series_10], axis = 0)
            r2_solr, p2_solr = stats.spearmanr(eos_series, solr_series_12_11_10)
            #12+11+10+9
            solr_series_12_11_10_9 = np.sum([solr_series_12,solr_series_11,solr_series_10,solr_series_9], axis = 0)
            r3_solr, p3_solr = stats.spearmanr(eos_series, solr_series_12_11_10_9)
            #12+11+10+9+8
            solr_series_12_11_10_9_8 = np.sum([solr_series_12,solr_series_11,solr_series_10,
                                              solr_series_9,solr_series_8], axis = 0)
            r4_solr, p4_solr = stats.spearmanr(eos_series, solr_series_12_11_10_9_8)
            #12+11+10+9+8+7
            solr_series_12_11_10_9_8_7 = np.sum([solr_series_12,solr_series_11,solr_series_10,
                                              solr_series_9,solr_series_8,solr_series_7], axis = 0)
            r5_solr, p5_solr = stats.spearmanr(eos_series, solr_series_12_11_10_9_8_7)
            #12+11+10+9+8+7+6
            solr_series_12_11_10_9_8_7_6 = np.sum([solr_series_12,solr_series_11,solr_series_10,
                                              solr_series_9,solr_series_8,solr_series_7,solr_series_6], axis = 0)
            r6_solr, p6_solr = stats.spearmanr(eos_series, solr_series_12_11_10_9_8_7_6)
            solr = [solr_series_12, solr_series_12_11, solr_series_12_11_10, solr_series_12_11_10_9,
                   solr_series_12_11_10_9_8, solr_series_12_11_10_9_8_7, solr_series_12_11_10_9_8_7_6]
            r_abs_solr = [abs(r0_solr), abs(r1_solr), abs(r2_solr), abs(r3_solr), abs(r4_solr), abs(r5_solr), abs(r6_solr)]
            r_index_solr = r_abs_solr.index(max(r_abs_solr))#假设返回的是3
            df.solr = solr[r_index_solr]

            #sm
            r0_sm, p0_sm = stats.spearmanr(eos_series, sm_series_12)
            #12+11(preseason长度为1)
            sm_series_12_11 = np.mean([sm_series_12,sm_series_11], axis = 0)
            r1_sm, p1_sm = stats.spearmanr(eos_series, sm_series_12_11)
            #12+11+10
            sm_series_12_11_10 = np.mean([sm_series_12,sm_series_11,sm_series_10], axis = 0)
            r2_sm, p2_sm = stats.spearmanr(eos_series, sm_series_12_11_10)
            #12+11+10+9
            sm_series_12_11_10_9 = np.mean([sm_series_12,sm_series_11,sm_series_10,sm_series_9], axis = 0)
            r3_sm, p3_sm = stats.spearmanr(eos_series, sm_series_12_11_10_9)
            #12+11+10+9+8
            sm_series_12_11_10_9_8 = np.mean([sm_series_12,sm_series_11,sm_series_10,
                                              sm_series_9,sm_series_8], axis = 0)
            r4_sm, p4_sm = stats.spearmanr(eos_series, sm_series_12_11_10_9_8)
            #12+11+10+9+8+7
            sm_series_12_11_10_9_8_7 = np.mean([sm_series_12,sm_series_11,sm_series_10,
                                              sm_series_9,sm_series_8,sm_series_7], axis = 0)
            r5_sm, p5_sm = stats.spearmanr(eos_series, sm_series_12_11_10_9_8_7)
            #12+11+10+9+8+7+6
            sm_series_12_11_10_9_8_7_6 = np.mean([sm_series_12,sm_series_11,sm_series_10,
                                              sm_series_9,sm_series_8,sm_series_7,sm_series_6], axis = 0)
            r6_sm, p6_sm = stats.spearmanr(eos_series, sm_series_12_11_10_9_8_7_6)
            sm = [sm_series_12, sm_series_12_11, sm_series_12_11_10, sm_series_12_11_10_9,
                   sm_series_12_11_10_9_8, sm_series_12_11_10_9_8_7, sm_series_12_11_10_9_8_7_6]
            r_abs_sm = [abs(r0_sm), abs(r1_sm), abs(r2_sm), abs(r3_sm), abs(r4_sm), abs(r5_sm), abs(r6_sm)]
            r_index_sm = r_abs_sm.index(max(r_abs_sm))#假设返回的是3
            df.sm = sm[r_index_sm]

        elif site_lat_lon.multi_eos[k]==11:
            #tmean
            r0, p0 = stats.spearmanr(eos_series, tmean_series_11)
            #11+10
            tmean_series_11_10 = np.mean([tmean_series_11,tmean_series_10], axis = 0)
            r1, p1 = stats.spearmanr(eos_series, tmean_series_11_10)
            #11+10+9
            tmean_series_11_10_9 = np.mean([tmean_series_11,tmean_series_10,tmean_series_9], axis = 0)
            r2, p2 = stats.spearmanr(eos_series, tmean_series_11_10_9)
            #11+10+9+8
            tmean_series_11_10_9_8 = np.mean([tmean_series_11,tmean_series_10,tmean_series_9,
                                           tmean_series_8], axis = 0)
            r3, p3 = stats.spearmanr(eos_series, tmean_series_11_10_9_8)
            #11+10+9+8+7
            tmean_series_11_10_9_8_7 = np.mean([tmean_series_11,tmean_series_10,tmean_series_9,
                                           tmean_series_8,tmean_series_7], axis = 0)
            r4, p4 = stats.spearmanr(eos_series, tmean_series_11_10_9_8_7)
            #11+10+9+8+7+6
            tmean_series_11_10_9_8_7_6 = np.mean([tmean_series_11,tmean_series_10,tmean_series_9,
                                           tmean_series_8,tmean_series_7,tmean_series_6], axis = 0)
            r5, p5 = stats.spearmanr(eos_series, tmean_series_11_10_9_8_7_6)
            tmean = [tmean_series_11, tmean_series_11_10, tmean_series_11_10_9, tmean_series_11_10_9_8,
                   tmean_series_11_10_9_8_7, tmean_series_11_10_9_8_7_6]
            r_abs = [abs(r0), abs(r1), abs(r2), abs(r3), abs(r4), abs(r5)]
            r_index = r_abs.index(max(r_abs))#假设返回的是3
            df.tmean = tmean[r_index]

            #pre
            r0_pre, p0_pre = stats.spearmanr(eos_series, pre_series_11)
            #11+10
            pre_series_11_10 = np.sum([pre_series_11,pre_series_10], axis = 0)
            r1_pre, p1_pre = stats.spearmanr(eos_series, pre_series_11_10)
            #11+10+9
            pre_series_11_10_9 = np.sum([pre_series_11,pre_series_10,pre_series_9], axis = 0)
            r2_pre, p2_pre = stats.spearmanr(eos_series, pre_series_11_10_9)
            #11+10+9+8
            pre_series_11_10_9_8 = np.sum([pre_series_11,pre_series_10,pre_series_9,
                                           pre_series_8], axis = 0)
            r3_pre, p3_pre = stats.spearmanr(eos_series, pre_series_11_10_9_8)
            #11+10+9+8+7
            pre_series_11_10_9_8_7 = np.sum([pre_series_11,pre_series_10,pre_series_9,
                                           pre_series_8,pre_series_7], axis = 0)
            r4_pre, p4_pre = stats.spearmanr(eos_series, pre_series_11_10_9_8_7)
            #11+10+9+8+7+6
            pre_series_11_10_9_8_7_6 = np.sum([pre_series_11,pre_series_10,pre_series_9,
                                           pre_series_8,pre_series_7,pre_series_6], axis = 0)
            r5_pre, p5_pre = stats.spearmanr(eos_series, pre_series_11_10_9_8_7_6)
            pre = [pre_series_11, pre_series_11_10, pre_series_11_10_9, pre_series_11_10_9_8,
                   pre_series_11_10_9_8_7, pre_series_11_10_9_8_7_6]
            r_abs_pre = [abs(r0_pre), abs(r1_pre), abs(r2_pre), abs(r3_pre), abs(r4_pre), abs(r5_pre)]
            r_index_pre = r_abs_pre.index(max(r_abs_pre))#假设返回的是3
            df.pre = pre[r_index_pre]

            #solr
            r0_solr, p0_solr = stats.spearmanr(eos_series, solr_series_11)
            #11+10
            solr_series_11_10 = np.sum([solr_series_11,solr_series_10], axis = 0)
            r1_solr, p1_solr = stats.spearmanr(eos_series, solr_series_11_10)
            #11+10+9
            solr_series_11_10_9 = np.sum([solr_series_11,solr_series_10,solr_series_9], axis = 0)
            r2_solr, p2_solr = stats.spearmanr(eos_series, solr_series_11_10_9)
            #11+10+9+8
            solr_series_11_10_9_8 = np.sum([solr_series_11,solr_series_10,solr_series_9,
                                           solr_series_8], axis = 0)
            r3_solr, p3_solr = stats.spearmanr(eos_series, solr_series_11_10_9_8)
            #11+10+9+8+7
            solr_series_11_10_9_8_7 = np.sum([solr_series_11,solr_series_10,solr_series_9,
                                           solr_series_8,solr_series_7], axis = 0)
            r4_solr, p4_solr = stats.spearmanr(eos_series, solr_series_11_10_9_8_7)
            #11+10+9+8+7+6
            solr_series_11_10_9_8_7_6 = np.sum([solr_series_11,solr_series_10,solr_series_9,
                                           solr_series_8,solr_series_7,solr_series_6], axis = 0)
            r5_solr, p5_solr = stats.spearmanr(eos_series, solr_series_11_10_9_8_7_6)
            solr = [solr_series_11, solr_series_11_10, solr_series_11_10_9, solr_series_11_10_9_8,
                   solr_series_11_10_9_8_7, solr_series_11_10_9_8_7_6]
            r_abs_solr = [abs(r0_solr), abs(r1_solr), abs(r2_solr), abs(r3_solr), abs(r4_solr), abs(r5_solr)]
            r_index_solr = r_abs_solr.index(max(r_abs_solr))#假设返回的是3
            df.solr = solr[r_index_solr]

            #sm
            r0_sm, p0_sm = stats.spearmanr(eos_series, sm_series_11)
            #11+10
            sm_series_11_10 = np.mean([sm_series_11,sm_series_10], axis = 0)
            r1_sm, p1_sm = stats.spearmanr(eos_series, sm_series_11_10)
            #11+10+9
            sm_series_11_10_9 = np.mean([sm_series_11,sm_series_10,sm_series_9], axis = 0)
            r2_sm, p2_sm = stats.spearmanr(eos_series, sm_series_11_10_9)
            #11+10+9+8
            sm_series_11_10_9_8 = np.mean([sm_series_11,sm_series_10,sm_series_9,
                                           sm_series_8], axis = 0)
            r3_sm, p3_sm = stats.spearmanr(eos_series, sm_series_11_10_9_8)
            #11+10+9+8+7
            sm_series_11_10_9_8_7 = np.mean([sm_series_11,sm_series_10,sm_series_9,
                                           sm_series_8,sm_series_7], axis = 0)
            r4_sm, p4_sm = stats.spearmanr(eos_series, sm_series_11_10_9_8_7)
            #11+10+9+8+7+6
            sm_series_11_10_9_8_7_6 = np.mean([sm_series_11,sm_series_10,sm_series_9,
                                           sm_series_8,sm_series_7,sm_series_6], axis = 0)
            r5_sm, p5_sm = stats.spearmanr(eos_series, sm_series_11_10_9_8_7_6)
            sm = [sm_series_11, sm_series_11_10, sm_series_11_10_9, sm_series_11_10_9_8,
                   sm_series_11_10_9_8_7, sm_series_11_10_9_8_7_6]
            r_abs_sm = [abs(r0_sm), abs(r1_sm), abs(r2_sm), abs(r3_sm), abs(r4_sm), abs(r5_sm)]
            r_index_sm = r_abs_sm.index(max(r_abs_sm))#假设返回的是3
            df.sm = sm[r_index_sm]

        elif site_lat_lon.multi_eos[k]==10:
            #tmean
            r0, p0 = stats.spearmanr(eos_series, tmean_series_10)
            #10+9
            tmean_series_10_9 = np.mean([tmean_series_10,tmean_series_9], axis = 0)
            r1, p1 = stats.spearmanr(eos_series, tmean_series_10_9)
            #10+9+8
            tmean_series_10_9_8 = np.mean([tmean_series_10,tmean_series_9,tmean_series_8], axis = 0)
            r2, p2 = stats.spearmanr(eos_series, tmean_series_10_9_8)
            #10+9+8+7
            tmean_series_10_9_8_7 = np.mean([tmean_series_10,tmean_series_9,tmean_series_8,
                                          tmean_series_7], axis = 0)
            r3, p3 = stats.spearmanr(eos_series, tmean_series_10_9_8_7)
            #10+9+8+7+6
            tmean_series_10_9_8_7_6 = np.mean([tmean_series_10,tmean_series_9,tmean_series_8,
                                          tmean_series_7,tmean_series_6], axis = 0)
            r4, p4 = stats.spearmanr(eos_series, tmean_series_10_9_8_7_6)
            tmean= [tmean_series_10, tmean_series_10_9, tmean_series_10_9_8, tmean_series_10_9_8_7,
                   tmean_series_10_9_8_7_6]
            r_abs = [abs(r0), abs(r1), abs(r2), abs(r3), abs(r4)]
            r_index = r_abs.index(max(r_abs))#假设返回的是3
            df.tmean = tmean[r_index]

            #pre
            r0_pre, p0_pre = stats.spearmanr(eos_series, pre_series_10)
            #10+9
            pre_series_10_9 = np.sum([pre_series_10,pre_series_9], axis = 0)
            r1_pre, p1_pre = stats.spearmanr(eos_series, pre_series_10_9)
            #10+9+8
            pre_series_10_9_8 = np.sum([pre_series_10,pre_series_9,pre_series_8], axis = 0)
            r2_pre, p2_pre = stats.spearmanr(eos_series, pre_series_10_9_8)
            #10+9+8+7
            pre_series_10_9_8_7 = np.sum([pre_series_10,pre_series_9,pre_series_8,
                                          pre_series_7], axis = 0)
            r3_pre, p3_pre = stats.spearmanr(eos_series, pre_series_10_9_8_7)
            #10+9+8+7+6
            pre_series_10_9_8_7_6 = np.sum([pre_series_10,pre_series_9,pre_series_8,
                                          pre_series_7,pre_series_6], axis = 0)
            r4_pre, p4_pre = stats.spearmanr(eos_series, pre_series_10_9_8_7_6)
            pre = [pre_series_10, pre_series_10_9, pre_series_10_9_8, pre_series_10_9_8_7,
                   pre_series_10_9_8_7_6]
            r_abs_pre = [abs(r0_pre), abs(r1_pre), abs(r2_pre), abs(r3_pre), abs(r4_pre)]
            r_index_pre = r_abs_pre.index(max(r_abs_pre))#假设返回的是3
            df.pre = pre[r_index_pre]

            #solr
            r0_solr, p0_solr = stats.spearmanr(eos_series, solr_series_10)
            #10+9
            solr_series_10_9 = np.sum([solr_series_10,solr_series_9], axis = 0)
            r1_solr, p1_solr = stats.spearmanr(eos_series, solr_series_10_9)
            #10+9+8
            solr_series_10_9_8 = np.sum([solr_series_10,solr_series_9,solr_series_8], axis = 0)
            r2_solr, p2_solr = stats.spearmanr(eos_series, solr_series_10_9_8)
            #10+9+8+7
            solr_series_10_9_8_7 = np.sum([solr_series_10,solr_series_9,solr_series_8,
                                          solr_series_7], axis = 0)
            r3_solr, p3_solr = stats.spearmanr(eos_series, solr_series_10_9_8_7)
            #10+9+8+7+6
            solr_series_10_9_8_7_6 = np.sum([solr_series_10,solr_series_9,solr_series_8,
                                          solr_series_7,solr_series_6], axis = 0)
            r4_solr, p4_solr = stats.spearmanr(eos_series, solr_series_10_9_8_7_6)
            solr = [solr_series_10, solr_series_10_9, solr_series_10_9_8, solr_series_10_9_8_7,
                   solr_series_10_9_8_7_6]
            r_abs_solr = [abs(r0_solr), abs(r1_solr), abs(r2_solr), abs(r3_solr), abs(r4_solr)]
            r_index_solr = r_abs_solr.index(max(r_abs_solr))#假设返回的是3
            df.solr = solr[r_index_solr]

            #sm
            r0_sm, p0_sm = stats.spearmanr(eos_series, sm_series_10)
            #10+9
            sm_series_10_9 = np.mean([sm_series_10,sm_series_9], axis = 0)
            r1_sm, p1_sm = stats.spearmanr(eos_series, sm_series_10_9)
            #10+9+8
            sm_series_10_9_8 = np.mean([sm_series_10,sm_series_9,sm_series_8], axis = 0)
            r2_sm, p2_sm = stats.spearmanr(eos_series, sm_series_10_9_8)
            #10+9+8+7
            sm_series_10_9_8_7 = np.mean([sm_series_10,sm_series_9,sm_series_8,
                                          sm_series_7], axis = 0)
            r3_sm, p3_sm = stats.spearmanr(eos_series, sm_series_10_9_8_7)
            #10+9+8+7+6
            sm_series_10_9_8_7_6 = np.mean([sm_series_10,sm_series_9,sm_series_8,
                                          sm_series_7,sm_series_6], axis = 0)
            r4_sm, p4_sm = stats.spearmanr(eos_series, sm_series_10_9_8_7_6)
            sm = [sm_series_10, sm_series_10_9, sm_series_10_9_8, sm_series_10_9_8_7,
                   sm_series_10_9_8_7_6]
            r_abs_sm = [abs(r0_sm), abs(r1_sm), abs(r2_sm), abs(r3_sm), abs(r4_sm)]
            r_index_sm = r_abs_sm.index(max(r_abs_sm))#假设返回的是3
            df.sm = sm[r_index_sm]

        elif site_lat_lon.multi_eos[k]==9:
            #tmean
            r0, p0 = stats.spearmanr(eos_series, tmean_series_9)
            #9+8
            tmean_series_9_8 = np.mean([tmean_series_9, tmean_series_8], axis = 0)
            r1, p1 = stats.spearmanr(eos_series, tmean_series_9_8)
            #9+8+7
            tmean_series_9_8_7 = np.mean([tmean_series_9,tmean_series_8,tmean_series_7], axis = 0)
            r2, p2 = stats.spearmanr(eos_series, tmean_series_9_8_7)
            #9+8+7+6
            tmean_series_9_8_7_6 = np.mean([tmean_series_9,tmean_series_8,tmean_series_7,
                                         tmean_series_6], axis = 0)
            r3, p3 = stats.spearmanr(eos_series, tmean_series_9_8_7_6)
            tmean = [tmean_series_9, tmean_series_9_8, tmean_series_9_8_7, tmean_series_9_8_7_6]
            r_abs = [abs(r0), abs(r1), abs(r2), abs(r3)]
            r_index = r_abs.index(max(r_abs))#假设返回的是3
            df.tmean = tmean[r_index]

            #pre
            r0_pre, p0_pre = stats.spearmanr(eos_series, pre_series_9)
            #9+8
            pre_series_9_8 = np.sum([pre_series_9, pre_series_8], axis = 0)
            r1_pre, p1_pre = stats.spearmanr(eos_series, pre_series_9_8)
            #9+8+7
            pre_series_9_8_7 = np.sum([pre_series_9,pre_series_8,pre_series_7], axis = 0)
            r2_pre, p2_pre = stats.spearmanr(eos_series, pre_series_9_8_7)
            #9+8+7+6
            pre_series_9_8_7_6 = np.sum([pre_series_9,pre_series_8,pre_series_7,
                                         pre_series_6], axis = 0)
            r3_pre, p3_pre = stats.spearmanr(eos_series, pre_series_9_8_7_6)
            pre = [pre_series_9, pre_series_9_8, pre_series_9_8_7, pre_series_9_8_7_6]
            r_abs_pre = [abs(r0_pre), abs(r1_pre), abs(r2_pre), abs(r3_pre)]
            r_index_pre = r_abs_pre.index(max(r_abs_pre))#假设返回的是3
            df.pre = pre[r_index_pre]

            #solr
            r0_solr, p0_solr = stats.spearmanr(eos_series, solr_series_9)
            #9+8
            solr_series_9_8 = np.sum([solr_series_9, solr_series_8], axis = 0)
            r1_solr, p1_solr = stats.spearmanr(eos_series, solr_series_9_8)
            #9+8+7
            solr_series_9_8_7 = np.sum([solr_series_9,solr_series_8,solr_series_7], axis = 0)
            r2_solr, p2_solr = stats.spearmanr(eos_series, solr_series_9_8_7)
            #9+8+7+6
            solr_series_9_8_7_6 = np.sum([solr_series_9,solr_series_8,solr_series_7,
                                         solr_series_6], axis = 0)
            r3_solr, p3_solr = stats.spearmanr(eos_series, solr_series_9_8_7_6)
            solr = [solr_series_9, solr_series_9_8, solr_series_9_8_7, solr_series_9_8_7_6]
            r_abs_solr = [abs(r0_solr), abs(r1_solr), abs(r2_solr), abs(r3_solr)]
            r_index_solr = r_abs_solr.index(max(r_abs_solr))#假设返回的是3
            df.solr = solr[r_index_solr]

            #sm
            r0_sm, p0_sm = stats.spearmanr(eos_series, sm_series_9)
            #9+8
            sm_series_9_8 = np.mean([sm_series_9, sm_series_8], axis = 0)
            r1_sm, p1_sm = stats.spearmanr(eos_series, sm_series_9_8)
            #9+8+7
            sm_series_9_8_7 = np.mean([sm_series_9,sm_series_8,sm_series_7], axis = 0)
            r2_sm, p2_sm = stats.spearmanr(eos_series, sm_series_9_8_7)
            #9+8+7+6
            sm_series_9_8_7_6 = np.mean([sm_series_9,sm_series_8,sm_series_7,
                                         sm_series_6], axis = 0)
            r3_sm, p3_sm = stats.spearmanr(eos_series, sm_series_9_8_7_6)
            sm = [sm_series_9, sm_series_9_8, sm_series_9_8_7, sm_series_9_8_7_6]
            r_abs_sm = [abs(r0_sm), abs(r1_sm), abs(r2_sm), abs(r3_sm)]
            r_index_sm = r_abs_sm.index(max(r_abs_sm))#假设返回的是3
            df.sm = sm[r_index_sm]

        elif site_lat_lon.multi_eos[k]==8:
            #tmean
            r0, p0 = stats.spearmanr(eos_series, tmean_series_8)
            #8+7
            tmean_series_8_7 = np.mean([tmean_series_8, tmean_series_7], axis = 0)
            r1, p1 = stats.spearmanr(eos_series, tmean_series_8_7)
            #8+7+6
            tmean_series_8_7_6 = np.mean([tmean_series_8, tmean_series_7, tmean_series_6], axis = 0)
            r2, p2 = stats.spearmanr(eos_series, tmean_series_8_7_6)
            tmean = [tmean_series_8, tmean_series_8_7, tmean_series_8_7_6]
            r_abs = [abs(r0), abs(r1), abs(r2)]
            r_index = r_abs.index(max(r_abs))#假设返回的是3
            df.tmean = tmean[r_index]

            #pre
            r0_pre, p0_pre = stats.spearmanr(eos_series, pre_series_8)
            #8+7
            pre_series_8_7 = np.sum([pre_series_8, pre_series_7], axis = 0)
            r1_pre, p1_pre = stats.spearmanr(eos_series, pre_series_8_7)
            #8+7+6
            pre_series_8_7_6 = np.sum([pre_series_8, pre_series_7, pre_series_6], axis = 0)
            r2_pre, p2_pre = stats.spearmanr(eos_series, pre_series_8_7_6)
            pre = [pre_series_8, pre_series_8_7, pre_series_8_7_6]
            r_abs_pre = [abs(r0_pre), abs(r1_pre), abs(r2_pre)]
            r_index_pre = r_abs_pre.index(max(r_abs_pre))#假设返回的是3
            df.pre = pre[r_index_pre]

            #solr
            r0_solr, p0_solr = stats.spearmanr(eos_series, solr_series_8)
            #8+7
            solr_series_8_7 = np.sum([solr_series_8, solr_series_7], axis = 0)
            r1_solr, p1_solr = stats.spearmanr(eos_series, solr_series_8_7)
            #8+7+6
            solr_series_8_7_6 = np.sum([solr_series_8, solr_series_7, solr_series_6], axis = 0)
            r2_solr, p2_solr = stats.spearmanr(eos_series, solr_series_8_7_6)
            solr = [solr_series_8, solr_series_8_7, solr_series_8_7_6]
            r_abs_solr = [abs(r0_solr), abs(r1_solr), abs(r2_solr)]
            r_index_solr = r_abs_solr.index(max(r_abs_solr))#假设返回的是3
            df.solr = solr[r_index_solr]

            #sm
            r0_sm, p0_sm = stats.spearmanr(eos_series, sm_series_8)
            #8+7
            sm_series_8_7 = np.mean([sm_series_8, sm_series_7], axis = 0)
            r1_sm, p1_sm = stats.spearmanr(eos_series, sm_series_8_7)
            #8+7+6
            sm_series_8_7_6 = np.mean([sm_series_8, sm_series_7, sm_series_6], axis = 0)
            r2_sm, p2_sm = stats.spearmanr(eos_series, sm_series_8_7_6)
            sm = [sm_series_8, sm_series_8_7, sm_series_8_7_6]
            r_abs_sm = [abs(r0_sm), abs(r1_sm), abs(r2_sm)]
            r_index_sm = r_abs_sm.index(max(r_abs_sm))#假设返回的是3
            df.sm= sm[r_index_sm]

        elif site_lat_lon.multi_eos[k]==7:
            #tmean
            r0, p0 = stats.spearmanr(eos_series, tmean_series_7)
            #7+6
            tmean_series_7_6 = np.mean([tmean_series_7, tmean_series_6], axis = 0)
            r1, p1 = stats.spearmanr(eos_series, tmean_series_7_6)
            tmean = [tmean_series_7, tmean_series_7_6]
            r_abs = [abs(r0), abs(r1)]
            r_index = r_abs.index(max(r_abs))#假设返回的是3
            df.tmean = tmean[r_index]

            #pre
            r0_pre, p0_pre = stats.spearmanr(eos_series, pre_series_7)
            #7+6
            pre_series_7_6 = np.sum([pre_series_7, pre_series_6], axis = 0)
            r1_pre, p1_pre = stats.spearmanr(eos_series, pre_series_7_6)
            pre = [pre_series_7, pre_series_7_6]
            r_abs_pre = [abs(r0_pre), abs(r1_pre)]
            r_index_pre = r_abs_pre.index(max(r_abs_pre))#假设返回的是3
            df.pre = pre[r_index_pre]

            #solr
            r0_solr, p0_solr = stats.spearmanr(eos_series, solr_series_7)
            #7+6
            solr_series_7_6 = np.sum([solr_series_7, solr_series_6], axis = 0)
            r1_solr, p1_solr = stats.spearmanr(eos_series, solr_series_7_6)
            solr = [solr_series_7, solr_series_7_6]
            r_abs_solr = [abs(r0_solr), abs(r1_solr)]
            r_index_solr = r_abs_solr.index(max(r_abs_solr))#假设返回的是3
            df.solr= solr[r_index_solr]

            #sm
            r0_sm, p0_sm = stats.spearmanr(eos_series, sm_series_7)
            #7+6
            sm_series_7_6 = np.mean([sm_series_7, sm_series_6], axis = 0)
            r1_sm, p1_sm = stats.spearmanr(eos_series, sm_series_7_6)
            sm = [sm_series_7, sm_series_7_6]
            r_abs_sm = [abs(r0_sm), abs(r1_sm)]
            r_index_sm = r_abs_sm.index(max(r_abs_sm))#假设返回的是3
            df.sm = sm[r_index_sm]

        else:
            #6月，只有一个值
            df.tmean = tmean_series_6
            df.pre = pre_series_6
            df.solr = solr_series_6
            df.sm = sm_series_6

        out_path = '/data/shuping/data/china_phenology/partial_corr/highest_corr_cliamte_series/' + files[k]
        df.to_csv(out_path)

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/scipy/stats/stats.py:4484: SpearmanRConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(SpearmanRConstantInputWarning())

###偏相关

In [2]:
import pingouin as pg
import pandas as pd

In [53]:
file_path = '/data/shuping/data/china_phenology/partial_corr/woody/highest_corr_cliamte_series/'
files = sorted(os.listdir(file_path))
files

['50639_榆树.csv',
 '50655_中东杨.csv',
 '50756_小叶杨.csv',
 '50756_紫丁香.csv',
 '50788_小叶杨.csv',
 '50788_紫丁香.csv',
 '50844_小叶杨.csv',
 '50844_榆树.csv',
 '50851_榆树.csv',
 '50871_紫丁香.csv',
 '50873_旱柳.csv',
 '50928_加拿大杨.csv',
 '50928_小叶杨.csv',
 '50928_旱柳.csv',
 '50934_榆树.csv',
 '50949_小叶杨.csv',
 '50964_垂柳.csv',
 '50983_小叶杨.csv',
 '51076_加拿大杨.csv',
 '51076_榆树.csv',
 '51133_冬苹果.csv',
 '51133_夏苹果.csv',
 '51133_杨树.csv',
 '51133_榆树.csv',
 '51238_榆树.csv',
 '51238_沙枣.csv',
 '51358_新疆杨.csv',
 '51358_箭杆杨.csv',
 '51368_沙枣.csv',
 '51368_钻天杨.csv',
 '51431_榆树.csv',
 '51436_杏树.csv',
 '51436_柳树.csv',
 '51573_桃树.csv',
 '51573_榆树.csv',
 '51656_新疆杨.csv',
 '51656_杏树.csv',
 '51656_桑树.csv',
 '51656_榆树.csv',
 '51656_葡萄.csv',
 '51656_钻天杨.csv',
 '51656_香梨.csv',
 '51709_柳树.csv',
 '51709_榆树.csv',
 '51709_苹果.csv',
 '51716_新疆杨.csv',
 '51716_杏树.csv',
 '51716_梨树.csv',
 '51716_沙枣.csv',
 '51716_苹果.csv',
 '51777_新疆杨.csv',
 '51777_柳树.csv',
 '51777_榆树.csv',
 '51811_杏树.csv',
 '51811_梨树.csv',
 '51811_沙枣.csv',
 '51811_葡萄.csv',
 '51828_新疆杨.csv',
 '51828_杏树.csv',
 '51828_核桃树.csv',
 '51828_桑树.csv',
 '51828_苹果.csv',
 '51828_钻天杨.csv',
 '51828_银白杨.csv',
 '51931_新疆杨.csv',
 '51931_旱柳.csv',
 '51931_桃树.csv',
 '51931_沙枣.csv',
 '51931_苹果.csv',
 '52101_榆树.csv',
 '52203_旱柳.csv',
 '52203_杏树.csv',
 '52203_枣树.csv',
 '52203_葡萄.csv',
 '52418_加拿大杨.csv',
 '52737_小叶杨.csv',
 '52737_旱柳.csv',
 '52825_枸杞.csv',
 '52825_苹果.csv',
 '52855_小叶杨.csv',
 '52855_苹果.csv',
 '52863_青海大叶杨.csv',
 '52876_杏.csv',
 '52876_榆树.csv',
 '52876_苹果.csv',
 '52895_刺槐.csv',
 '52984_小叶杨.csv',
 '52984_旱柳.csv',
 '52984_牡丹.csv',
 '52995_旱柳.csv',
 '52995_榆树.csv',
 '52995_牡丹.csv',
 '53433_旱柳.csv',
 '53513_旱柳.csv',
 '53513_榆树.csv',
 '53547_榆树.csv',
 '53564_加拿大杨.csv',
 '53594_旱柳.csv',
 '53594_杏树.csv',
 '53611_枣树.csv',
 '53754_刺槐.csv',
 '53754_枣树.csv',
 '53754_榆树.csv',
 '53754_毛白杨.csv',
 '53769_小叶杨.csv',
 '53775_垂柳.csv',
 '53775_小叶杨.csv',
 '53775_紫丁香.csv',
 '53845_榆树.csv',
 '53853_刺槐.csv',
 '53863_旱柳.csv',
 '53868_合欢.csv',
 '53877_核桃树.csv',
 '53877_毛白杨.csv',
 '53908_牡丹.csv',
 '53908_白杨.csv',
 '53923_苹果.csv',
 '53948_葡萄.csv',
 '53956_泡桐.csv',
 '53959_毛白杨.csv',
 '53976_刺槐.csv',
 '53976_泡桐.csv',
 '53986_枣树.csv',
 '53986_榆树.csv',
 '53986_苹果.csv',
 '53991_刺槐.csv',
 '53991_泡桐.csv',
 '54064_榆树.csv',
 '54076_加拿大杨.csv',
 '54076_紫丁香.csv',
 '54098_垂柳.csv',
 '54154_加拿大杨.csv',
 '54171_123苹果.csv',
 '54186_榆树.csv',
 '54243_小叶杨.csv',
 '54292_紫丁香.csv',
 '54324_刺槐.csv',
 '54324_旱柳.csv',
 '54324_榆树.csv',
 '54337_刺槐.csv',
 '54349_加拿大杨.csv',
 '54349_旱柳.csv',
 '54416_玉兰.csv',
 '54470_小叶杨.csv',
 '54472_刺槐.csv',
 '54474_苹果.csv',
 '54525_柳树.csv',
 '54525_榆树.csv',
 '54619_合欢.csv',
 '54619_旱柳.csv',
 '54619_泡桐.csv',
 '54714_槐树.csv',
 '54714_白蜡.csv',
 '54725_刺槐.csv',
 '54725_枣树.csv',
 '54725_泡桐.csv',
 '54749_合欢.csv',
 '54749_垂柳.csv',
 '54749_槐树.csv',
 '54749_毛白杨.csv',
 '54749_泡桐.csv',
 '54777_刺槐.csv',
 '54777_合欢.csv',
 '54777_垂柳.csv',
 '54777_旱柳.csv',
 '54777_榆树.csv',
 '54777_毛白杨.csv',
 '54777_紫穗槐.csv',
 '54806_旱柳.csv',
 '54806_槐树.csv',
 '54806_毛白杨.csv',
 '54806_泡桐.csv',
 '54821_刺槐.csv',
 '54821_小叶杨.csv',
 '54821_枣树.csv',
 '54821_榆树.csv',
 '54827_泡桐.csv',
 '54827_苹果.csv',
 '54830_刺槐.csv',
 '54830_垂柳.csv',
 '54830_小叶杨.csv',
 '54830_旱柳.csv',
 '54830_槐树.csv',
 '54830_毛白杨.csv',
 '54830_皂荚.csv',
 '54830_紫薇.csv',
 '54843_刺槐.csv',
 '54843_合欢.csv',
 '54843_垂柳.csv',
 '54843_枣树.csv',
 '54843_毛白杨.csv',
 '54843_泡桐.csv',
 '54843_白丁香.csv',
 '54843_紫穗槐.csv',
 '54843_紫薇.csv',
 '54843_葡萄.csv',
 '54849_合欢.csv',
 '54849_垂柳.csv',
 '54849_毛白杨.csv',
 '54849_紫丁香.csv',
 '54849_葡萄.csv',
 '54852_刺槐.csv',
 '54852_旱柳.csv',
 '54852_榆树.csv',
 '54852_毛白杨.csv',
 '54852_泡桐.csv',
 '54900_榆树.csv',
 '54906_刺槐.csv',
 '54906_榆树.csv',
 '54906_毛白杨.csv',
 '54915_刺槐.csv',
 '54915_合欢.csv',
 '54915_垂柳.csv',
 '54915_枣树.csv',
 '54915_梧桐.csv',
 '54915_楝树.csv',
 '54915_槐树.csv',
 '54915_毛白杨.csv',
 '54915_泡桐.csv',
 '54938_合欢.csv',
 '54938_旱柳.csv',
 '54938_榆树.csv',
 '54938_毛白杨.csv',
 '56074_高山柳.csv',
 '56093_小白杨.csv',
 '56093_旱柳.csv',
 '56093_杏.csv',
 '56093_榆树.csv',
 '56093_白梨.csv',
 '56192_苹果.csv',
 '57025_杏树.csv',
 '57034_小叶杨.csv',
 '57043_泡桐.csv',
 '57048_毛白杨.csv',
 '57048_泡桐.csv',
 '57067_小叶杨.csv',
 '57075_枣树.csv',
 '57075_楝树.csv',
 '57083_垂柳.csv',
 '57083_楝树.csv',
 '57083_毛白杨.csv',
 '57089_刺槐.csv',
 '57096_刺槐.csv',
 '57102_泡桐.csv',
 '57102_紫薇.csv',
 '57102_葡萄.csv',
 '57169_榆树.csv',
 '57178_枣树.csv',
 '57178_毛白杨.csv',
 '57178_白榆.csv',
 '57290_楝树.csv',
 '57297_刺槐.csv',
 '57297_合欢.csv',
 '57297_垂柳.csv',
 '57297_楝树.csv',
 '57297_榆树.csv',
 '58002_刺槐.csv',
 '58002_枣树.csv',
 '58002_楝树.csv',
 '58002_榆树.csv',
 '58002_槐树.csv',
 '58005_柿树.csv',
 '58005_毛白杨.csv',
 '58012_旱柳.csv',
 '58012_毛白杨.csv',
 '58049_刺槐.csv',
 '58102_悬铃木.csv',
 '58102_楝树.csv',
 '58122_刺槐.csv',
 '58122_悬铃木.csv',
 '58122_楝树.csv',
 '58141_水杉.csv',
 '58141_泡桐.csv',
 '58158_楝树.csv',
 '58208_法国梧桐.csv',
 '58215_悬铃木.csv',
 '58222_刺槐.csv',
 '58236_楝树.csv',
 '58252_楝树.csv',
 '58252_玉兰.csv',
 '58255_桃树.csv',
 '58255_楝树.csv',
 '58255_银杏.csv',
 '58269_楝树.csv',
 '58269_银杏.csv',
 '58311_悬铃木.csv',
 '58319_刺槐.csv',
 '58319_悬铃木.csv',
 '58321_刺槐.csv',
 '58321_合欢.csv',
 '58339_楝树.csv',
 '58346_梧桐.csv',
 '58356_水杉.csv',
 '58433_刺槐.csv',
 '58433_楝树.csv']

In [54]:
China_woody_partial_corr = pd.DataFrame(columns=['site', 'veg_type', 'r', 'p_val'])
for k in range(len(files)):
    csv_path = file_path + files[k]
    df = pd.read_csv(csv_path)
    df = df.dropna()
    df = df.drop(['Unnamed: 0'], axis=1)
    if df.shape[0]>3:
        b = pg.partial_corr( data= df, x='sos', y= 'eos', covar=['tmean', 'pre','solr', 'sm'], method='spearman').round(3)
        b.columns  = ['n', 'r', 'CI95%','p']
        China_woody_partial_corr = China_woody_partial_corr.append(pd.DataFrame({'site':[df.site[0]],'veg_type':[df.species[0]],'r':[b.r[0]], 'p_val': [b.p[0]]
                                                                           }), ignore_index=True)

In [56]:
China_woody_partial_corr[China_woody_partial_corr['r']>0]

      site veg_type      r  p_val
0    50639       榆树  0.179  0.462
1    50655      中东杨  0.113  0.701
2    50756      小叶杨  0.092  0.775
3    50756      紫丁香  0.233  0.467
5    50788      紫丁香  0.294  0.353
..     ...      ...    ...    ...
280  58319      悬铃木  0.114  0.614
281  58321       刺槐  0.308  0.152
284  58346       梧桐  0.173  0.505
286  58433       刺槐  0.154  0.453
287  58433       楝树  0.241  0.236

[175 rows x 4 columns]

In [57]:
China_woody_partial_corr[China_woody_partial_corr['r']<0]

      site veg_type      r  p_val
4    50788      小叶杨 -0.026  0.936
8    50851       榆树 -0.069  0.806
9    50871      紫丁香 -0.259  0.415
10   50873       旱柳 -0.521  0.068
13   50928       旱柳 -0.027  0.930
..     ...      ...    ...    ...
277  58255       银杏 -0.503  0.080
279  58319       刺槐 -0.080  0.723
282  58321       合欢 -0.360  0.092
283  58339       楝树 -0.144  0.672
285  58356       水杉 -0.101  0.754

[113 rows x 4 columns]

In [240]:
China_woody_partial_corr.to_csv('/data/shuping/data/china_phenology/results/China_woody_partial_corr.csv', encoding='utf_8_sig')

##herb

###获得单个站点csv

In [251]:
herb_file = '/data/shuping/data/china_phenology/xls_data_clean/herb_phenology_clean.csv'
herb_ds =pd.read_csv(herb_file)
herb_ds= herb_ds.drop(['Unnamed: 0'], axis=1)
herb_ds['site'] = herb_ds['site'].astype(int)
herb_ds

       year   site  species    sos    eos
0      1990  50353        7  127.0  257.0
1      1991  50353        7  123.0  256.0
2      1992  50353        7  125.0  255.0
3      1993  50353        7  122.0  252.0
4      1994  50353        7  127.0  257.0
...     ...    ...      ...    ...    ...
10726  2010  54326        7   92.0  300.0
10727  2011  54326        7  103.0  287.0
10728  1984  54326        7   92.0  295.0
10729  1985  54326        7   95.0  290.0
10730  1986  54326        7   94.0  298.0

[10731 rows x 5 columns]

In [252]:
file_path = '/data/shuping/data/china_phenology/xls_data_clean/站点经纬度.xlsx'
all_site_lat_lon = pd.read_excel(file_path)
all_site_lat_lon = all_site_lat_lon.drop(['站名', '省称', 'Unnamed: 5'], axis=1)
all_site_lat_lon.columns = ['site','lon','lat']
all_site_lat_lon

       site     lon    lat
0     50971  126.60  45.75
1     53856  110.75  36.47
2     54505  116.11  39.91
3     56279  102.93  30.15
4     56764  101.43  25.53
...     ...     ...    ...
1358  58647  119.13  28.06
1359  58652  120.71  28.85
1360  58659  120.65  28.03
1361  58665  121.42  28.62
1362  58751  120.55  27.68

[1363 rows x 3 columns]

In [244]:
all_site = herb_ds['site'].unique()#返回对应列的不同值
site_lat_lon = pd.DataFrame(columns=['site', 'veg_type', 'multi_sos', 'multi_eos'])
for i in range(len(all_site)):
    single_site_ds = herb_ds[herb_ds.site == all_site[i]]
    species = single_site_ds['species'].unique()
    for j in range(len(species)):
        site_species_ds = single_site_ds[single_site_ds.species == species[j]]
        site_species_ds = site_species_ds[site_species_ds['year'] > 1981]
        site_species_ds = site_species_ds[site_species_ds['year'] < 2015]
        site_species_ds = site_species_ds.reset_index(drop=True)
        a = site_species_ds.shape[0]
        if a >= 15:
            mean_sos = site_species_ds['sos'].mean()
            mean_eos = site_species_ds['eos'].mean()
            name = str(species[j])
            site = str(all_site[i])
            file_name = '/data/shuping/data/china_phenology/partial_corr/herb/15year_csv/' + site  + '_' + name+ '.csv'
            if round(mean_eos/30)>=6:
                site_species_ds.to_csv(file_name, encoding='utf_8_sig')
                site_lat_lon = site_lat_lon.append(pd.DataFrame({'site':[all_site[i]],'veg_type':[species[j]],'multi_eos':[round(mean_eos/30)],
                                                                 'multi_sos': [round(mean_sos/30)]}), ignore_index=True)

site_lat_lon

      site veg_type multi_sos multi_eos
0    50353        7         4         9
1    50425        7         4         9
2    50425       33         4         9
3    50425       36         4         8
4    50425       42         4         9
..     ...      ...       ...       ...
392  58208        7         2        10
393  58208       32         3        10
394  58269       32         3        10
395  58319        7         2         8
396  58346       45         2        11

[397 rows x 4 columns]

In [255]:
site_lat_lon['lat'] =''
site_lat_lon['lon'] = ''
site_lat_lon

      site veg_type multi_sos multi_eos lat lon
0    50353        7         4         9
1    50425        7         4         9
2    50425       33         4         9
3    50425       36         4         8
4    50425       42         4         9
..     ...      ...       ...       ...  ..  ..
392  58208        7         2        10
393  58208       32         3        10
394  58269       32         3        10
395  58319        7         2         8
396  58346       45         2        11

[397 rows x 6 columns]

###获得site经纬度和multi_eos

In [256]:
file_path = '/data/shuping/data/china_phenology/xls_data_clean/站点经纬度.xlsx'
all_site_lat_lon = pd.read_excel(file_path)
all_site_lat_lon = all_site_lat_lon.drop(['站名', '省称', 'Unnamed: 5'], axis=1)
all_site_lat_lon.columns = ['site','lon','lat']
all_site_lat_lon

       site     lon    lat
0     50971  126.60  45.75
1     53856  110.75  36.47
2     54505  116.11  39.91
3     56279  102.93  30.15
4     56764  101.43  25.53
...     ...     ...    ...
1358  58647  119.13  28.06
1359  58652  120.71  28.85
1360  58659  120.65  28.03
1361  58665  121.42  28.62
1362  58751  120.55  27.68

[1363 rows x 3 columns]

In [257]:
for i in range(len(site_lat_lon)):
    for j in range(len(all_site_lat_lon)):
        if site_lat_lon.site[i] == all_site_lat_lon.site[j]:
            site_lat_lon.lat[i] = all_site_lat_lon.lat[j]
            site_lat_lon.lon[i] = all_site_lat_lon.lon[j]

site_lat_lon.to_csv('/data/shuping/data/china_phenology/partial_corr/herb/site_lat_lon_multi_eos.csv',  encoding='utf_8_sig')
site_lat_lon

      site veg_type multi_sos multi_eos    lat     lon
0    50353        7         4         9  51.72  126.65
1    50425        7         4         9  50.25  120.18
2    50425       33         4         9  50.25  120.18
3    50425       36         4         8  50.25  120.18
4    50425       42         4         9  50.25  120.18
..     ...      ...       ...       ...    ...     ...
392  58208        7         2        10  32.16  115.66
393  58208       32         3        10  32.16  115.66
394  58269       32         3        10   31.8  121.66
395  58319        7         2         8  31.06  116.95
396  58346       45         2        11  31.36  119.81

[397 rows x 6 columns]

In [268]:
file_path = '/data/shuping/data/china_phenology/partial_corr/herb/site_lat_lon_multi_eos.csv'
site_lat_lon = pd.read_csv(file_path)
site_lat_lon = site_lat_lon.drop(['Unnamed: 0'], axis=1)
site_lat_lon

      site  veg_type  multi_sos  multi_eos    lat     lon
0    50353         7          4          9  51.72  126.65
1    50425         7          4          9  50.25  120.18
2    50425        33          4          9  50.25  120.18
3    50425        36          4          8  50.25  120.18
4    50425        42          4          9  50.25  120.18
..     ...       ...        ...        ...    ...     ...
392  58208         7          2         10  32.16  115.66
393  58208        32          3         10  32.16  115.66
394  58269        32          3         10  31.80  121.66
395  58319         7          2          8  31.06  116.95
396  58346        45          2         11  31.36  119.81

[397 rows x 6 columns]

In [269]:
site_lat_lon = site_lat_lon.sort_values(by='lat', ascending=True)
site_lat_lon = site_lat_lon.reset_index(drop=True)
site_lat_lon

      site  veg_type  multi_sos  multi_eos    lat     lon
0    56792         7          2         10  25.78  104.96
1    57865         7          2         11  26.41  111.56
2    57865        36          2         10  26.41  111.56
3    57687         6          4         10  28.21  112.91
4    57662         7          2          7  29.05  111.68
..     ...       ...        ...        ...    ...     ...
392  54752        33          3         10    NaN     NaN
393  54752        36          2         10    NaN     NaN
394  57014        36          2         11    NaN     NaN
395  58027        29          4          9    NaN     NaN
396  58027        32          3         10    NaN     NaN

[397 rows x 6 columns]

In [272]:
site_lat_lon = site_lat_lon[site_lat_lon['lat']>30]
site_lat_lon = site_lat_lon.sort_values(by='site', ascending=True)
site_lat_lon = site_lat_lon.reset_index(drop=True)
site_lat_lon.to_csv('/data/shuping/data/china_phenology/partial_corr/herb/site_lat_lon_multi_eos.csv')
site_lat_lon

      site  veg_type  multi_sos  multi_eos    lat     lon
0    50353         7          4          9  51.72  126.65
1    50425        33          4          9  50.25  120.18
2    50425        36          4          8  50.25  120.18
3    50425        42          4          9  50.25  120.18
4    50425        48          4          9  50.25  120.18
..     ...       ...        ...        ...    ...     ...
377  58208        32          3         10  32.16  115.66
378  58208         7          2         10  32.16  115.66
379  58269        32          3         10  31.80  121.66
380  58319         7          2          8  31.06  116.95
381  58346        45          2         11  31.36  119.81

[382 rows x 6 columns]

In [274]:
document_path = '/data/shuping/data/china_phenology/partial_corr/herb/15year_csv/'
out_path = '/data/shuping/data/china_phenology/partial_corr/herb/15year_csv_match_lat_lon'
files = sorted(os.listdir(document_path))
for file in files:
    csv_path = document_path + file
    (name,ext) = os.path.splitext(file)
    for i in range(len(site_lat_lon)):
        if int(name[0:5]) == site_lat_lon.site[i] and str(name[6:8]) == str(site_lat_lon.veg_type[i]):
            shutil.copy(csv_path, os.path.join(out_path, file))

In [280]:
site_lat_lon['col'] = ''
site_lat_lon['row'] = ''
for i in range(len(site_lat_lon)):
    site_lat = site_lat_lon.lat[i]
    site_lon = site_lat_lon.lon[i]
    for m in range(120):
        for n in range(720):
            if abs(cru_lat[m, n]-site_lat)<=0.25 and abs(cru_lon[m, n]-site_lon)<=0.25:
                site_lat_lon.col[i] = n
                site_lat_lon.row[i] = m
site_lat_lon.to_csv('/data/shuping/data/china_phenology/partial_corr/herb/site_lat_lon_multi_eos.csv', encoding='utf_8_sig')
site_lat_lon

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

      site  veg_type  multi_sos  multi_eos    lat     lon  col  row
0    50353         7          4          9  51.72  126.65  613   76
1    50425        33          4          9  50.25  120.18  600   79
2    50425        36          4          8  50.25  120.18  600   79
3    50425        42          4          9  50.25  120.18  600   79
4    50425        48          4          9  50.25  120.18  600   79
..     ...       ...        ...        ...    ...     ...  ...  ...
377  58208        32          3         10  32.16  115.66  591  115
378  58208         7          2         10  32.16  115.66  591  115
379  58269        32          3         10  31.80  121.66  603  116
380  58319         7          2          8  31.06  116.95  593  117
381  58346        45          2         11  31.36  119.81  599  117

[382 rows x 8 columns]

###highest_corrcoef

In [7]:
import os
import numpy as np

In [43]:
file_path = '/data/shuping/data/china_phenology/partial_corr/herb/site_lat_lon_multi_eos.csv'
site_lat_lon = pd.read_csv(file_path)
site_lat_lon = site_lat_lon.drop(['Unnamed: 0'], axis=1)
site_lat_lon = site_lat_lon.sort_values(by='site', ascending=True)
site_lat_lon = site_lat_lon.reset_index(drop=True)
site_lat_lon

      site  veg_type  multi_sos  multi_eos    lat     lon  col  row
0    50353         7          4          9  51.72  126.65  613   76
1    50425        33          4          9  50.25  120.18  600   79
2    50425        36          4          8  50.25  120.18  600   79
3    50425        42          4          9  50.25  120.18  600   79
4    50425        48          4          9  50.25  120.18  600   79
..     ...       ...        ...        ...    ...     ...  ...  ...
377  58208         7          2         10  32.16  115.66  591  115
378  58208        32          3         10  32.16  115.66  591  115
379  58269        32          3         10  31.80  121.66  603  116
380  58319         7          2          8  31.06  116.95  593  117
381  58346        45          2         11  31.36  119.81  599  117

[382 rows x 8 columns]

In [44]:
file_path = '/data/shuping/data/china_phenology/partial_corr/herb/15year_csv_match_lat_lon/'
files = sorted(os.listdir(file_path))
for k in range(len(files)):
    csv_path = file_path + files[k]
    df = pd.read_csv(csv_path)
    df = df.drop(['Unnamed: 0'], axis=1)
    df['tmean'] = ''
    df['pre'] = ''
    df['solr'] = ''
    df['sm'] = ''
    a = df.shape[0]
    start_year = df.year[0]
    end_year = df.year[a-1]
    i = site_lat_lon.row[k]
    j = site_lat_lon.col[k]
    b = (start_year-1982)-(end_year-1982+1)
    if abs(b)==a:
        eos_series = df.eos
        tmean_series_12 = tmean_12_datasets[start_year-1982:end_year-1982+1, i, j]
        tmean_series_11 = tmean_11_datasets[start_year-1982:end_year-1982+1, i, j]
        tmean_series_10 = tmean_10_datasets[start_year-1982:end_year-1982+1, i, j]
        tmean_series_9 = tmean_9_datasets[start_year-1982:end_year-1982+1, i, j]
        tmean_series_8 = tmean_8_datasets[start_year-1982:end_year-1982+1, i, j]
        tmean_series_7 = tmean_7_datasets[start_year-1982:end_year-1982+1, i, j]
        tmean_series_6 = tmean_6_datasets[start_year-1982:end_year-1982+1, i, j]

        pre_series_12 = pre_12_datasets[start_year-1982:end_year-1982+1, i, j]
        pre_series_11 = pre_11_datasets[start_year-1982:end_year-1982+1, i, j]
        pre_series_10 = pre_10_datasets[start_year-1982:end_year-1982+1, i, j]
        pre_series_9 = pre_9_datasets[start_year-1982:end_year-1982+1, i, j]
        pre_series_8 = pre_8_datasets[start_year-1982:end_year-1982+1, i, j]
        pre_series_7 = pre_7_datasets[start_year-1982:end_year-1982+1, i, j]
        pre_series_6 = pre_6_datasets[start_year-1982:end_year-1982+1, i, j]

        solr_series_12 = solr_12_datasets[start_year-1982:end_year-1982+1, i, j]
        solr_series_11 = solr_11_datasets[start_year-1982:end_year-1982+1, i, j]
        solr_series_10 = solr_10_datasets[start_year-1982:end_year-1982+1, i, j]
        solr_series_9 = solr_9_datasets[start_year-1982:end_year-1982+1, i, j]
        solr_series_8 = solr_8_datasets[start_year-1982:end_year-1982+1, i, j]
        solr_series_7 = solr_7_datasets[start_year-1982:end_year-1982+1, i, j]
        solr_series_6 = solr_6_datasets[start_year-1982:end_year-1982+1, i, j]

        sm_series_12 = sm_12_datasets[start_year-1982:end_year-1982+1, i, j]
        sm_series_11 = sm_11_datasets[start_year-1982:end_year-1982+1, i, j]
        sm_series_10 = sm_10_datasets[start_year-1982:end_year-1982+1, i, j]
        sm_series_9 = sm_9_datasets[start_year-1982:end_year-1982+1, i, j]
        sm_series_8 = sm_8_datasets[start_year-1982:end_year-1982+1, i, j]
        sm_series_7 = sm_7_datasets[start_year-1982:end_year-1982+1, i, j]
        sm_series_6 = sm_6_datasets[start_year-1982:end_year-1982+1, i, j]

        if site_lat_lon.multi_eos[k]==12:
            #tmean
            r0, p0 = stats.spearmanr(eos_series, tmean_series_12)
            #12+11(preseason长度为1)
            tmean_series_12_11 = np.mean([tmean_series_12,tmean_series_11], axis = 0)
            r1, p1 = stats.spearmanr(eos_series, tmean_series_12_11)
            #12+11+10
            tmean_series_12_11_10 = np.mean([tmean_series_12,tmean_series_11,tmean_series_10], axis = 0)
            r2, p2 = stats.spearmanr(eos_series, tmean_series_12_11_10)
            #12+11+10+9
            tmean_series_12_11_10_9 = np.mean([tmean_series_12,tmean_series_11,tmean_series_10,tmean_series_9], axis = 0)
            r3, p3 = stats.spearmanr(eos_series, tmean_series_12_11_10_9)
            #12+11+10+9+8
            tmean_series_12_11_10_9_8 = np.mean([tmean_series_12,tmean_series_11,tmean_series_10,
                                              tmean_series_9,tmean_series_8], axis = 0)
            r4, p4 = stats.spearmanr(eos_series, tmean_series_12_11_10_9_8)
            #12+11+10+9+8+7
            tmean_series_12_11_10_9_8_7 = np.mean([tmean_series_12,tmean_series_11,tmean_series_10,
                                              tmean_series_9,tmean_series_8,tmean_series_7], axis = 0)
            r5, p5 = stats.spearmanr(eos_series, tmean_series_12_11_10_9_8_7)
            #12+11+10+9+8+7+6
            tmean_series_12_11_10_9_8_7_6 = np.mean([tmean_series_12,tmean_series_11,tmean_series_10,
                                              tmean_series_9,tmean_series_8,tmean_series_7,tmean_series_6], axis = 0)
            r6, p6 = stats.spearmanr(eos_series, tmean_series_12_11_10_9_8_7_6)
            tmean = [tmean_series_12, tmean_series_12_11, tmean_series_12_11_10, tmean_series_12_11_10_9,
                   tmean_series_12_11_10_9_8, tmean_series_12_11_10_9_8_7, tmean_series_12_11_10_9_8_7_6]
            r_abs_tmean = [abs(r0), abs(r1), abs(r2), abs(r3), abs(r4), abs(r5), abs(r6)]
            r_index_tmean = r_abs_tmean.index(max(r_abs_tmean))#假设返回的是3
            df.tmean = tmean[r_index_tmean]

            #pre
            r0_pre, p0_pre = stats.spearmanr(eos_series, pre_series_12)
            #12+11(preseason长度为1)
            pre_series_12_11 = np.sum([pre_series_12,pre_series_11], axis = 0)
            r1_pre, p1_pre = stats.spearmanr(eos_series, pre_series_12_11)
            #12+11+10
            pre_series_12_11_10 = np.sum([pre_series_12,pre_series_11,pre_series_10], axis = 0)
            r2_pre, p2_pre = stats.spearmanr(eos_series, pre_series_12_11_10)
            #12+11+10+9
            pre_series_12_11_10_9 = np.sum([pre_series_12,pre_series_11,pre_series_10,pre_series_9], axis = 0)
            r3_pre, p3_pre = stats.spearmanr(eos_series, pre_series_12_11_10_9)
            #12+11+10+9+8
            pre_series_12_11_10_9_8 = np.sum([pre_series_12,pre_series_11,pre_series_10,
                                              pre_series_9,pre_series_8], axis = 0)
            r4_pre, p4_pre = stats.spearmanr(eos_series, pre_series_12_11_10_9_8)
            #12+11+10+9+8+7
            pre_series_12_11_10_9_8_7 = np.sum([pre_series_12,pre_series_11,pre_series_10,
                                              pre_series_9,pre_series_8,pre_series_7], axis = 0)
            r5_pre, p5_pre = stats.spearmanr(eos_series, pre_series_12_11_10_9_8_7)
            #12+11+10+9+8+7+6
            pre_series_12_11_10_9_8_7_6 = np.sum([pre_series_12,pre_series_11,pre_series_10,
                                              pre_series_9,pre_series_8,pre_series_7,pre_series_6], axis = 0)
            r6_pre, p6_pre = stats.spearmanr(eos_series, pre_series_12_11_10_9_8_7_6)
            pre = [pre_series_12, pre_series_12_11, pre_series_12_11_10, pre_series_12_11_10_9,
                   pre_series_12_11_10_9_8, pre_series_12_11_10_9_8_7, pre_series_12_11_10_9_8_7_6]
            r_abs_pre = [abs(r0_pre), abs(r1_pre), abs(r2_pre), abs(r3_pre), abs(r4_pre), abs(r5_pre), abs(r6_pre)]
            r_index_pre = r_abs_pre.index(max(r_abs_pre))#假设返回的是3
            df.pre = pre[r_index_pre]

            #solr
            r0_solr, p0_solr = stats.spearmanr(eos_series, solr_series_12)
            #12+11(preseason长度为1)
            solr_series_12_11 = np.sum([solr_series_12,solr_series_11], axis = 0)
            r1_solr, p1_solr = stats.spearmanr(eos_series, solr_series_12_11)
            #12+11+10
            solr_series_12_11_10 = np.sum([solr_series_12,solr_series_11,solr_series_10], axis = 0)
            r2_solr, p2_solr = stats.spearmanr(eos_series, solr_series_12_11_10)
            #12+11+10+9
            solr_series_12_11_10_9 = np.sum([solr_series_12,solr_series_11,solr_series_10,solr_series_9], axis = 0)
            r3_solr, p3_solr = stats.spearmanr(eos_series, solr_series_12_11_10_9)
            #12+11+10+9+8
            solr_series_12_11_10_9_8 = np.sum([solr_series_12,solr_series_11,solr_series_10,
                                              solr_series_9,solr_series_8], axis = 0)
            r4_solr, p4_solr = stats.spearmanr(eos_series, solr_series_12_11_10_9_8)
            #12+11+10+9+8+7
            solr_series_12_11_10_9_8_7 = np.sum([solr_series_12,solr_series_11,solr_series_10,
                                              solr_series_9,solr_series_8,solr_series_7], axis = 0)
            r5_solr, p5_solr = stats.spearmanr(eos_series, solr_series_12_11_10_9_8_7)
            #12+11+10+9+8+7+6
            solr_series_12_11_10_9_8_7_6 = np.sum([solr_series_12,solr_series_11,solr_series_10,
                                              solr_series_9,solr_series_8,solr_series_7,solr_series_6], axis = 0)
            r6_solr, p6_solr = stats.spearmanr(eos_series, solr_series_12_11_10_9_8_7_6)
            solr = [solr_series_12, solr_series_12_11, solr_series_12_11_10, solr_series_12_11_10_9,
                   solr_series_12_11_10_9_8, solr_series_12_11_10_9_8_7, solr_series_12_11_10_9_8_7_6]
            r_abs_solr = [abs(r0_solr), abs(r1_solr), abs(r2_solr), abs(r3_solr), abs(r4_solr), abs(r5_solr), abs(r6_solr)]
            r_index_solr = r_abs_solr.index(max(r_abs_solr))#假设返回的是3
            df.solr = solr[r_index_solr]

            #sm
            r0_sm, p0_sm = stats.spearmanr(eos_series, sm_series_12)
            #12+11(preseason长度为1)
            sm_series_12_11 = np.mean([sm_series_12,sm_series_11], axis = 0)
            r1_sm, p1_sm = stats.spearmanr(eos_series, sm_series_12_11)
            #12+11+10
            sm_series_12_11_10 = np.mean([sm_series_12,sm_series_11,sm_series_10], axis = 0)
            r2_sm, p2_sm = stats.spearmanr(eos_series, sm_series_12_11_10)
            #12+11+10+9
            sm_series_12_11_10_9 = np.mean([sm_series_12,sm_series_11,sm_series_10,sm_series_9], axis = 0)
            r3_sm, p3_sm = stats.spearmanr(eos_series, sm_series_12_11_10_9)
            #12+11+10+9+8
            sm_series_12_11_10_9_8 = np.mean([sm_series_12,sm_series_11,sm_series_10,
                                              sm_series_9,sm_series_8], axis = 0)
            r4_sm, p4_sm = stats.spearmanr(eos_series, sm_series_12_11_10_9_8)
            #12+11+10+9+8+7
            sm_series_12_11_10_9_8_7 = np.mean([sm_series_12,sm_series_11,sm_series_10,
                                              sm_series_9,sm_series_8,sm_series_7], axis = 0)
            r5_sm, p5_sm = stats.spearmanr(eos_series, sm_series_12_11_10_9_8_7)
            #12+11+10+9+8+7+6
            sm_series_12_11_10_9_8_7_6 = np.mean([sm_series_12,sm_series_11,sm_series_10,
                                              sm_series_9,sm_series_8,sm_series_7,sm_series_6], axis = 0)
            r6_sm, p6_sm = stats.spearmanr(eos_series, sm_series_12_11_10_9_8_7_6)
            sm = [sm_series_12, sm_series_12_11, sm_series_12_11_10, sm_series_12_11_10_9,
                   sm_series_12_11_10_9_8, sm_series_12_11_10_9_8_7, sm_series_12_11_10_9_8_7_6]
            r_abs_sm = [abs(r0_sm), abs(r1_sm), abs(r2_sm), abs(r3_sm), abs(r4_sm), abs(r5_sm), abs(r6_sm)]
            r_index_sm = r_abs_sm.index(max(r_abs_sm))#假设返回的是3
            df.sm = sm[r_index_sm]

        elif site_lat_lon.multi_eos[k]==11:
            #tmean
            r0, p0 = stats.spearmanr(eos_series, tmean_series_11)
            #11+10
            tmean_series_11_10 = np.mean([tmean_series_11,tmean_series_10], axis = 0)
            r1, p1 = stats.spearmanr(eos_series, tmean_series_11_10)
            #11+10+9
            tmean_series_11_10_9 = np.mean([tmean_series_11,tmean_series_10,tmean_series_9], axis = 0)
            r2, p2 = stats.spearmanr(eos_series, tmean_series_11_10_9)
            #11+10+9+8
            tmean_series_11_10_9_8 = np.mean([tmean_series_11,tmean_series_10,tmean_series_9,
                                           tmean_series_8], axis = 0)
            r3, p3 = stats.spearmanr(eos_series, tmean_series_11_10_9_8)
            #11+10+9+8+7
            tmean_series_11_10_9_8_7 = np.mean([tmean_series_11,tmean_series_10,tmean_series_9,
                                           tmean_series_8,tmean_series_7], axis = 0)
            r4, p4 = stats.spearmanr(eos_series, tmean_series_11_10_9_8_7)
            #11+10+9+8+7+6
            tmean_series_11_10_9_8_7_6 = np.mean([tmean_series_11,tmean_series_10,tmean_series_9,
                                           tmean_series_8,tmean_series_7,tmean_series_6], axis = 0)
            r5, p5 = stats.spearmanr(eos_series, tmean_series_11_10_9_8_7_6)
            tmean = [tmean_series_11, tmean_series_11_10, tmean_series_11_10_9, tmean_series_11_10_9_8,
                   tmean_series_11_10_9_8_7, tmean_series_11_10_9_8_7_6]
            r_abs = [abs(r0), abs(r1), abs(r2), abs(r3), abs(r4), abs(r5)]
            r_index = r_abs.index(max(r_abs))#假设返回的是3
            df.tmean = tmean[r_index]

            #pre
            r0_pre, p0_pre = stats.spearmanr(eos_series, pre_series_11)
            #11+10
            pre_series_11_10 = np.sum([pre_series_11,pre_series_10], axis = 0)
            r1_pre, p1_pre = stats.spearmanr(eos_series, pre_series_11_10)
            #11+10+9
            pre_series_11_10_9 = np.sum([pre_series_11,pre_series_10,pre_series_9], axis = 0)
            r2_pre, p2_pre = stats.spearmanr(eos_series, pre_series_11_10_9)
            #11+10+9+8
            pre_series_11_10_9_8 = np.sum([pre_series_11,pre_series_10,pre_series_9,
                                           pre_series_8], axis = 0)
            r3_pre, p3_pre = stats.spearmanr(eos_series, pre_series_11_10_9_8)
            #11+10+9+8+7
            pre_series_11_10_9_8_7 = np.sum([pre_series_11,pre_series_10,pre_series_9,
                                           pre_series_8,pre_series_7], axis = 0)
            r4_pre, p4_pre = stats.spearmanr(eos_series, pre_series_11_10_9_8_7)
            #11+10+9+8+7+6
            pre_series_11_10_9_8_7_6 = np.sum([pre_series_11,pre_series_10,pre_series_9,
                                           pre_series_8,pre_series_7,pre_series_6], axis = 0)
            r5_pre, p5_pre = stats.spearmanr(eos_series, pre_series_11_10_9_8_7_6)
            pre = [pre_series_11, pre_series_11_10, pre_series_11_10_9, pre_series_11_10_9_8,
                   pre_series_11_10_9_8_7, pre_series_11_10_9_8_7_6]
            r_abs_pre = [abs(r0_pre), abs(r1_pre), abs(r2_pre), abs(r3_pre), abs(r4_pre), abs(r5_pre)]
            r_index_pre = r_abs_pre.index(max(r_abs_pre))#假设返回的是3
            df.pre = pre[r_index_pre]

            #solr
            r0_solr, p0_solr = stats.spearmanr(eos_series, solr_series_11)
            #11+10
            solr_series_11_10 = np.sum([solr_series_11,solr_series_10], axis = 0)
            r1_solr, p1_solr = stats.spearmanr(eos_series, solr_series_11_10)
            #11+10+9
            solr_series_11_10_9 = np.sum([solr_series_11,solr_series_10,solr_series_9], axis = 0)
            r2_solr, p2_solr = stats.spearmanr(eos_series, solr_series_11_10_9)
            #11+10+9+8
            solr_series_11_10_9_8 = np.sum([solr_series_11,solr_series_10,solr_series_9,
                                           solr_series_8], axis = 0)
            r3_solr, p3_solr = stats.spearmanr(eos_series, solr_series_11_10_9_8)
            #11+10+9+8+7
            solr_series_11_10_9_8_7 = np.sum([solr_series_11,solr_series_10,solr_series_9,
                                           solr_series_8,solr_series_7], axis = 0)
            r4_solr, p4_solr = stats.spearmanr(eos_series, solr_series_11_10_9_8_7)
            #11+10+9+8+7+6
            solr_series_11_10_9_8_7_6 = np.sum([solr_series_11,solr_series_10,solr_series_9,
                                           solr_series_8,solr_series_7,solr_series_6], axis = 0)
            r5_solr, p5_solr = stats.spearmanr(eos_series, solr_series_11_10_9_8_7_6)
            solr = [solr_series_11, solr_series_11_10, solr_series_11_10_9, solr_series_11_10_9_8,
                   solr_series_11_10_9_8_7, solr_series_11_10_9_8_7_6]
            r_abs_solr = [abs(r0_solr), abs(r1_solr), abs(r2_solr), abs(r3_solr), abs(r4_solr), abs(r5_solr)]
            r_index_solr = r_abs_solr.index(max(r_abs_solr))#假设返回的是3
            df.solr = solr[r_index_solr]

            #sm
            r0_sm, p0_sm = stats.spearmanr(eos_series, sm_series_11)
            #11+10
            sm_series_11_10 = np.mean([sm_series_11,sm_series_10], axis = 0)
            r1_sm, p1_sm = stats.spearmanr(eos_series, sm_series_11_10)
            #11+10+9
            sm_series_11_10_9 = np.mean([sm_series_11,sm_series_10,sm_series_9], axis = 0)
            r2_sm, p2_sm = stats.spearmanr(eos_series, sm_series_11_10_9)
            #11+10+9+8
            sm_series_11_10_9_8 = np.mean([sm_series_11,sm_series_10,sm_series_9,
                                           sm_series_8], axis = 0)
            r3_sm, p3_sm = stats.spearmanr(eos_series, sm_series_11_10_9_8)
            #11+10+9+8+7
            sm_series_11_10_9_8_7 = np.mean([sm_series_11,sm_series_10,sm_series_9,
                                           sm_series_8,sm_series_7], axis = 0)
            r4_sm, p4_sm = stats.spearmanr(eos_series, sm_series_11_10_9_8_7)
            #11+10+9+8+7+6
            sm_series_11_10_9_8_7_6 = np.mean([sm_series_11,sm_series_10,sm_series_9,
                                           sm_series_8,sm_series_7,sm_series_6], axis = 0)
            r5_sm, p5_sm = stats.spearmanr(eos_series, sm_series_11_10_9_8_7_6)
            sm = [sm_series_11, sm_series_11_10, sm_series_11_10_9, sm_series_11_10_9_8,
                   sm_series_11_10_9_8_7, sm_series_11_10_9_8_7_6]
            r_abs_sm = [abs(r0_sm), abs(r1_sm), abs(r2_sm), abs(r3_sm), abs(r4_sm), abs(r5_sm)]
            r_index_sm = r_abs_sm.index(max(r_abs_sm))#假设返回的是3
            df.sm = sm[r_index_sm]

        elif site_lat_lon.multi_eos[k]==10:
            #tmean
            r0, p0 = stats.spearmanr(eos_series, tmean_series_10)
            #10+9
            tmean_series_10_9 = np.mean([tmean_series_10,tmean_series_9], axis = 0)
            r1, p1 = stats.spearmanr(eos_series, tmean_series_10_9)
            #10+9+8
            tmean_series_10_9_8 = np.mean([tmean_series_10,tmean_series_9,tmean_series_8], axis = 0)
            r2, p2 = stats.spearmanr(eos_series, tmean_series_10_9_8)
            #10+9+8+7
            tmean_series_10_9_8_7 = np.mean([tmean_series_10,tmean_series_9,tmean_series_8,
                                          tmean_series_7], axis = 0)
            r3, p3 = stats.spearmanr(eos_series, tmean_series_10_9_8_7)
            #10+9+8+7+6
            tmean_series_10_9_8_7_6 = np.mean([tmean_series_10,tmean_series_9,tmean_series_8,
                                          tmean_series_7,tmean_series_6], axis = 0)
            r4, p4 = stats.spearmanr(eos_series, tmean_series_10_9_8_7_6)
            tmean= [tmean_series_10, tmean_series_10_9, tmean_series_10_9_8, tmean_series_10_9_8_7,
                   tmean_series_10_9_8_7_6]
            r_abs = [abs(r0), abs(r1), abs(r2), abs(r3), abs(r4)]
            r_index = r_abs.index(max(r_abs))#假设返回的是3
            df.tmean = tmean[r_index]

            #pre
            r0_pre, p0_pre = stats.spearmanr(eos_series, pre_series_10)
            #10+9
            pre_series_10_9 = np.sum([pre_series_10,pre_series_9], axis = 0)
            r1_pre, p1_pre = stats.spearmanr(eos_series, pre_series_10_9)
            #10+9+8
            pre_series_10_9_8 = np.sum([pre_series_10,pre_series_9,pre_series_8], axis = 0)
            r2_pre, p2_pre = stats.spearmanr(eos_series, pre_series_10_9_8)
            #10+9+8+7
            pre_series_10_9_8_7 = np.sum([pre_series_10,pre_series_9,pre_series_8,
                                          pre_series_7], axis = 0)
            r3_pre, p3_pre = stats.spearmanr(eos_series, pre_series_10_9_8_7)
            #10+9+8+7+6
            pre_series_10_9_8_7_6 = np.sum([pre_series_10,pre_series_9,pre_series_8,
                                          pre_series_7,pre_series_6], axis = 0)
            r4_pre, p4_pre = stats.spearmanr(eos_series, pre_series_10_9_8_7_6)
            pre = [pre_series_10, pre_series_10_9, pre_series_10_9_8, pre_series_10_9_8_7,
                   pre_series_10_9_8_7_6]
            r_abs_pre = [abs(r0_pre), abs(r1_pre), abs(r2_pre), abs(r3_pre), abs(r4_pre)]
            r_index_pre = r_abs_pre.index(max(r_abs_pre))#假设返回的是3
            df.pre = pre[r_index_pre]

            #solr
            r0_solr, p0_solr = stats.spearmanr(eos_series, solr_series_10)
            #10+9
            solr_series_10_9 = np.sum([solr_series_10,solr_series_9], axis = 0)
            r1_solr, p1_solr = stats.spearmanr(eos_series, solr_series_10_9)
            #10+9+8
            solr_series_10_9_8 = np.sum([solr_series_10,solr_series_9,solr_series_8], axis = 0)
            r2_solr, p2_solr = stats.spearmanr(eos_series, solr_series_10_9_8)
            #10+9+8+7
            solr_series_10_9_8_7 = np.sum([solr_series_10,solr_series_9,solr_series_8,
                                          solr_series_7], axis = 0)
            r3_solr, p3_solr = stats.spearmanr(eos_series, solr_series_10_9_8_7)
            #10+9+8+7+6
            solr_series_10_9_8_7_6 = np.sum([solr_series_10,solr_series_9,solr_series_8,
                                          solr_series_7,solr_series_6], axis = 0)
            r4_solr, p4_solr = stats.spearmanr(eos_series, solr_series_10_9_8_7_6)
            solr = [solr_series_10, solr_series_10_9, solr_series_10_9_8, solr_series_10_9_8_7,
                   solr_series_10_9_8_7_6]
            r_abs_solr = [abs(r0_solr), abs(r1_solr), abs(r2_solr), abs(r3_solr), abs(r4_solr)]
            r_index_solr = r_abs_solr.index(max(r_abs_solr))#假设返回的是3
            df.solr = solr[r_index_solr]

            #sm
            r0_sm, p0_sm = stats.spearmanr(eos_series, sm_series_10)
            #10+9
            sm_series_10_9 = np.mean([sm_series_10,sm_series_9], axis = 0)
            r1_sm, p1_sm = stats.spearmanr(eos_series, sm_series_10_9)
            #10+9+8
            sm_series_10_9_8 = np.mean([sm_series_10,sm_series_9,sm_series_8], axis = 0)
            r2_sm, p2_sm = stats.spearmanr(eos_series, sm_series_10_9_8)
            #10+9+8+7
            sm_series_10_9_8_7 = np.mean([sm_series_10,sm_series_9,sm_series_8,
                                          sm_series_7], axis = 0)
            r3_sm, p3_sm = stats.spearmanr(eos_series, sm_series_10_9_8_7)
            #10+9+8+7+6
            sm_series_10_9_8_7_6 = np.mean([sm_series_10,sm_series_9,sm_series_8,
                                          sm_series_7,sm_series_6], axis = 0)
            r4_sm, p4_sm = stats.spearmanr(eos_series, sm_series_10_9_8_7_6)
            sm = [sm_series_10, sm_series_10_9, sm_series_10_9_8, sm_series_10_9_8_7,
                   sm_series_10_9_8_7_6]
            r_abs_sm = [abs(r0_sm), abs(r1_sm), abs(r2_sm), abs(r3_sm), abs(r4_sm)]
            r_index_sm = r_abs_sm.index(max(r_abs_sm))#假设返回的是3
            df.sm = sm[r_index_sm]

        elif site_lat_lon.multi_eos[k]==9:
            #tmean
            r0, p0 = stats.spearmanr(eos_series, tmean_series_9)
            #9+8
            tmean_series_9_8 = np.mean([tmean_series_9, tmean_series_8], axis = 0)
            r1, p1 = stats.spearmanr(eos_series, tmean_series_9_8)
            #9+8+7
            tmean_series_9_8_7 = np.mean([tmean_series_9,tmean_series_8,tmean_series_7], axis = 0)
            r2, p2 = stats.spearmanr(eos_series, tmean_series_9_8_7)
            #9+8+7+6
            tmean_series_9_8_7_6 = np.mean([tmean_series_9,tmean_series_8,tmean_series_7,
                                         tmean_series_6], axis = 0)
            r3, p3 = stats.spearmanr(eos_series, tmean_series_9_8_7_6)
            tmean = [tmean_series_9, tmean_series_9_8, tmean_series_9_8_7, tmean_series_9_8_7_6]
            r_abs = [abs(r0), abs(r1), abs(r2), abs(r3)]
            r_index = r_abs.index(max(r_abs))#假设返回的是3
            df.tmean = tmean[r_index]

            #pre
            r0_pre, p0_pre = stats.spearmanr(eos_series, pre_series_9)
            #9+8
            pre_series_9_8 = np.sum([pre_series_9, pre_series_8], axis = 0)
            r1_pre, p1_pre = stats.spearmanr(eos_series, pre_series_9_8)
            #9+8+7
            pre_series_9_8_7 = np.sum([pre_series_9,pre_series_8,pre_series_7], axis = 0)
            r2_pre, p2_pre = stats.spearmanr(eos_series, pre_series_9_8_7)
            #9+8+7+6
            pre_series_9_8_7_6 = np.sum([pre_series_9,pre_series_8,pre_series_7,
                                         pre_series_6], axis = 0)
            r3_pre, p3_pre = stats.spearmanr(eos_series, pre_series_9_8_7_6)
            pre = [pre_series_9, pre_series_9_8, pre_series_9_8_7, pre_series_9_8_7_6]
            r_abs_pre = [abs(r0_pre), abs(r1_pre), abs(r2_pre), abs(r3_pre)]
            r_index_pre = r_abs_pre.index(max(r_abs_pre))#假设返回的是3
            df.pre = pre[r_index_pre]

            #solr
            r0_solr, p0_solr = stats.spearmanr(eos_series, solr_series_9)
            #9+8
            solr_series_9_8 = np.sum([solr_series_9, solr_series_8], axis = 0)
            r1_solr, p1_solr = stats.spearmanr(eos_series, solr_series_9_8)
            #9+8+7
            solr_series_9_8_7 = np.sum([solr_series_9,solr_series_8,solr_series_7], axis = 0)
            r2_solr, p2_solr = stats.spearmanr(eos_series, solr_series_9_8_7)
            #9+8+7+6
            solr_series_9_8_7_6 = np.sum([solr_series_9,solr_series_8,solr_series_7,
                                         solr_series_6], axis = 0)
            r3_solr, p3_solr = stats.spearmanr(eos_series, solr_series_9_8_7_6)
            solr = [solr_series_9, solr_series_9_8, solr_series_9_8_7, solr_series_9_8_7_6]
            r_abs_solr = [abs(r0_solr), abs(r1_solr), abs(r2_solr), abs(r3_solr)]
            r_index_solr = r_abs_solr.index(max(r_abs_solr))#假设返回的是3
            df.solr = solr[r_index_solr]

            #sm
            r0_sm, p0_sm = stats.spearmanr(eos_series, sm_series_9)
            #9+8
            sm_series_9_8 = np.mean([sm_series_9, sm_series_8], axis = 0)
            r1_sm, p1_sm = stats.spearmanr(eos_series, sm_series_9_8)
            #9+8+7
            sm_series_9_8_7 = np.mean([sm_series_9,sm_series_8,sm_series_7], axis = 0)
            r2_sm, p2_sm = stats.spearmanr(eos_series, sm_series_9_8_7)
            #9+8+7+6
            sm_series_9_8_7_6 = np.mean([sm_series_9,sm_series_8,sm_series_7,
                                         sm_series_6], axis = 0)
            r3_sm, p3_sm = stats.spearmanr(eos_series, sm_series_9_8_7_6)
            sm = [sm_series_9, sm_series_9_8, sm_series_9_8_7, sm_series_9_8_7_6]
            r_abs_sm = [abs(r0_sm), abs(r1_sm), abs(r2_sm), abs(r3_sm)]
            r_index_sm = r_abs_sm.index(max(r_abs_sm))#假设返回的是3
            df.sm = sm[r_index_sm]

        elif site_lat_lon.multi_eos[k]==8:
            #tmean
            r0, p0 = stats.spearmanr(eos_series, tmean_series_8)
            #8+7
            tmean_series_8_7 = np.mean([tmean_series_8, tmean_series_7], axis = 0)
            r1, p1 = stats.spearmanr(eos_series, tmean_series_8_7)
            #8+7+6
            tmean_series_8_7_6 = np.mean([tmean_series_8, tmean_series_7, tmean_series_6], axis = 0)
            r2, p2 = stats.spearmanr(eos_series, tmean_series_8_7_6)
            tmean = [tmean_series_8, tmean_series_8_7, tmean_series_8_7_6]
            r_abs = [abs(r0), abs(r1), abs(r2)]
            r_index = r_abs.index(max(r_abs))#假设返回的是3
            df.tmean = tmean[r_index]

            #pre
            r0_pre, p0_pre = stats.spearmanr(eos_series, pre_series_8)
            #8+7
            pre_series_8_7 = np.sum([pre_series_8, pre_series_7], axis = 0)
            r1_pre, p1_pre = stats.spearmanr(eos_series, pre_series_8_7)
            #8+7+6
            pre_series_8_7_6 = np.sum([pre_series_8, pre_series_7, pre_series_6], axis = 0)
            r2_pre, p2_pre = stats.spearmanr(eos_series, pre_series_8_7_6)
            pre = [pre_series_8, pre_series_8_7, pre_series_8_7_6]
            r_abs_pre = [abs(r0_pre), abs(r1_pre), abs(r2_pre)]
            r_index_pre = r_abs_pre.index(max(r_abs_pre))#假设返回的是3
            df.pre = pre[r_index_pre]

            #solr
            r0_solr, p0_solr = stats.spearmanr(eos_series, solr_series_8)
            #8+7
            solr_series_8_7 = np.sum([solr_series_8, solr_series_7], axis = 0)
            r1_solr, p1_solr = stats.spearmanr(eos_series, solr_series_8_7)
            #8+7+6
            solr_series_8_7_6 = np.sum([solr_series_8, solr_series_7, solr_series_6], axis = 0)
            r2_solr, p2_solr = stats.spearmanr(eos_series, solr_series_8_7_6)
            solr = [solr_series_8, solr_series_8_7, solr_series_8_7_6]
            r_abs_solr = [abs(r0_solr), abs(r1_solr), abs(r2_solr)]
            r_index_solr = r_abs_solr.index(max(r_abs_solr))#假设返回的是3
            df.solr = solr[r_index_solr]

            #sm
            r0_sm, p0_sm = stats.spearmanr(eos_series, sm_series_8)
            #8+7
            sm_series_8_7 = np.mean([sm_series_8, sm_series_7], axis = 0)
            r1_sm, p1_sm = stats.spearmanr(eos_series, sm_series_8_7)
            #8+7+6
            sm_series_8_7_6 = np.mean([sm_series_8, sm_series_7, sm_series_6], axis = 0)
            r2_sm, p2_sm = stats.spearmanr(eos_series, sm_series_8_7_6)
            sm = [sm_series_8, sm_series_8_7, sm_series_8_7_6]
            r_abs_sm = [abs(r0_sm), abs(r1_sm), abs(r2_sm)]
            r_index_sm = r_abs_sm.index(max(r_abs_sm))#假设返回的是3
            df.sm= sm[r_index_sm]

        elif site_lat_lon.multi_eos[k]==7:
            #tmean
            r0, p0 = stats.spearmanr(eos_series, tmean_series_7)
            #7+6
            tmean_series_7_6 = np.mean([tmean_series_7, tmean_series_6], axis = 0)
            r1, p1 = stats.spearmanr(eos_series, tmean_series_7_6)
            tmean = [tmean_series_7, tmean_series_7_6]
            r_abs = [abs(r0), abs(r1)]
            r_index = r_abs.index(max(r_abs))#假设返回的是3
            df.tmean = tmean[r_index]

            #pre
            r0_pre, p0_pre = stats.spearmanr(eos_series, pre_series_7)
            #7+6
            pre_series_7_6 = np.sum([pre_series_7, pre_series_6], axis = 0)
            r1_pre, p1_pre = stats.spearmanr(eos_series, pre_series_7_6)
            pre = [pre_series_7, pre_series_7_6]
            r_abs_pre = [abs(r0_pre), abs(r1_pre)]
            r_index_pre = r_abs_pre.index(max(r_abs_pre))#假设返回的是3
            df.pre = pre[r_index_pre]

            #solr
            r0_solr, p0_solr = stats.spearmanr(eos_series, solr_series_7)
            #7+6
            solr_series_7_6 = np.sum([solr_series_7, solr_series_6], axis = 0)
            r1_solr, p1_solr = stats.spearmanr(eos_series, solr_series_7_6)
            solr = [solr_series_7, solr_series_7_6]
            r_abs_solr = [abs(r0_solr), abs(r1_solr)]
            r_index_solr = r_abs_solr.index(max(r_abs_solr))#假设返回的是3
            df.solr= solr[r_index_solr]

            #sm
            r0_sm, p0_sm = stats.spearmanr(eos_series, sm_series_7)
            #7+6
            sm_series_7_6 = np.mean([sm_series_7, sm_series_6], axis = 0)
            r1_sm, p1_sm = stats.spearmanr(eos_series, sm_series_7_6)
            sm = [sm_series_7, sm_series_7_6]
            r_abs_sm = [abs(r0_sm), abs(r1_sm)]
            r_index_sm = r_abs_sm.index(max(r_abs_sm))#假设返回的是3
            df.sm = sm[r_index_sm]

        else:
            #6月，只有一个值
            df.tmean = tmean_series_6
            df.pre = pre_series_6
            df.solr = solr_series_6
            df.sm = sm_series_6

        out_path = '/data/shuping/data/china_phenology/partial_corr/herb/highest_corr_climate_series/' + files[k]
        df.to_csv(out_path)

###偏相关

In [45]:
file_path = '/data/shuping/data/china_phenology/partial_corr/herb/highest_corr_climate_series/'
files = sorted(os.listdir(file_path))
files

['50655_36.csv',
 '50871_36.csv',
 '50873_36.csv',
 '50892_36.csv',
 '50964_7.csv',
 '51931_24.csv',
 '51931_35.csv',
 '51931_5.csv',
 '52101_33.csv',
 '52203_25.csv',
 '52203_33.csv',
 '52203_36.csv',
 '52656_33.csv',
 '52656_36.csv',
 '52656_7.csv',
 '52737_5.csv',
 '52825_32.csv',
 '52855_32.csv',
 '52855_33.csv',
 '52895_33.csv',
 '52895_36.csv',
 '52984_36.csv',
 '52984_37.csv',
 '52984_7.csv',
 '52995_36.csv',
 '52995_7.csv',
 '53611_32.csv',
 '53674_7.csv',
 '53704_25.csv',
 '53704_7.csv',
 '53723_28.csv',
 '53769_7.csv',
 '53817_36.csv',
 '53817_7.csv',
 '53821_9.csv',
 '53845_7.csv',
 '53863_7.csv',
 '53868_28.csv',
 '53868_36.csv',
 '53877_36.csv',
 '53877_7.csv',
 '53942_7.csv',
 '53956_7.csv',
 '53959_28.csv',
 '53991_28.csv',
 '53991_7.csv',
 '54049_36.csv',
 '54154_36.csv',
 '54154_7.csv',
 '54165_7.csv',
 '54186_36.csv',
 '54237_6.csv',
 '54260_36.csv',
 '54260_7.csv',
 '54266_36.csv',
 '54333_33.csv',
 '54362_7.csv',
 '54714_3.csv',
 '54714_36.csv',
 '54714_6.csv',
 '54714_7.csv',
 '54725_6.csv',
 '54764_36.csv',
 '54764_6.csv',
 '54764_7.csv',
 '54777_28.csv',
 '54777_6.csv',
 '54821_6.csv',
 '54821_7.csv',
 '54827_28.csv',
 '54827_7.csv',
 '54830_7.csv',
 '54843_28.csv',
 '54843_36.csv',
 '54843_7.csv',
 '54849_28.csv',
 '54849_36.csv',
 '54849_7.csv',
 '54900_35.csv',
 '54936_6.csv',
 '54938_37.csv',
 '56045_16.csv',
 '56074_36.csv',
 '56079_36.csv',
 '56079_7.csv',
 '57043_28.csv',
 '57043_36.csv',
 '57048_36.csv',
 '57048_6.csv',
 '57067_6.csv',
 '57067_7.csv',
 '57075_7.csv',
 '57096_20.csv',
 '57102_29.csv',
 '57102_7.csv',
 '57178_7.csv',
 '57297_45.csv',
 '57297_6.csv',
 '57297_7.csv',
 '57381_29.csv',
 '57482_29.csv',
 '57483_29.csv',
 '57483_36.csv',
 '57483_7.csv',
 '58002_6.csv',
 '58049_32.csv',
 '58269_32.csv',
 '58319_7.csv',
 '58346_45.csv']

In [46]:
China_herb_partial_corr = pd.DataFrame(columns=['site', 'veg_type', 'r', 'p_val'])
for k in range(len(files)):
    csv_path = file_path + files[k]
    df = pd.read_csv(csv_path)
    df = df.dropna()
    df = df.drop(['Unnamed: 0'], axis=1)
    if df.shape[0]>3:
        b = pg.partial_corr( data= df, x='sos', y= 'eos', covar=['tmean', 'pre','solr', 'sm'], method='spearman').round(3)
        b.columns  = ['n', 'r', 'CI95%','p']
        China_herb_partial_corr = China_herb_partial_corr.append(pd.DataFrame({'site':[df.site[0]],'veg_type':[df.species[0]],'r':[b.r[0]], 'p_val': [b.p[0]]
                                                                           }), ignore_index=True)
China_herb_partial_corr

      site veg_type      r  p_val
0    50655       36  0.285  0.370
1    50871       36  0.148  0.559
2    50873       36  0.012  0.962
3    50892       36 -0.387  0.125
4    50964        7 -0.528  0.024
..     ...      ...    ...    ...
103  57483        7  0.229  0.361
104  58002        6  0.061  0.836
105  58049       32  0.055  0.795
106  58319        7  0.538  0.010
107  58346       45  0.430  0.124

[108 rows x 4 columns]

In [47]:
China_herb_partial_corr[China_herb_partial_corr['r']>0]

      site veg_type      r  p_val
0    50655       36  0.285  0.370
1    50871       36  0.148  0.559
2    50873       36  0.012  0.962
5    51931       24  0.450  0.041
6    51931       35  0.619  0.003
..     ...      ...    ...    ...
103  57483        7  0.229  0.361
104  58002        6  0.061  0.836
105  58049       32  0.055  0.795
106  58319        7  0.538  0.010
107  58346       45  0.430  0.124

[71 rows x 4 columns]

In [48]:
China_herb_partial_corr[China_herb_partial_corr['r']<0]

      site veg_type      r  p_val
3    50892       36 -0.387  0.125
4    50964        7 -0.528  0.024
12   52656       33 -0.178  0.493
18   52855       33 -0.431  0.032
19   52895       33 -0.065  0.799
20   52895       36 -0.141  0.564
22   52984       37 -0.037  0.869
27   53674        7 -0.451  0.027
31   53769        7 -0.139  0.666
34   53821        9 -0.128  0.707
35   53845        7 -0.118  0.566
37   53868       28 -0.279  0.177
40   53877        7 -0.271  0.276
42   53956        7 -0.161  0.451
44   53991       28 -0.220  0.281
45   53991        7 -0.383  0.053
46   54049       36 -0.276  0.182
52   54260       36 -0.198  0.516
55   54333       33 -0.283  0.170
56   54362        7 -0.322  0.135
58   54714       36 -0.136  0.591
61   54725        6 -0.282  0.329
63   54764        6 -0.091  0.758
64   54764        7 -0.147  0.617
67   54821        6 -0.530  0.024
70   54827        7 -0.318  0.199
71   54830        7 -0.305  0.204
72   54843       28 -0.035  0.866
77   54849        7 -0.168  0.479
78   54900       35 -0.096  0.715
84   56079        7 -0.154  0.474
89   57067        6 -0.023  0.909
92   57096       20 -0.226  0.367
94   57102        7 -0.060  0.807
97   57297        6 -0.104  0.628
98   57297        7 -0.212  0.309
102  57483       36 -0.377  0.123

In [49]:
China_herb_partial_corr.to_csv('/data/shuping/data/china_phenology/results/China_herb_partial_corr.csv', encoding='utf_8_sig')

# 4 提取站点累积gpp(两个数据集的平均)

In [2]:
import os
import gdal
import numpy as np
import pandas as pd
from scipy import stats
from scipy import interpolate

In [98]:
#读取tif数据集
def readTif(fileName):
    dataset = gdal.Open(fileName)
    if dataset == None:
        print(fileName+"文件无法打开")
    return dataset

In [99]:
# 读取gpp数据
gpp_1982_datasets = np.zeros((12, 120, 720))
gpp_1983_datasets = np.zeros((12, 120, 720))
gpp_1984_datasets = np.zeros((12, 120, 720))
gpp_1985_datasets = np.zeros((12, 120, 720))
gpp_1986_datasets = np.zeros((12, 120, 720))
gpp_1987_datasets = np.zeros((12, 120, 720))
gpp_1988_datasets = np.zeros((12, 120, 720))
gpp_1989_datasets = np.zeros((12, 120, 720))
gpp_1990_datasets = np.zeros((12, 120, 720))
gpp_1991_datasets = np.zeros((12, 120, 720))
gpp_1992_datasets = np.zeros((12, 120, 720))
gpp_1993_datasets = np.zeros((12, 120, 720))
gpp_1994_datasets = np.zeros((12, 120, 720))
gpp_1995_datasets = np.zeros((12, 120, 720))
gpp_1996_datasets = np.zeros((12, 120, 720))
gpp_1997_datasets = np.zeros((12, 120, 720))
gpp_1998_datasets = np.zeros((12, 120, 720))
gpp_1999_datasets = np.zeros((12, 120, 720))
gpp_2000_datasets = np.zeros((12, 120, 720))
gpp_2001_datasets = np.zeros((12, 120, 720))
gpp_2002_datasets = np.zeros((12, 120, 720))
gpp_2003_datasets = np.zeros((12, 120, 720))
gpp_2004_datasets = np.zeros((12, 120, 720))
gpp_2005_datasets = np.zeros((12, 120, 720))
gpp_2006_datasets = np.zeros((12, 120, 720))
gpp_2007_datasets = np.zeros((12, 120, 720))
gpp_2008_datasets = np.zeros((12, 120, 720))
gpp_2009_datasets = np.zeros((12, 120, 720))
gpp_2010_datasets = np.zeros((12, 120, 720))
gpp_2011_datasets = np.zeros((12, 120, 720))
gpp_2012_datasets = np.zeros((12, 120, 720))
gpp_2013_datasets = np.zeros((12, 120, 720))
gpp_2014_datasets = np.zeros((12, 120, 720))

In [100]:
# year-gpp赋值
dir = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1982'
files = sorted(os.listdir(dir))
for n in range(12):
    gpp_path = os.path.join(dir, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1982_datasets[n, :, :] = gpp

dir_1983 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1983'
files = sorted(os.listdir(dir_1983))
for n in range(12):
    gpp_path = os.path.join(dir_1983, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1983_datasets[n, :, :] = gpp

dir_1984 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1984'
files = sorted(os.listdir(dir_1984))
for n in range(12):
    gpp_path = os.path.join(dir_1984, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1984_datasets[n, :, :] = gpp

dir_1985 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1985'
files = sorted(os.listdir(dir_1985))
for n in range(12):
    gpp_path = os.path.join(dir_1985, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1985_datasets[n, :, :] = gpp

dir_1986 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1986'
files = sorted(os.listdir(dir_1986))
for n in range(12):
    gpp_path = os.path.join(dir_1986, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1986_datasets[n, :, :] = gpp

dir_1987 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1987'
files = sorted(os.listdir(dir_1987))
for n in range(12):
    gpp_path = os.path.join(dir_1987, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1987_datasets[n, :, :] = gpp

dir_1988 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1988'
files = sorted(os.listdir(dir_1988))
for n in range(12):
    gpp_path = os.path.join(dir_1988, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1988_datasets[n, :, :] = gpp

dir_1989 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1989'
files = sorted(os.listdir(dir_1989))
for n in range(12):
    gpp_path = os.path.join(dir_1989, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1989_datasets[n, :, :] = gpp

dir_1990 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1990'
files = sorted(os.listdir(dir_1990))
for n in range(12):
    gpp_path = os.path.join(dir_1990, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1990_datasets[n, :, :] = gpp

dir_1991 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1991'
files = sorted(os.listdir(dir_1991))
for n in range(12):
    gpp_path = os.path.join(dir_1991, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1991_datasets[n, :, :] = gpp

dir_1992 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1992'
files = sorted(os.listdir(dir_1992))
for n in range(12):
    gpp_path = os.path.join(dir_1992, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1992_datasets[n, :, :] = gpp

dir_1993 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1993'
files = sorted(os.listdir(dir_1993))
for n in range(12):
    gpp_path = os.path.join(dir_1993, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1993_datasets[n, :, :] = gpp

dir_1994 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1994'
files = sorted(os.listdir(dir_1994))
for n in range(12):
    gpp_path = os.path.join(dir_1994, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1994_datasets[n, :, :] = gpp

dir_1995 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1995'
files = sorted(os.listdir(dir_1995))
for n in range(12):
    gpp_path = os.path.join(dir_1995, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1995_datasets[n, :, :] = gpp

dir_1996 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1996'
files = sorted(os.listdir(dir_1996))
for n in range(12):
    gpp_path = os.path.join(dir_1996, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1996_datasets[n, :, :] = gpp

dir_1997 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1997'
files = sorted(os.listdir(dir_1997))
for n in range(12):
    gpp_path = os.path.join(dir_1997, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1997_datasets[n, :, :] = gpp

dir_1998 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1998'
files = sorted(os.listdir(dir_1998))
for n in range(12):
    gpp_path = os.path.join(dir_1998, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1998_datasets[n, :, :] = gpp

dir_1999 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/1999'
files = sorted(os.listdir(dir_1999))
for n in range(12):
    gpp_path = os.path.join(dir_1999, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_1999_datasets[n, :, :] = gpp

dir_2000 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2000'
files = sorted(os.listdir(dir_2000))
for n in range(12):
    gpp_path = os.path.join(dir_2000, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2000_datasets[n, :, :] = gpp

dir_2001 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2001'
files = sorted(os.listdir(dir_2001))
for n in range(12):
    gpp_path = os.path.join(dir_2001, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2001_datasets[n, :, :] = gpp

dir_2002 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2002'
files = sorted(os.listdir(dir_2002))
for n in range(12):
    gpp_path = os.path.join(dir_2002, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2002_datasets[n, :, :] = gpp

dir_2003 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2003'
files = sorted(os.listdir(dir_2003))
for n in range(12):
    gpp_path = os.path.join(dir_2003, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2003_datasets[n, :, :] = gpp

dir_2004 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2004'
files = sorted(os.listdir(dir_2004))
for n in range(12):
    gpp_path = os.path.join(dir_2004, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2004_datasets[n, :, :] = gpp

dir_2005 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2005'
files = sorted(os.listdir(dir_2005))
for n in range(12):
    gpp_path = os.path.join(dir_2005, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2005_datasets[n, :, :] = gpp

dir_2006 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2006'
files = sorted(os.listdir(dir_2006))
for n in range(12):
    gpp_path = os.path.join(dir_2006, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2006_datasets[n, :, :] = gpp

dir_2007 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2007'
files = sorted(os.listdir(dir_2007))
for n in range(12):
    gpp_path = os.path.join(dir_2007, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2007_datasets[n, :, :] = gpp

dir_2008 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2008'
files = sorted(os.listdir(dir_2008))
for n in range(12):
    gpp_path = os.path.join(dir_2008, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2008_datasets[n, :, :] = gpp

dir_2009 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2009'
files = sorted(os.listdir(dir_2009))
for n in range(12):
    gpp_path = os.path.join(dir_2009, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2009_datasets[n, :, :] = gpp

dir_2010 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2010'
files = sorted(os.listdir(dir_2010))
for n in range(12):
    gpp_path = os.path.join(dir_2010, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2010_datasets[n, :, :] = gpp

dir_2011 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2011'
files = sorted(os.listdir(dir_2011))
for n in range(12):
    gpp_path = os.path.join(dir_2011, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2011_datasets[n, :, :] = gpp

dir_2012 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2012'
files = sorted(os.listdir(dir_2012))
for n in range(12):
    gpp_path = os.path.join(dir_2012, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2012_datasets[n, :, :] = gpp

dir_2013 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2013'
files = sorted(os.listdir(dir_2013))
for n in range(12):
    gpp_path = os.path.join(dir_2013, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2013_datasets[n, :, :] = gpp

dir_2014 = '/data/shuping/data/mean_phenology_gpp_data/mean_gpp/mean_gpp/2014'
files = sorted(os.listdir(dir_2014))
for n in range(12):
    gpp_path = os.path.join(dir_2014, files[n])
    print(files[n])
    gpp_data = readTif(gpp_path)
    gpp = gpp_data.ReadAsArray()
    gpp_2014_datasets[n, :, :] = gpp

1982-01-gpp.tif
1982-02-gpp.tif
1982-03-gpp.tif
1982-04-gpp.tif
1982-05-gpp.tif
1982-06-gpp.tif
1982-07-gpp.tif
1982-08-gpp.tif
1982-09-gpp.tif
1982-10-gpp.tif
1982-11-gpp.tif
1982-12-gpp.tif
1983-01-gpp.tif
1983-02-gpp.tif
1983-03-gpp.tif
1983-04-gpp.tif
1983-05-gpp.tif
1983-06-gpp.tif
1983-07-gpp.tif
1983-08-gpp.tif
1983-09-gpp.tif
1983-10-gpp.tif
1983-11-gpp.tif
1983-12-gpp.tif
1984-01-gpp.tif
1984-02-gpp.tif
1984-03-gpp.tif
1984-04-gpp.tif
1984-05-gpp.tif
1984-06-gpp.tif
1984-07-gpp.tif
1984-08-gpp.tif
1984-09-gpp.tif
1984-10-gpp.tif
1984-11-gpp.tif
1984-12-gpp.tif
1985-01-gpp.tif
1985-02-gpp.tif
1985-03-gpp.tif
1985-04-gpp.tif
1985-05-gpp.tif
1985-06-gpp.tif
1985-07-gpp.tif
1985-08-gpp.tif
1985-09-gpp.tif
1985-10-gpp.tif
1985-11-gpp.tif
1985-12-gpp.tif
1986-01-gpp.tif
1986-02-gpp.tif
1986-03-gpp.tif
1986-04-gpp.tif
1986-05-gpp.tif
1986-06-gpp.tif
1986-07-gpp.tif
1986-08-gpp.tif
1986-09-gpp.tif
1986-10-gpp.tif
1986-11-gpp.tif
1986-12-gpp.tif
1987-01-gpp.tif
1987-02-gpp.tif
1987-03-gpp.tif
1987-04-gpp.tif
1987-05-gpp.tif
1987-06-gpp.tif
1987-07-gpp.tif
1987-08-gpp.tif
1987-09-gpp.tif
1987-10-gpp.tif
1987-11-gpp.tif
1987-12-gpp.tif
1988-01-gpp.tif
1988-02-gpp.tif
1988-03-gpp.tif
1988-04-gpp.tif
1988-05-gpp.tif
1988-06-gpp.tif
1988-07-gpp.tif
1988-08-gpp.tif
1988-09-gpp.tif
1988-10-gpp.tif
1988-11-gpp.tif
1988-12-gpp.tif
1989-01-gpp.tif
1989-02-gpp.tif
1989-03-gpp.tif
1989-04-gpp.tif
1989-05-gpp.tif
1989-06-gpp.tif
1989-07-gpp.tif
1989-08-gpp.tif
1989-09-gpp.tif
1989-10-gpp.tif
1989-11-gpp.tif
1989-12-gpp.tif
1990-01-gpp.tif
1990-02-gpp.tif
1990-03-gpp.tif
1990-04-gpp.tif
1990-05-gpp.tif
1990-06-gpp.tif
1990-07-gpp.tif
1990-08-gpp.tif
1990-09-gpp.tif
1990-10-gpp.tif
1990-11-gpp.tif
1990-12-gpp.tif
1991-01-gpp.tif
1991-02-gpp.tif
1991-03-gpp.tif
1991-04-gpp.tif
1991-05-gpp.tif
1991-06-gpp.tif
1991-07-gpp.tif
1991-08-gpp.tif
1991-09-gpp.tif
1991-10-gpp.tif
1991-11-gpp.tif
1991-12-gpp.tif
1992-01-gpp.tif
1992-02-gpp.tif
1992-03-gpp.tif
1992-04-gpp.tif
1992-05-gpp.tif
1992-06-gpp.tif
1992-07-gpp.tif
1992-08-gpp.tif
1992-09-gpp.tif
1992-10-gpp.tif
1992-11-gpp.tif
1992-12-gpp.tif
1993-01-gpp.tif
1993-02-gpp.tif
1993-03-gpp.tif
1993-04-gpp.tif
1993-05-gpp.tif
1993-06-gpp.tif
1993-07-gpp.tif
1993-08-gpp.tif
1993-09-gpp.tif
1993-10-gpp.tif
1993-11-gpp.tif
1993-12-gpp.tif
1994-01-gpp.tif
1994-02-gpp.tif
1994-03-gpp.tif
1994-04-gpp.tif
1994-05-gpp.tif
1994-06-gpp.tif
1994-07-gpp.tif
1994-08-gpp.tif
1994-09-gpp.tif
1994-10-gpp.tif
1994-11-gpp.tif
1994-12-gpp.tif
1995-01-gpp.tif
1995-02-gpp.tif
1995-03-gpp.tif
1995-04-gpp.tif
1995-05-gpp.tif
1995-06-gpp.tif
1995-07-gpp.tif
1995-08-gpp.tif
1995-09-gpp.tif
1995-10-gpp.tif
1995-11-gpp.tif
1995-12-gpp.tif
1996-01-gpp.tif
1996-02-gpp.tif
1996-03-gpp.tif
1996-04-gpp.tif
1996-05-gpp.tif
1996-06-gpp.tif
1996-07-gpp.tif
1996-08-gpp.tif
1996-09-gpp.tif
1996-10-gpp.tif
1996-11-gpp.tif
1996-12-gpp.tif
1997-01-gpp.tif
1997-02-gpp.tif
1997-03-gpp.tif
1997-04-gpp.tif
1997-05-gpp.tif
1997-06-gpp.tif
1997-07-gpp.tif
1997-08-gpp.tif
1997-09-gpp.tif
1997-10-gpp.tif
1997-11-gpp.tif
1997-12-gpp.tif
1998-01-gpp.tif
1998-02-gpp.tif
1998-03-gpp.tif
1998-04-gpp.tif
1998-05-gpp.tif
1998-06-gpp.tif
1998-07-gpp.tif
1998-08-gpp.tif
1998-09-gpp.tif
1998-10-gpp.tif
1998-11-gpp.tif
1998-12-gpp.tif
1999-01-gpp.tif
1999-02-gpp.tif
1999-03-gpp.tif
1999-04-gpp.tif
1999-05-gpp.tif
1999-06-gpp.tif
1999-07-gpp.tif
1999-08-gpp.tif
1999-09-gpp.tif
1999-10-gpp.tif
1999-11-gpp.tif
1999-12-gpp.tif
2000-01-gpp.tif
2000-02-gpp.tif
2000-03-gpp.tif
2000-04-gpp.tif
2000-05-gpp.tif
2000-06-gpp.tif
2000-07-gpp.tif
2000-08-gpp.tif
2000-09-gpp.tif
2000-10-gpp.tif
2000-11-gpp.tif
2000-12-gpp.tif
2001-01-gpp.tif
2001-02-gpp.tif
2001-03-gpp.tif
2001-04-gpp.tif
2001-05-gpp.tif
2001-06-gpp.tif
2001-07-gpp.tif
2001-08-gpp.tif
2001-09-gpp.tif
2001-10-gpp.tif
2001-11-gpp.tif
2001-12-gpp.tif
2002-01-gpp.tif
2002-02-gpp.tif
2002-03-gpp.tif
2002-04-gpp.tif
2002-05-gpp.tif
2002-06-gpp.tif
2002-07-gpp.tif
2002-08-gpp.tif
2002-09-gpp.tif
2002-10-gpp.tif
2002-11-gpp.tif
2002-12-gpp.tif
2003-01-gpp.tif
2003-02-gpp.tif
2003-03-gpp.tif
2003-04-gpp.tif
2003-05-gpp.tif
2003-06-gpp.tif
2003-07-gpp.tif
2003-08-gpp.tif
2003-09-gpp.tif
2003-10-gpp.tif
2003-11-gpp.tif
2003-12-gpp.tif
2004-01-gpp.tif
2004-02-gpp.tif
2004-03-gpp.tif
2004-04-gpp.tif
2004-05-gpp.tif
2004-06-gpp.tif
2004-07-gpp.tif
2004-08-gpp.tif
2004-09-gpp.tif
2004-10-gpp.tif
2004-11-gpp.tif
2004-12-gpp.tif
2005-01-gpp.tif
2005-02-gpp.tif
2005-03-gpp.tif
2005-04-gpp.tif
2005-05-gpp.tif
2005-06-gpp.tif
2005-07-gpp.tif
2005-08-gpp.tif
2005-09-gpp.tif
2005-10-gpp.tif
2005-11-gpp.tif
2005-12-gpp.tif
2006-01-gpp.tif
2006-02-gpp.tif
2006-03-gpp.tif
2006-04-gpp.tif
2006-05-gpp.tif
2006-06-gpp.tif
2006-07-gpp.tif
2006-08-gpp.tif
2006-09-gpp.tif
2006-10-gpp.tif
2006-11-gpp.tif
2006-12-gpp.tif
2007-01-gpp.tif
2007-02-gpp.tif
2007-03-gpp.tif
2007-04-gpp.tif
2007-05-gpp.tif
2007-06-gpp.tif
2007-07-gpp.tif
2007-08-gpp.tif
2007-09-gpp.tif
2007-10-gpp.tif
2007-11-gpp.tif
2007-12-gpp.tif
2008-01-gpp.tif
2008-02-gpp.tif
2008-03-gpp.tif
2008-04-gpp.tif
2008-05-gpp.tif
2008-06-gpp.tif
2008-07-gpp.tif
2008-08-gpp.tif
2008-09-gpp.tif
2008-10-gpp.tif
2008-11-gpp.tif
2008-12-gpp.tif
2009-01-gpp.tif
2009-02-gpp.tif
2009-03-gpp.tif
2009-04-gpp.tif
2009-05-gpp.tif
2009-06-gpp.tif
2009-07-gpp.tif
2009-08-gpp.tif
2009-09-gpp.tif
2009-10-gpp.tif
2009-11-gpp.tif
2009-12-gpp.tif
2010-01-gpp.tif
2010-02-gpp.tif
2010-03-gpp.tif
2010-04-gpp.tif
2010-05-gpp.tif
2010-06-gpp.tif
2010-07-gpp.tif
2010-08-gpp.tif
2010-09-gpp.tif
2010-10-gpp.tif
2010-11-gpp.tif
2010-12-gpp.tif
2011-01-gpp.tif
2011-02-gpp.tif
2011-03-gpp.tif
2011-04-gpp.tif
2011-05-gpp.tif
2011-06-gpp.tif
2011-07-gpp.tif
2011-08-gpp.tif
2011-09-gpp.tif
2011-10-gpp.tif
2011-11-gpp.tif
2011-12-gpp.tif
2012-01-gpp.tif
2012-02-gpp.tif
2012-03-gpp.tif
2012-04-gpp.tif
2012-05-gpp.tif
2012-06-gpp.tif
2012-07-gpp.tif
2012-08-gpp.tif
2012-09-gpp.tif
2012-10-gpp.tif
2012-11-gpp.tif
2012-12-gpp.tif
2013-01-gpp.tif
2013-02-gpp.tif
2013-03-gpp.tif
2013-04-gpp.tif
2013-05-gpp.tif
2013-06-gpp.tif
2013-07-gpp.tif
2013-08-gpp.tif
2013-09-gpp.tif
2013-10-gpp.tif
2013-11-gpp.tif
2013-12-gpp.tif
2014-01-gpp.tif
2014-02-gpp.tif
2014-03-gpp.tif
2014-04-gpp.tif
2014-05-gpp.tif
2014-06-gpp.tif
2014-07-gpp.tif
2014-08-gpp.tif
2014-09-gpp.tif
2014-10-gpp.tif
2014-11-gpp.tif
2014-12-gpp.tif

In [101]:
gpp_datasets = [gpp_1982_datasets, gpp_1983_datasets, gpp_1984_datasets, gpp_1985_datasets, gpp_1986_datasets, gpp_1987_datasets, gpp_1988_datasets, gpp_1989_datasets,
                gpp_1990_datasets, gpp_1991_datasets, gpp_1992_datasets, gpp_1993_datasets, gpp_1994_datasets, gpp_1995_datasets, gpp_1996_datasets, gpp_1997_datasets,
                gpp_1998_datasets, gpp_1999_datasets, gpp_2000_datasets, gpp_2001_datasets, gpp_2002_datasets, gpp_2003_datasets, gpp_2004_datasets, gpp_2005_datasets,
                gpp_2006_datasets, gpp_2007_datasets, gpp_2008_datasets, gpp_2009_datasets, gpp_2010_datasets, gpp_2011_datasets, gpp_2012_datasets, gpp_2013_datasets,
                gpp_2014_datasets]
gpp_datasets[0].shape

(12, 120, 720)

##woody

In [204]:
path = '/data/shuping/data/china_phenology/partial_corr/woody/site_lat_lon_multi_eos.csv'
df = pd.read_csv(path)
df = df.drop(['Unnamed: 0'], axis=1)
df = df.sort_values(by=['site','veg_type'], ascending=True)
df['flag'] = 0
df

      site veg_type  multi_sos  multi_eos    lat     lon  col  row  flag
0    50639       榆树          4          9  48.00  122.73  605   84     0
1    50655      中东杨          4          9  48.50  126.18  612   83     0
3    50756      小叶杨          4          9  47.43  126.97  613   85     0
2    50756      紫丁香          4          9  47.43  126.97  613   85     0
4    50779     加拿大杨          4          9  48.36  134.28  628   83     0
..     ...      ...        ...        ...    ...     ...  ...  ...   ...
480  58339       楝树          3         10  31.32  118.88  597  117     0
481  58346       梧桐          4         10  31.36  119.81  599  117     0
482  58356       水杉          3         10  31.41  120.95  601  117     0
483  58433       刺槐          3          9  30.93  118.75  597  118     0
484  58433       楝树          3         10  30.93  118.75  597  118     0

[485 rows x 9 columns]

In [91]:
dir = '/data/shuping/data/china_phenology/partial_corr/woody/highest_corr_cliamte_series'
files = sorted(os.listdir(dir))
for file in files:
    (name, ext) = os.path.splitext(file)
    id = name[0:5]
    species = name[6:8]
    for j in range(485):
        if int(df.site[j]) == int(id) and str(df.veg_type[j][0:2]) == str(species):
            df.flag[j] = 1
df = df[df['flag'] == 1]
df

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

      site veg_type  multi_sos  multi_eos    lat     lon  col  row  flag
0    50639       榆树          4          9  48.00  122.73  605   84     1
1    50655      中东杨          4          9  48.50  126.18  612   83     1
3    50756      小叶杨          4          9  47.43  126.97  613   85     1
2    50756      紫丁香          4          9  47.43  126.97  613   85     1
5    50788      小叶杨          4          9  47.23  131.98  623   85     1
..     ...      ...        ...        ...    ...     ...  ...  ...   ...
480  58339       楝树          3         10  31.32  118.88  597  117     1
481  58346       梧桐          4         10  31.36  119.81  599  117     1
482  58356       水杉          3         10  31.41  120.95  601  117     1
483  58433       刺槐          3          9  30.93  118.75  597  118     1
484  58433       楝树          3         10  30.93  118.75  597  118     1

[295 rows x 9 columns]

In [92]:
df = df.reset_index(drop=True)
df = df.drop(['flag'], axis = 1)
df

      site veg_type  multi_sos  multi_eos    lat     lon  col  row
0    50639       榆树          4          9  48.00  122.73  605   84
1    50655      中东杨          4          9  48.50  126.18  612   83
2    50756      小叶杨          4          9  47.43  126.97  613   85
3    50756      紫丁香          4          9  47.43  126.97  613   85
4    50788      小叶杨          4          9  47.23  131.98  623   85
..     ...      ...        ...        ...    ...     ...  ...  ...
290  58339       楝树          3         10  31.32  118.88  597  117
291  58346       梧桐          4         10  31.36  119.81  599  117
292  58356       水杉          3         10  31.41  120.95  601  117
293  58433       刺槐          3          9  30.93  118.75  597  118
294  58433       楝树          3         10  30.93  118.75  597  118

[295 rows x 8 columns]

In [93]:
df.to_csv('/data/shuping/data/china_phenology/partial_corr/woody/site_lat_lon_multi_eos_match_climate.csv')

In [94]:
path = '/data/shuping/data/china_phenology/partial_corr/woody/site_lat_lon_multi_eos_match_climate.csv'
df = pd.read_csv(path)
df = df.drop(['Unnamed: 0'], axis=1)
df

      site veg_type  multi_sos  multi_eos    lat     lon  col  row
0    50639       榆树          4          9  48.00  122.73  605   84
1    50655      中东杨          4          9  48.50  126.18  612   83
2    50756      小叶杨          4          9  47.43  126.97  613   85
3    50756      紫丁香          4          9  47.43  126.97  613   85
4    50788      小叶杨          4          9  47.23  131.98  623   85
..     ...      ...        ...        ...    ...     ...  ...  ...
290  58339       楝树          3         10  31.32  118.88  597  117
291  58346       梧桐          4         10  31.36  119.81  599  117
292  58356       水杉          3         10  31.41  120.95  601  117
293  58433       刺槐          3          9  30.93  118.75  597  118
294  58433       楝树          3         10  30.93  118.75  597  118

[295 rows x 8 columns]

In [96]:
phen_path = '/data/shuping/data/china_phenology/partial_corr/woody/highest_corr_cliamte_series/50639_榆树.csv'
phen_df = pd.read_csv(phen_path)
phen_df

,Unnamed: 0,year,site,species,sos,eos,tmean,pre,solr,sm
0,0,1983,50639,榆树,135.0,277.0,17.233334,115.799999,645.546280,270.523234
1,1,1984,50639,榆树,135.0,254.0,17.000001,165.200001,647.832962,250.370326
2,2,1985,50639,榆树,126.0,278.0,16.833333,231.800003,647.405380,256.032837
3,3,1986,50639,榆树,126.0,288.0,17.166667,115.500000,659.189575,289.029714
4,4,1987,50639,榆树,128.0,291.0,16.866667,214.700005,644.391266,218.578237
5,5,1988,50639,榆树,131.0,280.0,18.100000,136.600002,657.287521,297.282237
6,6,1989,50639,榆树,123.0,275.0,17.000000,104.500000,678.293991,265.660772
7,7,1990,50639,榆树,118.0,272.0,17.166667,180.900002,660.897598,264.429260
8,8,1991,50639,榆树,119.0,284.0,17.400000,140.500004,655.922714,299.025991
9,9,1992,50639,榆树,118.0,271.0,16.700001,152.800003,675.155487,204.532079
10,10,1993,50639,榆树,115.0,269.0,17.433334,169.600002,642.854233,288.362813
11,11,1994,50639,榆树,113.0,267.0,18.433334,161.400002,675.214142,245.332647
12,12,1995,50639,榆树,115.0,281.0,17.366667,91.700001,694.045502,184.549042
13,13,1996,50639,榆树,125.0,277.0,17.333334,91.100001,661.987473,222.739100
14,14,1997,50639,榆树,121.0,280.0,17.633334,198.899998,647.282974,176.569270
15,15,1998,50639,榆树,123.0,275.0,18.333334,244.300007,613.653946,282.293966
16,16,1999,50639,榆树,123.0,276.0,18.100001,149.200010,663.024063,247.237478
17,17,2000,50639,榆树,121.0,275.0,19.333334,84.000002,677.816696,195.275243
18,18,2001,50639,榆树,126.0,276.0,18.500000,63.000001,672.271652,157.325729
19,19,2002,50639,榆树,117.0,270.0,18.500000,76.600003,682.406769,162.178396
20,20,2003,50639,榆树,121.0,278.0,17.066667,195.100002,630.749481,280.211726
21,21,2004,50639,榆树,124.0,284.0,18.300000,128.199999,673.504379,179.803136
22,22,2005,50639,榆树,130.0,281.0,18.433333,78.500002,645.645721,226.537130

In [205]:
def get_site_gpp(file_dir, site_lat_lon_path, out_dir):
    time_series = np.linspace(15, 345, 12)
    site_lat_lon = pd.read_csv(site_lat_lon_path)
    site_lat_lon = site_lat_lon.drop(['Unnamed: 0'], axis=1)
    files = sorted(os.listdir(file_dir))
    for k in range(len(files)):
        csv_path = file_dir + files[k]
        df = pd.read_csv(csv_path)
        df = df.drop(['Unnamed: 0'], axis=1)
        df['gpp'] = ''
        a = df.shape[0]
        start_year = df.year[0]
        end_year = df.year[a-1]
        row = site_lat_lon.row[k]
        col = site_lat_lon.col[k]
        for i in range(start_year, end_year+1):
            GPP_time_series = gpp_datasets[i-1982][:, row, col]
            b = np.isnan(GPP_time_series).sum()
            sos_day = df.sos[i-start_year]
            eos_day = df.eos[i-start_year]
            if b == 0 and sos_day<eos_day:
                tck = interpolate.splrep(time_series, GPP_time_series, s=0)
                time_series_new = np.linspace(sos_day, eos_day, 1000)#xnew
                GPP_time_series_ynew = interpolate.splev(time_series_new, tck, der=0)#ynew
                area = np.trapz(y=GPP_time_series_ynew, x=time_series_new)
                df.gpp[i-start_year] = area

        out_path = out_dir + '/' + files[k]
        df.to_csv(out_path, encoding='utf_8_sig')

In [206]:
file_dir = '/data/shuping/data/china_phenology/partial_corr/woody/highest_corr_cliamte_series/'
site_lat_lon_path = '/data/shuping/data/china_phenology/partial_corr/woody/site_lat_lon_multi_eos_match_climate.csv'
out_dir = '/data/shuping/data/china_phenology/partial_corr/woody/highest_corr_climate_series_with_gpp'
get_site_gpp(file_dir, site_lat_lon_path, out_dir)

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##herb

In [177]:
path = '/data/shuping/data/china_phenology/partial_corr/herb/site_lat_lon_multi_eos.csv'
df = pd.read_csv(path)
df = df.drop(['Unnamed: 0'], axis=1)
df = df.sort_values(by=['site'], ascending=True)
df['flag'] = 0
df

      site  veg_type  multi_sos  multi_eos    lat     lon  col  row  flag
0    50353         7          4          9  51.72  126.65  613   76     0
1    50425        33          4          9  50.25  120.18  600   79     0
2    50425        36          4          8  50.25  120.18  600   79     0
3    50425        42          4          9  50.25  120.18  600   79     0
4    50425        48          4          9  50.25  120.18  600   79     0
..     ...       ...        ...        ...    ...     ...  ...  ...   ...
378  58208         7          2         10  32.16  115.66  591  115     0
377  58208        32          3         10  32.16  115.66  591  115     0
379  58269        32          3         10  31.80  121.66  603  116     0
380  58319         7          2          8  31.06  116.95  593  117     0
381  58346        45          2         11  31.36  119.81  599  117     0

[382 rows x 9 columns]

In [178]:
dir = '/data/shuping/data/china_phenology/partial_corr/herb/highest_corr_climate_series'
files = sorted(os.listdir(dir))
files_df = DataFrame(files)
files_df['veg_type'] = ''
files_df['site'] = ''
num=0
for file in files:
    (name, ext) = os.path.splitext(file)
    id = name[0:5]
    species = name[6:8]
    files_df['veg_type'][num] = species
    files_df['site'][num] = id
    num +=1
    for j in range(382):
        if int(df.site[j]) == int(id) and int(df.veg_type[j]) == int(species):
            df.flag[j] = 1
df = df[df['flag'] == 1]

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

                0 veg_type   site
0    50655_36.csv       36  50655
1    50871_36.csv       36  50871
2    50873_36.csv       36  50873
3    50892_36.csv       36  50892
4     50964_7.csv        7  50964
..            ...      ...    ...
104   58002_6.csv        6  58002
105  58049_32.csv       32  58049
106  58269_32.csv       32  58269
107   58319_7.csv        7  58319
108  58346_45.csv       45  58346

[109 rows x 3 columns]       site  veg_type  multi_sos  multi_eos    lat     lon  col  row  flag
22   50655        36          4         10  48.50  126.18  612   83     1
27   50871        36          4          9  46.73  129.88  619   86     1
28   50873        36          3          9  46.81  130.28  620   86     1
32   50892        36          3          6  46.80  134.00  628   86     1
47   50964         7          4          9  45.83  128.80  617   88     1
..     ...       ...        ...        ...    ...     ...  ...  ...   ...
370  58002         6          3         10  34.81  115.55  591  110     1
376  58049        32          2         10  34.03  119.81  599  111     1
379  58269        32          3         10  31.80  121.66  603  116     1
380  58319         7          2          8  31.06  116.95  593  117     1
381  58346        45          2         11  31.36  119.81  599  117     1

[109 rows x 9 columns]

In [188]:
files_df[['veg_type']] = files_df[['veg_type']].astype(int)
files_df = files_df.sort_values(by=['site','veg_type'], ascending=True)
files_df = files_df.reset_index(drop=True)
files_df = files_df.drop(['veg_type', 'site'], axis=1)
files_df

                0
0    50655_36.csv
1    50871_36.csv
2    50873_36.csv
3    50892_36.csv
4     50964_7.csv
..            ...
104   58002_6.csv
105  58049_32.csv
106  58269_32.csv
107   58319_7.csv
108  58346_45.csv

[109 rows x 1 columns]

In [190]:
import numpy as np
files_df_array = np.array(files_df)
files_list =files_df_array.tolist()
files = files_list
files

[['50655_36.csv'],
 ['50871_36.csv'],
 ['50873_36.csv'],
 ['50892_36.csv'],
 ['50964_7.csv'],
 ['51931_5.csv'],
 ['51931_24.csv'],
 ['51931_35.csv'],
 ['52101_33.csv'],
 ['52203_25.csv'],
 ['52203_33.csv'],
 ['52203_36.csv'],
 ['52656_7.csv'],
 ['52656_33.csv'],
 ['52656_36.csv'],
 ['52737_5.csv'],
 ['52825_32.csv'],
 ['52855_32.csv'],
 ['52855_33.csv'],
 ['52895_33.csv'],
 ['52895_36.csv'],
 ['52984_7.csv'],
 ['52984_36.csv'],
 ['52984_37.csv'],
 ['52995_7.csv'],
 ['52995_36.csv'],
 ['53611_32.csv'],
 ['53674_7.csv'],
 ['53704_7.csv'],
 ['53704_25.csv'],
 ['53723_28.csv'],
 ['53769_7.csv'],
 ['53817_7.csv'],
 ['53817_36.csv'],
 ['53821_9.csv'],
 ['53845_7.csv'],
 ['53863_7.csv'],
 ['53868_28.csv'],
 ['53868_36.csv'],
 ['53877_7.csv'],
 ['53877_36.csv'],
 ['53942_7.csv'],
 ['53956_7.csv'],
 ['53959_28.csv'],
 ['53991_7.csv'],
 ['53991_28.csv'],
 ['54049_36.csv'],
 ['54154_7.csv'],
 ['54154_36.csv'],
 ['54165_7.csv'],
 ['54186_36.csv'],
 ['54237_6.csv'],
 ['54260_7.csv'],
 ['54260_36.csv'],
 ['54266_36.csv'],
 ['54333_33.csv'],
 ['54362_7.csv'],
 ['54714_3.csv'],
 ['54714_6.csv'],
 ['54714_7.csv'],
 ['54714_36.csv'],
 ['54725_6.csv'],
 ['54764_6.csv'],
 ['54764_7.csv'],
 ['54764_36.csv'],
 ['54777_6.csv'],
 ['54777_28.csv'],
 ['54821_6.csv'],
 ['54821_7.csv'],
 ['54827_7.csv'],
 ['54827_28.csv'],
 ['54830_7.csv'],
 ['54843_7.csv'],
 ['54843_28.csv'],
 ['54843_36.csv'],
 ['54849_7.csv'],
 ['54849_28.csv'],
 ['54849_36.csv'],
 ['54900_35.csv'],
 ['54936_6.csv'],
 ['54938_37.csv'],
 ['56045_16.csv'],
 ['56074_36.csv'],
 ['56079_7.csv'],
 ['56079_36.csv'],
 ['57043_28.csv'],
 ['57043_36.csv'],
 ['57048_6.csv'],
 ['57048_36.csv'],
 ['57067_6.csv'],
 ['57067_7.csv'],
 ['57075_7.csv'],
 ['57096_20.csv'],
 ['57102_7.csv'],
 ['57102_29.csv'],
 ['57178_7.csv'],
 ['57297_6.csv'],
 ['57297_7.csv'],
 ['57297_45.csv'],
 ['57381_29.csv'],
 ['57482_29.csv'],
 ['57483_7.csv'],
 ['57483_29.csv'],
 ['57483_36.csv'],
 ['58002_6.csv'],
 ['58049_32.csv'],
 ['58269_32.csv'],
 ['58319_7.csv'],
 ['58346_45.csv']]

In [187]:
df = df.sort_values(by=['site','veg_type'], ascending=True)
df = df.reset_index(drop=True)
df

      site  veg_type  multi_sos  multi_eos    lat     lon  col  row  flag
0    50655        36          4         10  48.50  126.18  612   83     1
1    50871        36          4          9  46.73  129.88  619   86     1
2    50873        36          3          9  46.81  130.28  620   86     1
3    50892        36          3          6  46.80  134.00  628   86     1
4    50964         7          4          9  45.83  128.80  617   88     1
..     ...       ...        ...        ...    ...     ...  ...  ...   ...
104  58002         6          3         10  34.81  115.55  591  110     1
105  58049        32          2         10  34.03  119.81  599  111     1
106  58269        32          3         10  31.80  121.66  603  116     1
107  58319         7          2          8  31.06  116.95  593  117     1
108  58346        45          2         11  31.36  119.81  599  117     1

[109 rows x 9 columns]

In [198]:
files[2]

['50873_36.csv']

In [195]:
df = df.drop(['flag'], axis = 1)

      site  veg_type  multi_sos  multi_eos    lat     lon  col  row
0    50655        36          4         10  48.50  126.18  612   83
1    50871        36          4          9  46.73  129.88  619   86
2    50873        36          3          9  46.81  130.28  620   86
3    50892        36          3          6  46.80  134.00  628   86
4    50964         7          4          9  45.83  128.80  617   88
..     ...       ...        ...        ...    ...     ...  ...  ...
104  58002         6          3         10  34.81  115.55  591  110
105  58049        32          2         10  34.03  119.81  599  111
106  58269        32          3         10  31.80  121.66  603  116
107  58319         7          2          8  31.06  116.95  593  117
108  58346        45          2         11  31.36  119.81  599  117

[109 rows x 8 columns]

In [199]:
df.to_csv('/data/shuping/data/china_phenology/partial_corr/herb/site_lat_lon_multi_eos_match_climate.csv')

In [201]:
file_dir = '/data/shuping/data/china_phenology/partial_corr/herb/highest_corr_climate_series/'
site_lat_lon_path = '/data/shuping/data/china_phenology/partial_corr/herb/site_lat_lon_multi_eos_match_climate.csv'
out_dir = '/data/shuping/data/china_phenology/partial_corr/herb/highest_corr_climate_series_with_gpp'
get_site_gpp(file_dir, site_lat_lon_path, out_dir)

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#5 偏相关(有gpp)

In [202]:
import pingouin as pg
import pandas as pd

##woody

In [207]:
file_path = '/data/shuping/data/china_phenology/partial_corr/woody/highest_corr_climate_series_with_gpp/'
files = sorted(os.listdir(file_path))
files

['50639_榆树.csv',
 '50655_中东杨.csv',
 '50756_小叶杨.csv',
 '50756_紫丁香.csv',
 '50788_小叶杨.csv',
 '50788_紫丁香.csv',
 '50844_小叶杨.csv',
 '50844_榆树.csv',
 '50851_榆树.csv',
 '50871_紫丁香.csv',
 '50873_旱柳.csv',
 '50928_加拿大杨.csv',
 '50928_小叶杨.csv',
 '50928_旱柳.csv',
 '50934_榆树.csv',
 '50949_小叶杨.csv',
 '50964_垂柳.csv',
 '50983_小叶杨.csv',
 '51076_加拿大杨.csv',
 '51076_榆树.csv',
 '51133_冬苹果.csv',
 '51133_夏苹果.csv',
 '51133_杨树.csv',
 '51133_榆树.csv',
 '51238_榆树.csv',
 '51238_沙枣.csv',
 '51358_新疆杨.csv',
 '51358_箭杆杨.csv',
 '51368_沙枣.csv',
 '51368_钻天杨.csv',
 '51431_榆树.csv',
 '51436_杏树.csv',
 '51436_柳树.csv',
 '51573_桃树.csv',
 '51573_榆树.csv',
 '51656_新疆杨.csv',
 '51656_杏树.csv',
 '51656_桑树.csv',
 '51656_榆树.csv',
 '51656_葡萄.csv',
 '51656_钻天杨.csv',
 '51656_香梨.csv',
 '51709_柳树.csv',
 '51709_榆树.csv',
 '51709_苹果.csv',
 '51716_新疆杨.csv',
 '51716_杏树.csv',
 '51716_梨树.csv',
 '51716_沙枣.csv',
 '51716_苹果.csv',
 '51777_新疆杨.csv',
 '51777_柳树.csv',
 '51777_榆树.csv',
 '51811_杏树.csv',
 '51811_梨树.csv',
 '51811_沙枣.csv',
 '51811_葡萄.csv',
 '51828_新疆杨.csv',
 '51828_杏树.csv',
 '51828_核桃树.csv',
 '51828_桑树.csv',
 '51828_苹果.csv',
 '51828_钻天杨.csv',
 '51828_银白杨.csv',
 '51931_新疆杨.csv',
 '51931_旱柳.csv',
 '51931_桃树.csv',
 '51931_沙枣.csv',
 '51931_苹果.csv',
 '52101_榆树.csv',
 '52203_旱柳.csv',
 '52203_杏树.csv',
 '52203_枣树.csv',
 '52203_葡萄.csv',
 '52418_加拿大杨.csv',
 '52737_小叶杨.csv',
 '52737_旱柳.csv',
 '52825_枸杞.csv',
 '52825_苹果.csv',
 '52855_小叶杨.csv',
 '52855_苹果.csv',
 '52863_青海大叶杨.csv',
 '52876_杏.csv',
 '52876_榆树.csv',
 '52876_苹果.csv',
 '52895_刺槐.csv',
 '52984_小叶杨.csv',
 '52984_旱柳.csv',
 '52984_牡丹.csv',
 '52995_旱柳.csv',
 '52995_榆树.csv',
 '52995_牡丹.csv',
 '53433_旱柳.csv',
 '53513_旱柳.csv',
 '53513_榆树.csv',
 '53547_榆树.csv',
 '53564_加拿大杨.csv',
 '53594_旱柳.csv',
 '53594_杏树.csv',
 '53611_枣树.csv',
 '53754_刺槐.csv',
 '53754_枣树.csv',
 '53754_榆树.csv',
 '53754_毛白杨.csv',
 '53769_小叶杨.csv',
 '53775_垂柳.csv',
 '53775_小叶杨.csv',
 '53775_紫丁香.csv',
 '53845_榆树.csv',
 '53853_刺槐.csv',
 '53863_旱柳.csv',
 '53868_合欢.csv',
 '53877_核桃树.csv',
 '53877_毛白杨.csv',
 '53908_牡丹.csv',
 '53908_白杨.csv',
 '53923_苹果.csv',
 '53948_葡萄.csv',
 '53956_泡桐.csv',
 '53959_毛白杨.csv',
 '53976_刺槐.csv',
 '53976_泡桐.csv',
 '53986_枣树.csv',
 '53986_榆树.csv',
 '53986_苹果.csv',
 '53991_刺槐.csv',
 '53991_泡桐.csv',
 '54064_榆树.csv',
 '54076_加拿大杨.csv',
 '54076_紫丁香.csv',
 '54098_垂柳.csv',
 '54154_加拿大杨.csv',
 '54171_123苹果.csv',
 '54186_榆树.csv',
 '54243_小叶杨.csv',
 '54292_紫丁香.csv',
 '54324_刺槐.csv',
 '54324_旱柳.csv',
 '54324_榆树.csv',
 '54337_刺槐.csv',
 '54349_加拿大杨.csv',
 '54349_旱柳.csv',
 '54416_玉兰.csv',
 '54470_小叶杨.csv',
 '54472_刺槐.csv',
 '54474_苹果.csv',
 '54525_柳树.csv',
 '54525_榆树.csv',
 '54619_合欢.csv',
 '54619_旱柳.csv',
 '54619_泡桐.csv',
 '54714_槐树.csv',
 '54714_白蜡.csv',
 '54725_刺槐.csv',
 '54725_枣树.csv',
 '54725_泡桐.csv',
 '54749_合欢.csv',
 '54749_垂柳.csv',
 '54749_槐树.csv',
 '54749_毛白杨.csv',
 '54749_泡桐.csv',
 '54777_刺槐.csv',
 '54777_合欢.csv',
 '54777_垂柳.csv',
 '54777_旱柳.csv',
 '54777_榆树.csv',
 '54777_毛白杨.csv',
 '54777_紫穗槐.csv',
 '54806_旱柳.csv',
 '54806_槐树.csv',
 '54806_毛白杨.csv',
 '54806_泡桐.csv',
 '54821_刺槐.csv',
 '54821_小叶杨.csv',
 '54821_枣树.csv',
 '54821_榆树.csv',
 '54827_泡桐.csv',
 '54827_苹果.csv',
 '54830_刺槐.csv',
 '54830_垂柳.csv',
 '54830_小叶杨.csv',
 '54830_旱柳.csv',
 '54830_槐树.csv',
 '54830_毛白杨.csv',
 '54830_皂荚.csv',
 '54830_紫薇.csv',
 '54843_刺槐.csv',
 '54843_合欢.csv',
 '54843_垂柳.csv',
 '54843_枣树.csv',
 '54843_毛白杨.csv',
 '54843_泡桐.csv',
 '54843_白丁香.csv',
 '54843_紫穗槐.csv',
 '54843_紫薇.csv',
 '54843_葡萄.csv',
 '54849_合欢.csv',
 '54849_垂柳.csv',
 '54849_毛白杨.csv',
 '54849_紫丁香.csv',
 '54849_葡萄.csv',
 '54852_刺槐.csv',
 '54852_旱柳.csv',
 '54852_榆树.csv',
 '54852_毛白杨.csv',
 '54852_泡桐.csv',
 '54900_榆树.csv',
 '54906_刺槐.csv',
 '54906_榆树.csv',
 '54906_毛白杨.csv',
 '54915_刺槐.csv',
 '54915_合欢.csv',
 '54915_垂柳.csv',
 '54915_枣树.csv',
 '54915_梧桐.csv',
 '54915_楝树.csv',
 '54915_槐树.csv',
 '54915_毛白杨.csv',
 '54915_泡桐.csv',
 '54938_合欢.csv',
 '54938_旱柳.csv',
 '54938_榆树.csv',
 '54938_毛白杨.csv',
 '56074_高山柳.csv',
 '56093_小白杨.csv',
 '56093_旱柳.csv',
 '56093_杏.csv',
 '56093_榆树.csv',
 '56093_白梨.csv',
 '56192_苹果.csv',
 '57025_杏树.csv',
 '57034_小叶杨.csv',
 '57043_泡桐.csv',
 '57048_毛白杨.csv',
 '57048_泡桐.csv',
 '57067_小叶杨.csv',
 '57075_枣树.csv',
 '57075_楝树.csv',
 '57083_垂柳.csv',
 '57083_楝树.csv',
 '57083_毛白杨.csv',
 '57089_刺槐.csv',
 '57096_刺槐.csv',
 '57102_泡桐.csv',
 '57102_紫薇.csv',
 '57102_葡萄.csv',
 '57169_榆树.csv',
 '57178_枣树.csv',
 '57178_毛白杨.csv',
 '57178_白榆.csv',
 '57290_楝树.csv',
 '57297_刺槐.csv',
 '57297_合欢.csv',
 '57297_垂柳.csv',
 '57297_楝树.csv',
 '57297_榆树.csv',
 '58002_刺槐.csv',
 '58002_枣树.csv',
 '58002_楝树.csv',
 '58002_榆树.csv',
 '58002_槐树.csv',
 '58005_柿树.csv',
 '58005_毛白杨.csv',
 '58012_旱柳.csv',
 '58012_毛白杨.csv',
 '58049_刺槐.csv',
 '58102_悬铃木.csv',
 '58102_楝树.csv',
 '58122_刺槐.csv',
 '58122_悬铃木.csv',
 '58122_楝树.csv',
 '58141_水杉.csv',
 '58141_泡桐.csv',
 '58158_楝树.csv',
 '58208_法国梧桐.csv',
 '58215_悬铃木.csv',
 '58222_刺槐.csv',
 '58236_楝树.csv',
 '58252_楝树.csv',
 '58252_玉兰.csv',
 '58255_桃树.csv',
 '58255_楝树.csv',
 '58255_银杏.csv',
 '58269_楝树.csv',
 '58269_银杏.csv',
 '58311_悬铃木.csv',
 '58319_刺槐.csv',
 '58319_悬铃木.csv',
 '58321_刺槐.csv',
 '58321_合欢.csv',
 '58339_楝树.csv',
 '58346_梧桐.csv',
 '58356_水杉.csv',
 '58433_刺槐.csv',
 '58433_楝树.csv']

In [219]:
csv_path = '/data/shuping/data/china_phenology/partial_corr/woody/highest_corr_climate_series_with_gpp/50639_榆树.csv'
df = pd.read_csv(csv_path)
df = df.dropna()
df = df.drop(['Unnamed: 0'], axis=1)
df

,year,site,species,sos,eos,tmean,pre,solr,sm,gpp
0,1983,50639,榆树,135.0,277.0,17.233334,115.799999,645.546280,270.523234,588.914634
1,1984,50639,榆树,135.0,254.0,17.000001,165.200001,647.832962,250.370326,544.670118
2,1985,50639,榆树,126.0,278.0,16.833333,231.800003,647.405380,256.032837,665.589869
3,1986,50639,榆树,126.0,288.0,17.166667,115.500000,659.189575,289.029714,618.929876
4,1987,50639,榆树,128.0,291.0,16.866667,214.700005,644.391266,218.578237,634.080594
5,1988,50639,榆树,131.0,280.0,18.100000,136.600002,657.287521,297.282237,634.650892
6,1989,50639,榆树,123.0,275.0,17.000000,104.500000,678.293991,265.660772,580.264681
7,1990,50639,榆树,118.0,272.0,17.166667,180.900002,660.897598,264.429260,694.918906
8,1991,50639,榆树,119.0,284.0,17.400000,140.500004,655.922714,299.025991,636.772331
9,1992,50639,榆树,118.0,271.0,16.700001,152.800003,675.155487,204.532079,559.819256
10,1993,50639,榆树,115.0,269.0,17.433334,169.600002,642.854233,288.362813,690.440367
11,1994,50639,榆树,113.0,267.0,18.433334,161.400002,675.214142,245.332647,596.813329
12,1995,50639,榆树,115.0,281.0,17.366667,91.700001,694.045502,184.549042,630.265641
13,1996,50639,榆树,125.0,277.0,17.333334,91.100001,661.987473,222.739100,754.523233
14,1997,50639,榆树,121.0,280.0,17.633334,198.899998,647.282974,176.569270,578.004448
15,1998,50639,榆树,123.0,275.0,18.333334,244.300007,613.653946,282.293966,536.150491
16,1999,50639,榆树,123.0,276.0,18.100001,149.200010,663.024063,247.237478,593.029467
17,2000,50639,榆树,121.0,275.0,19.333334,84.000002,677.816696,195.275243,574.765247
18,2001,50639,榆树,126.0,276.0,18.500000,63.000001,672.271652,157.325729,479.020082
19,2002,50639,榆树,117.0,270.0,18.500000,76.600003,682.406769,162.178396,607.458775
20,2003,50639,榆树,121.0,278.0,17.066667,195.100002,630.749481,280.211726,532.797126
21,2004,50639,榆树,124.0,284.0,18.300000,128.199999,673.504379,179.803136,529.748960
22,2005,50639,榆树,130.0,281.0,18.433333,78.500002,645.645721,226.537130,653.300594

In [224]:
df.iloc[0,2]

'榆树'

In [225]:
woody_partial_corr = pd.DataFrame(columns=['site', 'species', 'eos-sos-r', 'eos-sos-p_val', 'eos-gpp-r', 'eos-gpp-p_val',
                                                            'eos-tmean-r', 'eos-tmean-p_val', 'eos-pre-r', 'eos-pre-p_val',
                                                            'eos-solr-r', 'eos-solr-p_val', 'eos-sm-r', 'eos-sm-p_val'])
for k in range(len(files)):
    csv_path = file_path + files[k]
    df = pd.read_csv(csv_path)
    df = df.dropna()
    df = df.drop(['Unnamed: 0'], axis=1)
    if df.shape[0]>6:
        eos_sos = pg.partial_corr(data= df, x='sos', y= 'eos', covar=['tmean', 'pre','solr', 'sm', 'gpp'], method='spearman').round(5)
        eos_sos.columns  = ['n', 'r', 'CI95%','p']
        eos_gpp = pg.partial_corr(data= df, x='gpp', y= 'eos', covar=['tmean', 'pre','solr', 'sm', 'sos'], method='spearman').round(5)
        eos_gpp.columns  = ['n', 'r', 'CI95%','p']
        eos_tmean = pg.partial_corr(data= df, x='tmean', y= 'eos', covar=['sos', 'pre','solr', 'sm', 'gpp'], method='spearman').round(5)
        eos_tmean.columns  = ['n', 'r', 'CI95%','p']
        eos_pre = pg.partial_corr(data= df, x='pre', y= 'eos', covar=['sos', 'tmean','solr', 'sm', 'gpp'], method='spearman').round(5)
        eos_pre.columns  = ['n', 'r', 'CI95%','p']
        eos_solr = pg.partial_corr(data= df, x='solr', y= 'eos', covar=['sos', 'tmean','pre', 'sm', 'gpp'], method='spearman').round(5)
        eos_solr.columns  = ['n', 'r', 'CI95%','p']
        eos_sm = pg.partial_corr(data= df, x='sm', y= 'eos', covar=['sos', 'tmean','pre', 'solr', 'gpp'], method='spearman').round(5)
        eos_sm.columns  = ['n', 'r', 'CI95%','p']
        woody_partial_corr = woody_partial_corr.append(pd.DataFrame({'site':[df.iloc[0,1]],'species':[df.iloc[0,2]], 'eos-sos-r':[eos_sos.r[0]],
                                                                       'eos-sos-p_val': [eos_sos.p[0]], 'eos-gpp-r': [eos_gpp.r[0]],
                                                                       'eos-gpp-p_val': [eos_gpp.p[0]], 'eos-tmean-r': [eos_tmean.r[0]],
                                                                       'eos-tmean-p_val': [eos_tmean.p[0]], 'eos-pre-r': [eos_pre.r[0]],
                                                                       'eos-pre-p_val': [eos_pre.p[0]], 'eos-solr-r': [eos_solr.r[0]],
                                                                       'eos-solr-p_val': [eos_solr.p[0]], 'eos-sm-r': [eos_sm.r[0]],
                                                                       'eos-sm-p_val': [eos_sm.p[0]]
                                                                   }), ignore_index=True)

woody_partial_corr.to_csv('/data/shuping/data/china_phenology/results/partial_corr_results_with_gpp/woody_partial_corr.csv', encoding='utf_8_sig')

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/pingouin/correlation.py:830: RuntimeWarning: divide by zero encountered in true_divide
  D = np.diag(np.sqrt(1 / Vi_diag))
/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/pingouin/correlation.py:831: RuntimeWarning: invalid value encountered in matmul
  pcor = -1 * (D @ Vi @ D)  # Partial correlation matrix

##herb

In [226]:
file_path = '/data/shuping/data/china_phenology/partial_corr/herb/highest_corr_climate_series_with_gpp/'
files = sorted(os.listdir(file_path))
files

['50655_36.csv',
 '50871_36.csv',
 '50873_36.csv',
 '50892_36.csv',
 '50964_7.csv',
 '51931_24.csv',
 '51931_35.csv',
 '51931_5.csv',
 '52101_33.csv',
 '52203_25.csv',
 '52203_33.csv',
 '52203_36.csv',
 '52656_33.csv',
 '52656_36.csv',
 '52656_7.csv',
 '52737_5.csv',
 '52825_32.csv',
 '52855_32.csv',
 '52855_33.csv',
 '52895_33.csv',
 '52895_36.csv',
 '52984_36.csv',
 '52984_37.csv',
 '52984_7.csv',
 '52995_36.csv',
 '52995_7.csv',
 '53611_32.csv',
 '53674_7.csv',
 '53704_25.csv',
 '53704_7.csv',
 '53723_28.csv',
 '53769_7.csv',
 '53817_36.csv',
 '53817_7.csv',
 '53821_9.csv',
 '53845_7.csv',
 '53863_7.csv',
 '53868_28.csv',
 '53868_36.csv',
 '53877_36.csv',
 '53877_7.csv',
 '53942_7.csv',
 '53956_7.csv',
 '53959_28.csv',
 '53991_28.csv',
 '53991_7.csv',
 '54049_36.csv',
 '54154_36.csv',
 '54154_7.csv',
 '54165_7.csv',
 '54186_36.csv',
 '54237_6.csv',
 '54260_36.csv',
 '54260_7.csv',
 '54266_36.csv',
 '54333_33.csv',
 '54362_7.csv',
 '54714_3.csv',
 '54714_36.csv',
 '54714_6.csv',
 '54714_7.csv',
 '54725_6.csv',
 '54764_36.csv',
 '54764_6.csv',
 '54764_7.csv',
 '54777_28.csv',
 '54777_6.csv',
 '54821_6.csv',
 '54821_7.csv',
 '54827_28.csv',
 '54827_7.csv',
 '54830_7.csv',
 '54843_28.csv',
 '54843_36.csv',
 '54843_7.csv',
 '54849_28.csv',
 '54849_36.csv',
 '54849_7.csv',
 '54900_35.csv',
 '54936_6.csv',
 '54938_37.csv',
 '56045_16.csv',
 '56074_36.csv',
 '56079_36.csv',
 '56079_7.csv',
 '57043_28.csv',
 '57043_36.csv',
 '57048_36.csv',
 '57048_6.csv',
 '57067_6.csv',
 '57067_7.csv',
 '57075_7.csv',
 '57096_20.csv',
 '57102_29.csv',
 '57102_7.csv',
 '57178_7.csv',
 '57297_45.csv',
 '57297_6.csv',
 '57297_7.csv',
 '57381_29.csv',
 '57482_29.csv',
 '57483_29.csv',
 '57483_36.csv',
 '57483_7.csv',
 '58002_6.csv',
 '58049_32.csv',
 '58269_32.csv',
 '58319_7.csv',
 '58346_45.csv']

In [227]:
csv_path = '/data/shuping/data/china_phenology/partial_corr/herb/highest_corr_climate_series_with_gpp/50655_36.csv'
df = pd.read_csv(csv_path)
df = df.dropna()
df = df.drop(['Unnamed: 0'], axis=1)
df

,year,site,species,sos,eos,tmean,pre,solr,sm,gpp
0,1996,50655,36,107.0,280.0,2.0,449.100007,317.326645,201.329276,736.384503
1,1997,50655,36,105.0,289.0,1.4,446.100004,302.143738,187.070380,770.271492
2,1998,50655,36,99.0,290.0,5.1,598.099995,299.763321,272.688370,741.418310
3,1999,50655,36,107.0,283.0,1.7,411.600019,313.273514,291.945663,681.598674
4,2000,50655,36,111.0,284.0,2.5,329.200008,314.397934,188.669803,747.438287
5,2001,50655,36,114.0,285.0,4.5,254.900005,322.643997,144.046335,714.083090
6,2002,50655,36,106.0,284.0,1.3,376.800010,317.559738,150.857321,763.939005
7,2003,50655,36,106.0,284.0,4.2,611.500010,309.037323,285.762723,610.431187
8,2004,50655,36,109.0,285.0,5.1,297.199999,303.276154,178.319604,639.359371
9,2005,50655,36,113.0,285.0,4.7,325.300009,313.278656,168.793668,679.368884
10,2006,50655,36,114.0,285.0,4.2,438.600007,319.492157,240.744501,675.823381
11,2007,50655,36,110.0,285.0,4.0,231.700006,311.164673,144.169981,669.633588
12,2008,50655,36,106.0,286.0,4.9,311.000000,312.312851,136.958371,683.183288
13,2009,50655,36,108.0,285.0,4.0,487.600014,311.412354,214.809348,707.878492
14,2010,50655,36,121.0,286.0,3.3,340.900007,318.349640,228.923914,712.594256
15,2011,50655,36,113.0,287.0,5.6,338.500000,312.801697,209.292575,783.905644

In [228]:
herb_partial_corr = pd.DataFrame(columns=['site', 'species', 'eos-sos-r', 'eos-sos-p_val', 'eos-gpp-r', 'eos-gpp-p_val',
                                                            'eos-tmean-r', 'eos-tmean-p_val', 'eos-pre-r', 'eos-pre-p_val',
                                                            'eos-solr-r', 'eos-solr-p_val', 'eos-sm-r', 'eos-sm-p_val'])
for k in range(len(files)):
    csv_path = file_path + files[k]
    df = pd.read_csv(csv_path)
    df = df.dropna()
    df = df.drop(['Unnamed: 0'], axis=1)
    if df.shape[0]>6:
        eos_sos = pg.partial_corr(data= df, x='sos', y= 'eos', covar=['tmean', 'pre','solr', 'sm', 'gpp'], method='spearman').round(5)
        eos_sos.columns  = ['n', 'r', 'CI95%','p']
        eos_gpp = pg.partial_corr(data= df, x='gpp', y= 'eos', covar=['tmean', 'pre','solr', 'sm', 'sos'], method='spearman').round(5)
        eos_gpp.columns  = ['n', 'r', 'CI95%','p']
        eos_tmean = pg.partial_corr(data= df, x='tmean', y= 'eos', covar=['sos', 'pre','solr', 'sm', 'gpp'], method='spearman').round(5)
        eos_tmean.columns  = ['n', 'r', 'CI95%','p']
        eos_pre = pg.partial_corr(data= df, x='pre', y= 'eos', covar=['sos', 'tmean','solr', 'sm', 'gpp'], method='spearman').round(5)
        eos_pre.columns  = ['n', 'r', 'CI95%','p']
        eos_solr = pg.partial_corr(data= df, x='solr', y= 'eos', covar=['sos', 'tmean','pre', 'sm', 'gpp'], method='spearman').round(5)
        eos_solr.columns  = ['n', 'r', 'CI95%','p']
        eos_sm = pg.partial_corr(data= df, x='sm', y= 'eos', covar=['sos', 'tmean','pre', 'solr', 'gpp'], method='spearman').round(5)
        eos_sm.columns  = ['n', 'r', 'CI95%','p']
        herb_partial_corr = herb_partial_corr.append(pd.DataFrame({'site':[df.iloc[0,1]],'species':[df.iloc[0,2]], 'eos-sos-r':[eos_sos.r[0]],
                                                                       'eos-sos-p_val': [eos_sos.p[0]], 'eos-gpp-r': [eos_gpp.r[0]],
                                                                       'eos-gpp-p_val': [eos_gpp.p[0]], 'eos-tmean-r': [eos_tmean.r[0]],
                                                                       'eos-tmean-p_val': [eos_tmean.p[0]], 'eos-pre-r': [eos_pre.r[0]],
                                                                       'eos-pre-p_val': [eos_pre.p[0]], 'eos-solr-r': [eos_solr.r[0]],
                                                                       'eos-solr-p_val': [eos_solr.p[0]], 'eos-sm-r': [eos_sm.r[0]],
                                                                       'eos-sm-p_val': [eos_sm.p[0]]
                                                                   }), ignore_index=True)

herb_partial_corr.to_csv('/data/shuping/data/china_phenology/results/partial_corr_results_with_gpp/herb_partial_corr_with_gpp.csv')

# 6 寻找最大偏相关并返回气候变量

##woody

In [229]:
csv_path = '/data/shuping/data/china_phenology/results/partial_corr_results_with_gpp/woody_partial_corr_with_gpp.csv'
df = pd.read_csv(csv_path)
df = df.drop(['Unnamed: 0'], axis=1)
df

,site,species,eos-sos-r,eos-sos-p_val,eos-gpp-r,eos-gpp-p_val,eos-tmean-r,eos-tmean-p_val,eos-pre-r,eos-pre-p_val,eos-solr-r,eos-solr-p_val,eos-sm-r,eos-sm-p_val
0,50639,榆树,0.21600,0.38932,0.17182,0.49541,-0.08853,0.72685,-0.12437,0.62292,-0.15655,0.53504,-0.10994,0.66410
1,50655,中东杨,0.10658,0.72892,0.17874,0.55906,0.42800,0.14457,0.10857,0.72404,0.28210,0.35040,-0.14348,0.64005
2,50756,小叶杨,0.12968,0.70392,-0.10526,0.75808,0.05870,0.86387,0.08984,0.79280,-0.17384,0.60921,-0.32573,0.32831
3,50756,紫丁香,0.19219,0.57129,0.08909,0.79449,0.20572,0.54395,-0.04518,0.89506,-0.14016,0.68105,0.07955,0.81615
4,50788,小叶杨,0.12266,0.71937,0.49894,0.11821,0.22930,0.49762,0.29193,0.38371,-0.23286,0.49078,0.26885,0.42405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,58339,楝树,-0.17741,0.62390,-0.11935,0.74260,0.20172,0.57627,0.44149,0.20149,-0.08744,0.81017,-0.61509,0.05840
279,58346,梧桐,0.36301,0.16699,0.52838,0.03537,0.10591,0.69626,-0.37121,0.15691,-0.41030,0.11445,-0.39275,0.13237
280,58356,水杉,-0.05896,0.86328,-0.27116,0.41993,0.33134,0.31956,-0.11905,0.72735,0.36693,0.26700,-0.09787,0.77466
281,58433,刺槐,0.26940,0.19282,0.53025,0.00640,0.35800,0.07890,0.39226,0.05245,0.05430,0.79658,0.02980,0.88754
282,58433,楝树,0.36754,0.07068,0.56017,0.00359,0.26383,0.20255,-0.34603,0.09019,-0.32204,0.11644,-0.19844,0.34165

In [230]:
df_only_r = df[['eos-sos-r', 'eos-gpp-r', 'eos-tmean-r', 'eos-pre-r', 'eos-solr-r', 'eos-sm-r']]
df_only_r.columns = ['sos', 'gpp', 'tmean', 'pre', 'solr', 'sm']
df_only_r

         sos      gpp    tmean      pre     solr       sm
0    0.21600  0.17182 -0.08853 -0.12437 -0.15655 -0.10994
1    0.10658  0.17874  0.42800  0.10857  0.28210 -0.14348
2    0.12968 -0.10526  0.05870  0.08984 -0.17384 -0.32573
3    0.19219  0.08909  0.20572 -0.04518 -0.14016  0.07955
4    0.12266  0.49894  0.22930  0.29193 -0.23286  0.26885
..       ...      ...      ...      ...      ...      ...
278 -0.17741 -0.11935  0.20172  0.44149 -0.08744 -0.61509
279  0.36301  0.52838  0.10591 -0.37121 -0.41030 -0.39275
280 -0.05896 -0.27116  0.33134 -0.11905  0.36693 -0.09787
281  0.26940  0.53025  0.35800  0.39226  0.05430  0.02980
282  0.36754  0.56017  0.26383 -0.34603 -0.32204 -0.19844

[283 rows x 6 columns]

In [231]:
df_only_r = df_only_r.abs()
df_only_r

         sos      gpp    tmean      pre     solr       sm
0    0.21600  0.17182  0.08853  0.12437  0.15655  0.10994
1    0.10658  0.17874  0.42800  0.10857  0.28210  0.14348
2    0.12968  0.10526  0.05870  0.08984  0.17384  0.32573
3    0.19219  0.08909  0.20572  0.04518  0.14016  0.07955
4    0.12266  0.49894  0.22930  0.29193  0.23286  0.26885
..       ...      ...      ...      ...      ...      ...
278  0.17741  0.11935  0.20172  0.44149  0.08744  0.61509
279  0.36301  0.52838  0.10591  0.37121  0.41030  0.39275
280  0.05896  0.27116  0.33134  0.11905  0.36693  0.09787
281  0.26940  0.53025  0.35800  0.39226  0.05430  0.02980
282  0.36754  0.56017  0.26383  0.34603  0.32204  0.19844

[283 rows x 6 columns]

In [232]:
df_only_r['abs-max-r'] = df_only_r.max(axis=1)
df_only_r['max_index']= df_only_r.idxmax(1)
df_only_r

         sos      gpp    tmean      pre     solr       sm  abs-max-r max_index
0    0.21600  0.17182  0.08853  0.12437  0.15655  0.10994    0.21600       sos
1    0.10658  0.17874  0.42800  0.10857  0.28210  0.14348    0.42800     tmean
2    0.12968  0.10526  0.05870  0.08984  0.17384  0.32573    0.32573        sm
3    0.19219  0.08909  0.20572  0.04518  0.14016  0.07955    0.20572     tmean
4    0.12266  0.49894  0.22930  0.29193  0.23286  0.26885    0.49894       gpp
..       ...      ...      ...      ...      ...      ...        ...       ...
278  0.17741  0.11935  0.20172  0.44149  0.08744  0.61509    0.61509        sm
279  0.36301  0.52838  0.10591  0.37121  0.41030  0.39275    0.52838       gpp
280  0.05896  0.27116  0.33134  0.11905  0.36693  0.09787    0.36693      solr
281  0.26940  0.53025  0.35800  0.39226  0.05430  0.02980    0.53025       gpp
282  0.36754  0.56017  0.26383  0.34603  0.32204  0.19844    0.56017       gpp

[283 rows x 8 columns]

In [233]:
df['abs-max-r'] = df_only_r['abs-max-r']
df['control_variable'] = df_only_r['max_index']
df.to_csv('/data/shuping/data/china_phenology/results/max_r/woody_max_r.csv', encoding='utf_8_sig')
df

,site,species,eos-sos-r,eos-sos-p_val,eos-gpp-r,eos-gpp-p_val,eos-tmean-r,eos-tmean-p_val,eos-pre-r,eos-pre-p_val,eos-solr-r,eos-solr-p_val,eos-sm-r,eos-sm-p_val,abs-max-r,control_variable
0,50639,榆树,0.21600,0.38932,0.17182,0.49541,-0.08853,0.72685,-0.12437,0.62292,-0.15655,0.53504,-0.10994,0.66410,0.21600,sos
1,50655,中东杨,0.10658,0.72892,0.17874,0.55906,0.42800,0.14457,0.10857,0.72404,0.28210,0.35040,-0.14348,0.64005,0.42800,tmean
2,50756,小叶杨,0.12968,0.70392,-0.10526,0.75808,0.05870,0.86387,0.08984,0.79280,-0.17384,0.60921,-0.32573,0.32831,0.32573,sm
3,50756,紫丁香,0.19219,0.57129,0.08909,0.79449,0.20572,0.54395,-0.04518,0.89506,-0.14016,0.68105,0.07955,0.81615,0.20572,tmean
4,50788,小叶杨,0.12266,0.71937,0.49894,0.11821,0.22930,0.49762,0.29193,0.38371,-0.23286,0.49078,0.26885,0.42405,0.49894,gpp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,58339,楝树,-0.17741,0.62390,-0.11935,0.74260,0.20172,0.57627,0.44149,0.20149,-0.08744,0.81017,-0.61509,0.05840,0.61509,sm
279,58346,梧桐,0.36301,0.16699,0.52838,0.03537,0.10591,0.69626,-0.37121,0.15691,-0.41030,0.11445,-0.39275,0.13237,0.52838,gpp
280,58356,水杉,-0.05896,0.86328,-0.27116,0.41993,0.33134,0.31956,-0.11905,0.72735,0.36693,0.26700,-0.09787,0.77466,0.36693,solr
281,58433,刺槐,0.26940,0.19282,0.53025,0.00640,0.35800,0.07890,0.39226,0.05245,0.05430,0.79658,0.02980,0.88754,0.53025,gpp
282,58433,楝树,0.36754,0.07068,0.56017,0.00359,0.26383,0.20255,-0.34603,0.09019,-0.32204,0.11644,-0.19844,0.34165,0.56017,gpp

In [234]:
df_gpp = df[df['control_variable'] == 'gpp']
df_sos = df[df['control_variable'] == 'sos']
df_tmean = df[df['control_variable'] == 'tmean']
df_pre = df[df['control_variable'] == 'pre']
df_solr = df[df['control_variable'] == 'solr']
df_sm = df[df['control_variable'] == 'sm']
print('gpp_control:', (df_gpp.shape[0]/df.shape[0]*100))
print('sos_control:', (df_sos.shape[0]/df.shape[0]*100))
print('tmean_control:', (df_tmean.shape[0]/df.shape[0]*100))
print('pre_control:', (df_pre.shape[0]/df.shape[0]*100))
print('solr_control:', (df_solr.shape[0]/df.shape[0]*100))
print('sm_control:', (df_sm.shape[0]/df.shape[0]*100))

gpp_control: 23.32155477031802
sos_control: 13.780918727915195
tmean_control: 22.261484098939928
pre_control: 13.780918727915195
solr_control: 19.081272084805654
sm_control: 7.773851590106007

##herb

In [235]:
csv_path = '/data/shuping/data/china_phenology/results/partial_corr_results_with_gpp/herb_partial_corr_with_gpp.csv'
df = pd.read_csv(csv_path)
df = df.drop(['Unnamed: 0'], axis=1)
df

,site,species,eos-sos-r,eos-sos-p_val,eos-gpp-r,eos-gpp-p_val,eos-tmean-r,eos-tmean-p_val,eos-pre-r,eos-pre-p_val,eos-solr-r,eos-solr-p_val,eos-sm-r,eos-sm-p_val
0,50655,36,0.36569,0.26873,0.55241,0.07803,0.43969,0.17599,0.18187,0.59251,-0.50938,0.10950,-0.21519,0.52513
1,50871,36,0.05452,0.83536,0.15349,0.55643,-0.04091,0.87613,0.35504,0.16198,0.32817,0.19844,0.44964,0.07016
2,50873,36,-0.14406,0.58120,0.27657,0.28255,-0.02443,0.92586,-0.04711,0.85751,-0.66728,0.00343,0.22151,0.39286
3,50892,36,-0.11724,0.66543,0.85276,0.00003,-0.01507,0.95582,-0.16892,0.53171,-0.19370,0.47226,0.06546,0.80967
4,50964,7,-0.25875,0.31596,0.44584,0.07287,0.29565,0.24927,-0.10750,0.68132,-0.13021,0.61840,-0.19421,0.45512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,57483,7,0.22683,0.38130,0.05074,0.84666,-0.04250,0.87135,0.37822,0.13442,0.23154,0.37122,-0.03062,0.90714
104,58002,6,0.30921,0.30395,0.48058,0.09644,0.35461,0.23449,-0.17769,0.56140,-0.50920,0.07552,-0.22726,0.45526
105,58049,32,0.12165,0.57123,0.19876,0.35180,0.12728,0.55339,0.24698,0.24462,-0.20889,0.32730,-0.04705,0.82720
106,58319,7,0.19174,0.40505,0.94148,0.00000,0.23371,0.30790,0.18643,0.41843,0.12734,0.58227,-0.06204,0.78935
107,58346,45,0.43283,0.13960,0.05265,0.86436,-0.07131,0.81693,0.41245,0.16134,0.14511,0.63620,-0.12991,0.67229

In [236]:
df_only_r = df[['eos-sos-r', 'eos-gpp-r', 'eos-tmean-r', 'eos-pre-r', 'eos-solr-r', 'eos-sm-r']]
df_only_r.columns = ['sos', 'gpp', 'tmean', 'pre', 'solr', 'sm']
df_only_r

         sos      gpp    tmean      pre     solr       sm
0    0.36569  0.55241  0.43969  0.18187 -0.50938 -0.21519
1    0.05452  0.15349 -0.04091  0.35504  0.32817  0.44964
2   -0.14406  0.27657 -0.02443 -0.04711 -0.66728  0.22151
3   -0.11724  0.85276 -0.01507 -0.16892 -0.19370  0.06546
4   -0.25875  0.44584  0.29565 -0.10750 -0.13021 -0.19421
..       ...      ...      ...      ...      ...      ...
103  0.22683  0.05074 -0.04250  0.37822  0.23154 -0.03062
104  0.30921  0.48058  0.35461 -0.17769 -0.50920 -0.22726
105  0.12165  0.19876  0.12728  0.24698 -0.20889 -0.04705
106  0.19174  0.94148  0.23371  0.18643  0.12734 -0.06204
107  0.43283  0.05265 -0.07131  0.41245  0.14511 -0.12991

[108 rows x 6 columns]

In [237]:
df_only_r = df_only_r.abs()
df_only_r

         sos      gpp    tmean      pre     solr       sm
0    0.36569  0.55241  0.43969  0.18187  0.50938  0.21519
1    0.05452  0.15349  0.04091  0.35504  0.32817  0.44964
2    0.14406  0.27657  0.02443  0.04711  0.66728  0.22151
3    0.11724  0.85276  0.01507  0.16892  0.19370  0.06546
4    0.25875  0.44584  0.29565  0.10750  0.13021  0.19421
..       ...      ...      ...      ...      ...      ...
103  0.22683  0.05074  0.04250  0.37822  0.23154  0.03062
104  0.30921  0.48058  0.35461  0.17769  0.50920  0.22726
105  0.12165  0.19876  0.12728  0.24698  0.20889  0.04705
106  0.19174  0.94148  0.23371  0.18643  0.12734  0.06204
107  0.43283  0.05265  0.07131  0.41245  0.14511  0.12991

[108 rows x 6 columns]

In [238]:
df_only_r['abs-max-r'] = df_only_r.max(axis=1)
df_only_r['max_index']= df_only_r.idxmax(1)
df_only_r

         sos      gpp    tmean      pre     solr       sm  abs-max-r max_index
0    0.36569  0.55241  0.43969  0.18187  0.50938  0.21519    0.55241       gpp
1    0.05452  0.15349  0.04091  0.35504  0.32817  0.44964    0.44964        sm
2    0.14406  0.27657  0.02443  0.04711  0.66728  0.22151    0.66728      solr
3    0.11724  0.85276  0.01507  0.16892  0.19370  0.06546    0.85276       gpp
4    0.25875  0.44584  0.29565  0.10750  0.13021  0.19421    0.44584       gpp
..       ...      ...      ...      ...      ...      ...        ...       ...
103  0.22683  0.05074  0.04250  0.37822  0.23154  0.03062    0.37822       pre
104  0.30921  0.48058  0.35461  0.17769  0.50920  0.22726    0.50920      solr
105  0.12165  0.19876  0.12728  0.24698  0.20889  0.04705    0.24698       pre
106  0.19174  0.94148  0.23371  0.18643  0.12734  0.06204    0.94148       gpp
107  0.43283  0.05265  0.07131  0.41245  0.14511  0.12991    0.43283       sos

[108 rows x 8 columns]

In [239]:
df['abs-max-r'] = df_only_r['abs-max-r']
df['control_variable'] = df_only_r['max_index']
df.to_csv('/data/shuping/data/china_phenology/results/max_r/herb_max_r.csv')
df

,site,species,eos-sos-r,eos-sos-p_val,eos-gpp-r,eos-gpp-p_val,eos-tmean-r,eos-tmean-p_val,eos-pre-r,eos-pre-p_val,eos-solr-r,eos-solr-p_val,eos-sm-r,eos-sm-p_val,abs-max-r,control_variable
0,50655,36,0.36569,0.26873,0.55241,0.07803,0.43969,0.17599,0.18187,0.59251,-0.50938,0.10950,-0.21519,0.52513,0.55241,gpp
1,50871,36,0.05452,0.83536,0.15349,0.55643,-0.04091,0.87613,0.35504,0.16198,0.32817,0.19844,0.44964,0.07016,0.44964,sm
2,50873,36,-0.14406,0.58120,0.27657,0.28255,-0.02443,0.92586,-0.04711,0.85751,-0.66728,0.00343,0.22151,0.39286,0.66728,solr
3,50892,36,-0.11724,0.66543,0.85276,0.00003,-0.01507,0.95582,-0.16892,0.53171,-0.19370,0.47226,0.06546,0.80967,0.85276,gpp
4,50964,7,-0.25875,0.31596,0.44584,0.07287,0.29565,0.24927,-0.10750,0.68132,-0.13021,0.61840,-0.19421,0.45512,0.44584,gpp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,57483,7,0.22683,0.38130,0.05074,0.84666,-0.04250,0.87135,0.37822,0.13442,0.23154,0.37122,-0.03062,0.90714,0.37822,pre
104,58002,6,0.30921,0.30395,0.48058,0.09644,0.35461,0.23449,-0.17769,0.56140,-0.50920,0.07552,-0.22726,0.45526,0.50920,solr
105,58049,32,0.12165,0.57123,0.19876,0.35180,0.12728,0.55339,0.24698,0.24462,-0.20889,0.32730,-0.04705,0.82720,0.24698,pre
106,58319,7,0.19174,0.40505,0.94148,0.00000,0.23371,0.30790,0.18643,0.41843,0.12734,0.58227,-0.06204,0.78935,0.94148,gpp
107,58346,45,0.43283,0.13960,0.05265,0.86436,-0.07131,0.81693,0.41245,0.16134,0.14511,0.63620,-0.12991,0.67229,0.43283,sos

In [240]:
df_gpp = df[df['control_variable'] == 'gpp']
df_sos = df[df['control_variable'] == 'sos']
df_tmean = df[df['control_variable'] == 'tmean']
df_pre = df[df['control_variable'] == 'pre']
df_solr = df[df['control_variable'] == 'solr']
df_sm = df[df['control_variable'] == 'sm']
print('gpp_control:', (df_gpp.shape[0]/df.shape[0]*100))
print('sos_control:', (df_sos.shape[0]/df.shape[0]*100))
print('tmean_control:', (df_tmean.shape[0]/df.shape[0]*100))
print('pre_control:', (df_pre.shape[0]/df.shape[0]*100))
print('solr_control:', (df_solr.shape[0]/df.shape[0]*100))
print('sm_control:', (df_sm.shape[0]/df.shape[0]*100))

gpp_control: 28.703703703703702
sos_control: 15.74074074074074
tmean_control: 12.962962962962962
pre_control: 13.88888888888889
solr_control: 21.296296296296298
sm_control: 7.4074074074074066

##all

In [241]:
import os

In [243]:
dir = '/data/shuping/data/china_phenology/results/max_r'
data = pd.DataFrame(columns=['site', 'species', 'eos-sos-r', 'eos-sos-p_val', 'eos-gpp-r',
       'eos-gpp-p_val', 'eos-tmean-r', 'eos-tmean-p_val', 'eos-pre-r',
       'eos-pre-p_val', 'eos-solr-r', 'eos-solr-p_val', 'eos-sm-r',
       'eos-sm-p_val', 'abs-max-r', 'control_variable'])
files = sorted(os.listdir(dir))
for file in files:
    phen = pd.read_csv(os.path.join(dir, file))
    phen = phen.drop(['Unnamed: 0'], axis=1)
    data = pd.concat([data, phen], axis=0)
data

,site,species,eos-sos-r,eos-sos-p_val,eos-gpp-r,eos-gpp-p_val,eos-tmean-r,eos-tmean-p_val,eos-pre-r,eos-pre-p_val,eos-solr-r,eos-solr-p_val,eos-sm-r,eos-sm-p_val,abs-max-r,control_variable
0,50655,36,0.36569,0.26873,0.55241,0.07803,0.43969,0.17599,0.18187,0.59251,-0.50938,0.10950,-0.21519,0.52513,0.55241,gpp
1,50871,36,0.05452,0.83536,0.15349,0.55643,-0.04091,0.87613,0.35504,0.16198,0.32817,0.19844,0.44964,0.07016,0.44964,sm
2,50873,36,-0.14406,0.58120,0.27657,0.28255,-0.02443,0.92586,-0.04711,0.85751,-0.66728,0.00343,0.22151,0.39286,0.66728,solr
3,50892,36,-0.11724,0.66543,0.85276,0.00003,-0.01507,0.95582,-0.16892,0.53171,-0.19370,0.47226,0.06546,0.80967,0.85276,gpp
4,50964,7,-0.25875,0.31596,0.44584,0.07287,0.29565,0.24927,-0.10750,0.68132,-0.13021,0.61840,-0.19421,0.45512,0.44584,gpp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,58339,楝树,-0.17741,0.62390,-0.11935,0.74260,0.20172,0.57627,0.44149,0.20149,-0.08744,0.81017,-0.61509,0.05840,0.61509,sm
279,58346,梧桐,0.36301,0.16699,0.52838,0.03537,0.10591,0.69626,-0.37121,0.15691,-0.41030,0.11445,-0.39275,0.13237,0.52838,gpp
280,58356,水杉,-0.05896,0.86328,-0.27116,0.41993,0.33134,0.31956,-0.11905,0.72735,0.36693,0.26700,-0.09787,0.77466,0.36693,solr
281,58433,刺槐,0.26940,0.19282,0.53025,0.00640,0.35800,0.07890,0.39226,0.05245,0.05430,0.79658,0.02980,0.88754,0.53025,gpp
282,58433,楝树,0.36754,0.07068,0.56017,0.00359,0.26383,0.20255,-0.34603,0.09019,-0.32204,0.11644,-0.19844,0.34165,0.56017,gpp

In [244]:
df_gpp = data[data['control_variable'] == 'gpp']
df_sos = data[data['control_variable'] == 'sos']
df_tmean = data[data['control_variable'] == 'tmean']
df_pre = data[data['control_variable'] == 'pre']
df_solr = data[data['control_variable'] == 'solr']
df_sm = data[data['control_variable'] == 'sm']
print('gpp_control:', (df_gpp.shape[0]/data.shape[0]*100))
print('sos_control:', (df_sos.shape[0]/data.shape[0]*100))
print('tmean_control:', (df_tmean.shape[0]/data.shape[0]*100))
print('pre_control:', (df_pre.shape[0]/data.shape[0]*100))
print('solr_control:', (df_solr.shape[0]/data.shape[0]*100))
print('sm_control:', (df_sm.shape[0]/data.shape[0]*100))

gpp_control: 24.808184143222505
sos_control: 14.322250639386189
tmean_control: 19.69309462915601
pre_control: 13.810741687979538
solr_control: 19.69309462915601
sm_control: 7.672634271099745

# 7 Mean_partial_correlation_coefficient

## woody

In [247]:
csv_path = '/data/shuping/data/china_phenology/results/partial_corr_results_with_gpp/woody_partial_corr_with_gpp.csv'
df = pd.read_csv(csv_path)
df = df.drop(['Unnamed: 0'], axis=1)
df = df.drop(['site', 'species', 'eos-sos-p_val', 'eos-gpp-p_val', 'eos-tmean-p_val', 'eos-pre-p_val',
              'eos-solr-p_val', 'eos-sm-p_val'], axis = 1)
df

     eos-sos-r  eos-gpp-r  eos-tmean-r  eos-pre-r  eos-solr-r  eos-sm-r
0      0.21600    0.17182     -0.08853   -0.12437    -0.15655  -0.10994
1      0.10658    0.17874      0.42800    0.10857     0.28210  -0.14348
2      0.12968   -0.10526      0.05870    0.08984    -0.17384  -0.32573
3      0.19219    0.08909      0.20572   -0.04518    -0.14016   0.07955
4      0.12266    0.49894      0.22930    0.29193    -0.23286   0.26885
..         ...        ...          ...        ...         ...       ...
278   -0.17741   -0.11935      0.20172    0.44149    -0.08744  -0.61509
279    0.36301    0.52838      0.10591   -0.37121    -0.41030  -0.39275
280   -0.05896   -0.27116      0.33134   -0.11905     0.36693  -0.09787
281    0.26940    0.53025      0.35800    0.39226     0.05430   0.02980
282    0.36754    0.56017      0.26383   -0.34603    -0.32204  -0.19844

[283 rows x 6 columns]

In [248]:
stas_df = df.describe()
stas_df.to_csv('/data/shuping/data/china_phenology/results/mean_partial_correlation_coefficient/woody_mean_parcorr.csv')
stas_df

        eos-sos-r   eos-gpp-r  eos-tmean-r   eos-pre-r  eos-solr-r    eos-sm-r
count  283.000000  283.000000   283.000000  282.000000  283.000000  283.000000
mean     0.121938    0.197816     0.135913   -0.012064   -0.115866   -0.055897
std      0.305812    0.315308     0.340617    0.325076    0.340229    0.283999
min     -0.788000   -0.621190    -0.789830   -0.731800   -0.805840   -0.880840
25%     -0.090695   -0.041155    -0.106745   -0.255245   -0.388600   -0.255970
50%      0.141000    0.222800     0.173560   -0.032790   -0.173840   -0.069860
75%      0.343795    0.431040     0.413380    0.232162    0.147400    0.128845
max      0.915920    0.889110     0.937340    0.809500    0.774490    0.718240

##herb

In [249]:
# herb
csv_path = '/data/shuping/data/china_phenology/results/partial_corr_results_with_gpp/herb_partial_corr_with_gpp.csv'
df = pd.read_csv(csv_path)
df = df.drop(['Unnamed: 0'], axis=1)
df = df.drop(['site', 'species', 'eos-sos-p_val', 'eos-gpp-p_val', 'eos-tmean-p_val', 'eos-pre-p_val',
              'eos-solr-p_val', 'eos-sm-p_val'], axis = 1)
df

     eos-sos-r  eos-gpp-r  eos-tmean-r  eos-pre-r  eos-solr-r  eos-sm-r
0      0.36569    0.55241      0.43969    0.18187    -0.50938  -0.21519
1      0.05452    0.15349     -0.04091    0.35504     0.32817   0.44964
2     -0.14406    0.27657     -0.02443   -0.04711    -0.66728   0.22151
3     -0.11724    0.85276     -0.01507   -0.16892    -0.19370   0.06546
4     -0.25875    0.44584      0.29565   -0.10750    -0.13021  -0.19421
..         ...        ...          ...        ...         ...       ...
103    0.22683    0.05074     -0.04250    0.37822     0.23154  -0.03062
104    0.30921    0.48058      0.35461   -0.17769    -0.50920  -0.22726
105    0.12165    0.19876      0.12728    0.24698    -0.20889  -0.04705
106    0.19174    0.94148      0.23371    0.18643     0.12734  -0.06204
107    0.43283    0.05265     -0.07131    0.41245     0.14511  -0.12991

[108 rows x 6 columns]

In [250]:
stas_df = df.describe()
stas_df.to_csv('/data/shuping/data/china_phenology/results/mean_partial_correlation_coefficient/herb_mean_parcorr.csv')
stas_df

        eos-sos-r   eos-gpp-r  eos-tmean-r   eos-pre-r  eos-solr-r    eos-sm-r
count  108.000000  108.000000   108.000000  108.000000  108.000000  108.000000
mean     0.132868    0.241886     0.045642   -0.016971   -0.092306    0.004077
std      0.275331    0.310714     0.305062    0.296200    0.296856    0.256262
min     -0.523980   -0.601650    -0.638790   -0.755330   -0.668460   -0.541430
25%     -0.073645    0.032708    -0.186805   -0.242165   -0.334738   -0.170643
50%      0.125865    0.246665     0.089005   -0.025710   -0.093795   -0.053435
75%      0.328080    0.434107     0.288310    0.231220    0.117813    0.215143
max      0.829310    0.969840     0.721230    0.660110    0.555660    0.713520

## all

In [254]:
# all
dir = '/data/shuping/data/china_phenology/results/partial_corr_results_with_gpp'
data = pd.DataFrame(columns=['site', 'species', 'eos-sos-r', 'eos-sos-p_val',
       'eos-gpp-r', 'eos-gpp-p_val', 'eos-tmean-r', 'eos-tmean-p_val',
       'eos-pre-r', 'eos-pre-p_val', 'eos-solr-r', 'eos-solr-p_val',
       'eos-sm-r', 'eos-sm-p_val'])
files = sorted(os.listdir(dir))
for file in files:
    phen = pd.read_csv(os.path.join(dir, file))
    phen = phen.drop(['Unnamed: 0'], axis=1)
    data = pd.concat([data, phen], axis=0)
data

,site,species,eos-sos-r,eos-sos-p_val,eos-gpp-r,eos-gpp-p_val,eos-tmean-r,eos-tmean-p_val,eos-pre-r,eos-pre-p_val,eos-solr-r,eos-solr-p_val,eos-sm-r,eos-sm-p_val
0,50655,36,0.36569,0.26873,0.55241,0.07803,0.43969,0.17599,0.18187,0.59251,-0.50938,0.10950,-0.21519,0.52513
1,50871,36,0.05452,0.83536,0.15349,0.55643,-0.04091,0.87613,0.35504,0.16198,0.32817,0.19844,0.44964,0.07016
2,50873,36,-0.14406,0.58120,0.27657,0.28255,-0.02443,0.92586,-0.04711,0.85751,-0.66728,0.00343,0.22151,0.39286
3,50892,36,-0.11724,0.66543,0.85276,0.00003,-0.01507,0.95582,-0.16892,0.53171,-0.19370,0.47226,0.06546,0.80967
4,50964,7,-0.25875,0.31596,0.44584,0.07287,0.29565,0.24927,-0.10750,0.68132,-0.13021,0.61840,-0.19421,0.45512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,58339,楝树,-0.17741,0.62390,-0.11935,0.74260,0.20172,0.57627,0.44149,0.20149,-0.08744,0.81017,-0.61509,0.05840
279,58346,梧桐,0.36301,0.16699,0.52838,0.03537,0.10591,0.69626,-0.37121,0.15691,-0.41030,0.11445,-0.39275,0.13237
280,58356,水杉,-0.05896,0.86328,-0.27116,0.41993,0.33134,0.31956,-0.11905,0.72735,0.36693,0.26700,-0.09787,0.77466
281,58433,刺槐,0.26940,0.19282,0.53025,0.00640,0.35800,0.07890,0.39226,0.05245,0.05430,0.79658,0.02980,0.88754
282,58433,楝树,0.36754,0.07068,0.56017,0.00359,0.26383,0.20255,-0.34603,0.09019,-0.32204,0.11644,-0.19844,0.34165

In [255]:
df = data.drop(['site', 'species', 'eos-sos-p_val', 'eos-gpp-p_val', 'eos-tmean-p_val', 'eos-pre-p_val',
              'eos-solr-p_val', 'eos-sm-p_val'], axis = 1)
df

     eos-sos-r  eos-gpp-r  eos-tmean-r  eos-pre-r  eos-solr-r  eos-sm-r
0      0.36569    0.55241      0.43969    0.18187    -0.50938  -0.21519
1      0.05452    0.15349     -0.04091    0.35504     0.32817   0.44964
2     -0.14406    0.27657     -0.02443   -0.04711    -0.66728   0.22151
3     -0.11724    0.85276     -0.01507   -0.16892    -0.19370   0.06546
4     -0.25875    0.44584      0.29565   -0.10750    -0.13021  -0.19421
..         ...        ...          ...        ...         ...       ...
278   -0.17741   -0.11935      0.20172    0.44149    -0.08744  -0.61509
279    0.36301    0.52838      0.10591   -0.37121    -0.41030  -0.39275
280   -0.05896   -0.27116      0.33134   -0.11905     0.36693  -0.09787
281    0.26940    0.53025      0.35800    0.39226     0.05430   0.02980
282    0.36754    0.56017      0.26383   -0.34603    -0.32204  -0.19844

[391 rows x 6 columns]

In [256]:
stas_df = df.describe()
stas_df.to_csv('/data/shuping/data/china_phenology/results/mean_partial_correlation_coefficient/all_species_mean_parcorr.csv')
stas_df

        eos-sos-r   eos-gpp-r  eos-tmean-r   eos-pre-r  eos-solr-r    eos-sm-r
count  391.000000  391.000000   391.000000  390.000000  391.000000  391.000000
mean     0.124957    0.209989     0.110979   -0.013423   -0.109358   -0.039331
std      0.297397    0.314268     0.333252    0.316974    0.328617    0.277594
min     -0.788000   -0.621190    -0.789830   -0.755330   -0.805840   -0.880840
25%     -0.085360   -0.018635    -0.157935   -0.255245   -0.378325   -0.215590
50%      0.137360    0.230110     0.154220   -0.031875   -0.144850   -0.062960
75%      0.341530    0.431720     0.375365    0.232162    0.141655    0.150175
max      0.915920    0.969840     0.937340    0.809500    0.774490    0.718240

##分物种平均偏相关

In [1]:
import pandas as pd

In [5]:
# woody
csv_path = '/data/shuping/data/china_phenology/results/partial_corr_results_with_gpp/woody_partial_corr_with_gpp.csv'
df = pd.read_csv(csv_path)
df = df.drop(['Unnamed: 0'], axis=1)
df = df.drop(['eos-sos-p_val', 'eos-gpp-p_val', 'eos-tmean-p_val', 'eos-pre-p_val',
              'eos-solr-p_val', 'eos-sm-p_val'], axis = 1)
df

,site,species,eos-sos-r,eos-gpp-r,eos-tmean-r,eos-pre-r,eos-solr-r,eos-sm-r
0,50639,榆树,0.21600,0.17182,-0.08853,-0.12437,-0.15655,-0.10994
1,50655,中东杨,0.10658,0.17874,0.42800,0.10857,0.28210,-0.14348
2,50756,小叶杨,0.12968,-0.10526,0.05870,0.08984,-0.17384,-0.32573
3,50756,紫丁香,0.19219,0.08909,0.20572,-0.04518,-0.14016,0.07955
4,50788,小叶杨,0.12266,0.49894,0.22930,0.29193,-0.23286,0.26885
...,...,...,...,...,...,...,...,...
278,58339,楝树,-0.17741,-0.11935,0.20172,0.44149,-0.08744,-0.61509
279,58346,梧桐,0.36301,0.52838,0.10591,-0.37121,-0.41030,-0.39275
280,58356,水杉,-0.05896,-0.27116,0.33134,-0.11905,0.36693,-0.09787
281,58433,刺槐,0.26940,0.53025,0.35800,0.39226,0.05430,0.02980
282,58433,楝树,0.36754,0.56017,0.26383,-0.34603,-0.32204,-0.19844

In [6]:
all_species = df['species'].unique()
print(all_species)

['榆树' '中东杨' '小叶杨' '紫丁香' '旱柳' '加拿大杨' '垂柳' '冬苹果' '夏苹果' '杨树' '沙枣' '新疆杨' '箭杆杨'
 '钻天杨' '杏树' '柳树' '桃树' '桑树' '葡萄' '香梨' '苹果' '梨树' '核桃树' '银白杨' '枣树' '枸杞'
 '青海大叶杨' '杏' '刺槐' '牡丹' '毛白杨' '合欢' '白杨' '泡桐' '123苹果' '玉兰' '槐树' '白蜡' '紫穗槐'
 '皂荚' '紫薇' '白丁香' '梧桐' '楝树' '高山柳' '小白杨' '白梨' '白榆' '柿树' '悬铃木' '水杉' '法国梧桐'
 '银杏']

In [7]:
mean_partial_corr = pd.DataFrame(columns=['species', 'eos-sos-r', 'eos-gpp-r', 'eos-tmean-r', 'eos-pre-r', 'eos-solr-r', 'eos-sm-r'])
for i in range(len(all_species)):
    single_species = df[df.species == all_species[i]]
    mean_corr = single_species.mean()
    mean_partial_corr = mean_partial_corr.append(pd.DataFrame({'species':[str(all_species[i])], 'eos-sos-r':[mean_corr[1]], 'eos-gpp-r':[mean_corr[2]],
                                                       'eos-tmean-r':[mean_corr[3]],'eos-pre-r':[mean_corr[4]],'eos-solr-r':[mean_corr[5]],
                                                               'eos-sm-r':[mean_corr[6]],
                                                               }), ignore_index=True)
mean_partial_corr.to_csv('/data/shuping/data/china_phenology/results/woody_mean_partial_corr.csv', encoding='utf_8_sig')

site           53421.529412
eos-sos-r          0.122661
eos-gpp-r          0.244717
eos-tmean-r        0.203239
eos-pre-r          0.057496
eos-solr-r        -0.139034
eos-sm-r          -0.054842
dtype: float64
site           50655.00000
eos-sos-r          0.10658
eos-gpp-r          0.17874
eos-tmean-r        0.42800
eos-pre-r          0.10857
eos-solr-r         0.28210
eos-sm-r          -0.14348
dtype: float64
site           53166.647059
eos-sos-r          0.160996
eos-gpp-r          0.248776
eos-tmean-r        0.124019
eos-pre-r         -0.040936
eos-solr-r        -0.014050
eos-sm-r          -0.059089
dtype: float64
site           52772.428571
eos-sos-r          0.164813
eos-gpp-r          0.160837
eos-tmean-r       -0.056341
eos-pre-r          0.339473
eos-solr-r        -0.100233
eos-sm-r           0.181924
dtype: float64
site           53840.666667
eos-sos-r          0.047468
eos-gpp-r          0.115320
eos-tmean-r        0.154789
eos-pre-r         -0.026805
eos-solr-r        -0.202064
eos-sm-r          -0.066804
dtype: float64
site           52937.857143
eos-sos-r         -0.059357
eos-gpp-r          0.165036
eos-tmean-r        0.234816
eos-pre-r         -0.061783
eos-solr-r        -0.134947
eos-sm-r          -0.057016
dtype: float64
site           54743.100000
eos-sos-r          0.172931
eos-gpp-r          0.198277
eos-tmean-r        0.280029
eos-pre-r          0.060888
eos-solr-r        -0.252930
eos-sm-r          -0.051654
dtype: float64
site           51133.00000
eos-sos-r          0.29208
eos-gpp-r         -0.07181
eos-tmean-r        0.54963
eos-pre-r          0.39216
eos-solr-r        -0.24453
eos-sm-r          -0.11818
dtype: float64
site           51133.00000
eos-sos-r          0.17540
eos-gpp-r          0.17319
eos-tmean-r        0.51589
eos-pre-r          0.50461
eos-solr-r        -0.54458
eos-sm-r          -0.30438
dtype: float64
site           51133.00000
eos-sos-r          0.41554
eos-gpp-r          0.19354
eos-tmean-r        0.30513
eos-pre-r         -0.33135
eos-solr-r         0.44745
eos-sm-r          -0.06127
dtype: float64
site           51587.000000
eos-sos-r          0.180443
eos-gpp-r         -0.093337
eos-tmean-r        0.024652
eos-pre-r         -0.158340
eos-solr-r        -0.097477
eos-sm-r           0.142705
dtype: float64
site           51710.000000
eos-sos-r          0.216562
eos-gpp-r          0.137950
eos-tmean-r       -0.094204
eos-pre-r          0.111438
eos-solr-r        -0.016144
eos-sm-r           0.033556
dtype: float64
site           51358.00000
eos-sos-r          0.34980
eos-gpp-r         -0.01653
eos-tmean-r        0.13763
eos-pre-r         -0.03975
eos-solr-r        -0.19668
eos-sm-r          -0.30799
dtype: float64
site           51617.333333
eos-sos-r          0.022440
eos-gpp-r          0.142193
eos-tmean-r        0.103863
eos-pre-r         -0.043967
eos-solr-r        -0.007517
eos-sm-r           0.014203
dtype: float64
site           52793.285714
eos-sos-r         -0.007783
eos-gpp-r          0.133210
eos-tmean-r       -0.000071
eos-pre-r         -0.003523
eos-solr-r        -0.135130
eos-sm-r          -0.049501
dtype: float64
site           52361.750000
eos-sos-r         -0.014135
eos-gpp-r          0.171060
eos-tmean-r        0.042385
eos-pre-r         -0.366095
eos-solr-r         0.019720
eos-sm-r           0.190868
dtype: float64
site           53919.666667
eos-sos-r          0.108580
eos-gpp-r          0.462300
eos-tmean-r        0.196877
eos-pre-r         -0.038940
eos-solr-r        -0.549943
eos-sm-r           0.233673
dtype: float64
site           51742.000000
eos-sos-r          0.487665
eos-gpp-r          0.309770
eos-tmean-r        0.468485
eos-pre-r          0.052345
eos-solr-r        -0.262210
eos-sm-r           0.019310
dtype: float64
site           53773.142857
eos-sos-r          0.114044
eos-gpp-r          0.174481
eos-tmean-r       -0.023231
eos-pre-r         -0.005231
eos-solr-r        -0.049147
eos-sm-r           0.029906
dtype: float64
site           51656.00000
eos-sos-r         -0.19964
eos-gpp-r         -0.04800
eos-tmean-r       -0.34626
eos-pre-r          0.45893
eos-solr-r         0.02548
eos-sm-r           0.19399
dtype: float64
site           53402.363636
eos-sos-r         -0.023548
eos-gpp-r          0.125283
eos-tmean-r        0.106368
eos-pre-r         -0.055661
eos-solr-r        -0.241574
eos-sm-r           0.002925
dtype: float64
site           51811.00000
eos-sos-r         -0.17710
eos-gpp-r         -0.52472
eos-tmean-r        0.08930
eos-pre-r         -0.25361
eos-solr-r        -0.30903
eos-sm-r           0.16929
dtype: float64
site           52852.500000
eos-sos-r          0.440635
eos-gpp-r          0.060345
eos-tmean-r        0.021730
eos-pre-r          0.044845
eos-solr-r         0.052220
eos-sm-r           0.079725
dtype: float64
site           51828.00000
eos-sos-r         -0.18494
eos-gpp-r          0.23893
eos-tmean-r        0.14820
eos-pre-r         -0.18343
eos-solr-r        -0.36197
eos-sm-r          -0.08723
dtype: float64
site           55010.272727
eos-sos-r          0.115188
eos-gpp-r          0.278105
eos-tmean-r        0.056726
eos-pre-r         -0.058307
eos-solr-r        -0.191567
eos-sm-r          -0.218958
dtype: float64
site           52825.00000
eos-sos-r          0.19426
eos-gpp-r          0.29510
eos-tmean-r        0.43079
eos-pre-r         -0.08946
eos-solr-r         0.27895
eos-sm-r          -0.13669
dtype: float64
site           52863.00000
eos-sos-r          0.34331
eos-gpp-r          0.49571
eos-tmean-r        0.12024
eos-pre-r          0.33179
eos-solr-r         0.01977
eos-sm-r           0.25494
dtype: float64
site           54484.500000
eos-sos-r          0.002415
eos-gpp-r         -0.244750
eos-tmean-r        0.300050
eos-pre-r         -0.131795
eos-solr-r        -0.499990
eos-sm-r           0.094205
dtype: float64
site           55739.269231
eos-sos-r          0.220297
eos-gpp-r          0.262692
eos-tmean-r        0.048863
eos-pre-r         -0.061347
eos-solr-r        -0.026528
eos-sm-r          -0.038217
dtype: float64
site           53295.666667
eos-sos-r          0.193647
eos-gpp-r         -0.005230
eos-tmean-r        0.151373
eos-pre-r         -0.337587
eos-solr-r         0.226480
eos-sm-r           0.224303
dtype: float64
site           55448.941176
eos-sos-r          0.138447
eos-gpp-r          0.295542
eos-tmean-r        0.042574
eos-pre-r         -0.048130
eos-solr-r        -0.167152
eos-sm-r          -0.163419
dtype: float64
site           55380.777778
eos-sos-r          0.110506
eos-gpp-r          0.062728
eos-tmean-r        0.177696
eos-pre-r          0.004412
eos-solr-r        -0.124941
eos-sm-r           0.026043
dtype: float64
site           53908.00000
eos-sos-r          0.28023
eos-gpp-r          0.09027
eos-tmean-r        0.19221
eos-pre-r         -0.37378
eos-solr-r        -0.45650
eos-sm-r           0.23033
dtype: float64
site           55346.000000
eos-sos-r          0.151488
eos-gpp-r          0.275048
eos-tmean-r        0.280551
eos-pre-r          0.021554
eos-solr-r        -0.211467
eos-sm-r          -0.101764
dtype: float64
site           54171.00000
eos-sos-r         -0.39911
eos-gpp-r         -0.62119
eos-tmean-r        0.63190
eos-pre-r         -0.67091
eos-solr-r        -0.52082
eos-sm-r          -0.16890
dtype: float64
site           56334.000000
eos-sos-r         -0.365045
eos-gpp-r         -0.261040
eos-tmean-r       -0.209120
eos-pre-r          0.352060
eos-solr-r         0.158110
eos-sm-r           0.087710
dtype: float64
site           55453.400000
eos-sos-r          0.087022
eos-gpp-r          0.271888
eos-tmean-r        0.043856
eos-pre-r         -0.021684
eos-solr-r        -0.220318
eos-sm-r          -0.297478
dtype: float64
site           54714.00000
eos-sos-r          0.27607
eos-gpp-r          0.24971
eos-tmean-r       -0.16061
eos-pre-r         -0.51862
eos-solr-r         0.47750
eos-sm-r          -0.27864
dtype: float64
site           54810.000000
eos-sos-r          0.376530
eos-gpp-r          0.455590
eos-tmean-r       -0.012065
eos-pre-r          0.327880
eos-solr-r         0.083165
eos-sm-r          -0.249280
dtype: float64
site           54830.00000
eos-sos-r          0.07265
eos-gpp-r          0.20490
eos-tmean-r        0.20978
eos-pre-r         -0.33004
eos-solr-r         0.08374
eos-sm-r          -0.20965
dtype: float64
site           55591.666667
eos-sos-r          0.180217
eos-gpp-r          0.555313
eos-tmean-r        0.116903
eos-pre-r         -0.196340
eos-solr-r        -0.013687
eos-sm-r          -0.331003
dtype: float64
site           54843.00000
eos-sos-r          0.25140
eos-gpp-r         -0.06199
eos-tmean-r        0.46968
eos-pre-r         -0.31923
eos-solr-r         0.23118
eos-sm-r          -0.11548
dtype: float64
site           56630.500000
eos-sos-r          0.403370
eos-gpp-r          0.546610
eos-tmean-r       -0.092045
eos-pre-r          0.003395
eos-solr-r        -0.001710
eos-sm-r          -0.468795
dtype: float64
site           57682.785714
eos-sos-r          0.110588
eos-gpp-r          0.059975
eos-tmean-r        0.271752
eos-pre-r         -0.004111
eos-solr-r        -0.041858
eos-sm-r          -0.157250
dtype: float64
site           56074.00000
eos-sos-r          0.56223
eos-gpp-r          0.63599
eos-tmean-r       -0.00601
eos-pre-r          0.16470
eos-solr-r         0.29187
eos-sm-r           0.05604
dtype: float64
site           56093.00000
eos-sos-r         -0.08877
eos-gpp-r          0.23449
eos-tmean-r        0.41753
eos-pre-r          0.16010
eos-solr-r        -0.37785
eos-sm-r          -0.17891
dtype: float64
site           56093.00000
eos-sos-r          0.59707
eos-gpp-r          0.31814
eos-tmean-r        0.11604
eos-pre-r          0.27397
eos-solr-r        -0.67403
eos-sm-r          -0.08914
dtype: float64
site           57178.00000
eos-sos-r         -0.00341
eos-gpp-r          0.41092
eos-tmean-r       -0.21376
eos-pre-r          0.00533
eos-solr-r        -0.27048
eos-sm-r           0.06302
dtype: float64
site           58005.00000
eos-sos-r         -0.25027
eos-gpp-r         -0.03228
eos-tmean-r        0.12030
eos-pre-r         -0.07263
eos-solr-r        -0.19537
eos-sm-r          -0.10559
dtype: float64
site           58213.800000
eos-sos-r          0.195222
eos-gpp-r          0.558200
eos-tmean-r        0.231106
eos-pre-r          0.162918
eos-solr-r         0.186616
eos-sm-r          -0.095842
dtype: float64
site           58248.500000
eos-sos-r         -0.003480
eos-gpp-r          0.137490
eos-tmean-r        0.236970
eos-pre-r         -0.423905
eos-solr-r        -0.039005
eos-sm-r           0.259135
dtype: float64
site           58208.00000
eos-sos-r          0.20998
eos-gpp-r          0.31569
eos-tmean-r        0.24243
eos-pre-r         -0.10854
eos-solr-r        -0.44880
eos-sm-r           0.05893
dtype: float64
site           58255.00000
eos-sos-r         -0.54148
eos-gpp-r         -0.23507
eos-tmean-r        0.48301
eos-pre-r         -0.14189
eos-solr-r        -0.07252
eos-sm-r          -0.55152
dtype: float64

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

In [56]:
mean_partial_corr

   species  eos-sos-r  eos-gpp-r  eos-tmean-r  eos-pre-r  eos-solr-r  eos-sm-r
0       榆树   0.122661   0.244717     0.203239   0.057496   -0.139034 -0.054842
1      中东杨   0.106580   0.178740     0.428000   0.108570    0.282100 -0.143480
2      小叶杨   0.160996   0.248776     0.124019  -0.040936   -0.014050 -0.059089
3      紫丁香   0.164813   0.160837    -0.056341   0.339473   -0.100233  0.181924
4       旱柳   0.047468   0.115320     0.154789  -0.026805   -0.202064 -0.066804
5     加拿大杨  -0.059357   0.165036     0.234816  -0.061783   -0.134947 -0.057016
6       垂柳   0.172931   0.198277     0.280029   0.060888   -0.252930 -0.051654
7      冬苹果   0.292080  -0.071810     0.549630   0.392160   -0.244530 -0.118180
8      夏苹果   0.175400   0.173190     0.515890   0.504610   -0.544580 -0.304380
9       杨树   0.415540   0.193540     0.305130  -0.331350    0.447450 -0.061270
10      沙枣   0.180443  -0.093337     0.024652  -0.158340   -0.097477  0.142705
11     新疆杨   0.216562   0.137950    -0.094204   0.111438   -0.016144  0.033556
12     箭杆杨   0.349800  -0.016530     0.137630  -0.039750   -0.196680 -0.307990
13     钻天杨   0.022440   0.142193     0.103863  -0.043967   -0.007517  0.014203
14      杏树  -0.007783   0.133210    -0.000071  -0.003523   -0.135130 -0.049501
15      柳树  -0.014135   0.171060     0.042385  -0.366095    0.019720  0.190868
16      桃树   0.108580   0.462300     0.196877  -0.038940   -0.549943  0.233673
17      桑树   0.487665   0.309770     0.468485   0.052345   -0.262210  0.019310
18      葡萄   0.114044   0.174481    -0.023231  -0.005231   -0.049147  0.029906
19      香梨  -0.199640  -0.048000    -0.346260   0.458930    0.025480  0.193990
20      苹果  -0.023548   0.125283     0.106368  -0.055661   -0.241574  0.002925
21      梨树  -0.177100  -0.524720     0.089300  -0.253610   -0.309030  0.169290
22     核桃树   0.440635   0.060345     0.021730   0.044845    0.052220  0.079725
23     银白杨  -0.184940   0.238930     0.148200  -0.183430   -0.361970 -0.087230
24      枣树   0.115188   0.278105     0.056726  -0.058307   -0.191567 -0.218958
25      枸杞   0.194260   0.295100     0.430790  -0.089460    0.278950 -0.136690
26   青海大叶杨   0.343310   0.495710     0.120240   0.331790    0.019770  0.254940
27       杏   0.002415  -0.244750     0.300050  -0.131795   -0.499990  0.094205
28      刺槐   0.220297   0.262692     0.048863  -0.061347   -0.026528 -0.038217
29      牡丹   0.193647  -0.005230     0.151373  -0.337587    0.226480  0.224303
30     毛白杨   0.138447   0.295542     0.042574  -0.048130   -0.167152 -0.163419
31      合欢   0.110506   0.062728     0.177696   0.004412   -0.124941  0.026043
32      白杨   0.280230   0.090270     0.192210  -0.373780   -0.456500  0.230330
33      泡桐   0.151488   0.275048     0.280551   0.021554   -0.211467 -0.101764
34   123苹果  -0.399110  -0.621190     0.631900  -0.670910   -0.520820 -0.168900
35      玉兰  -0.365045  -0.261040    -0.209120   0.352060    0.158110  0.087710
36      槐树   0.087022   0.271888     0.043856  -0.021684   -0.220318 -0.297478
37      白蜡   0.276070   0.249710    -0.160610  -0.518620    0.477500 -0.278640
38     紫穗槐   0.376530   0.455590    -0.012065   0.327880    0.083165 -0.249280
39      皂荚   0.072650   0.204900     0.209780  -0.330040    0.083740 -0.209650
40      紫薇   0.180217   0.555313     0.116903  -0.196340   -0.013687 -0.331003
41     白丁香   0.251400  -0.061990     0.469680  -0.319230    0.231180 -0.115480
42      梧桐   0.403370   0.546610    -0.092045   0.003395   -0.001710 -0.468795
43      楝树   0.110588   0.059975     0.271752  -0.004111   -0.041858 -0.157250
44     高山柳   0.562230   0.635990    -0.006010   0.164700    0.291870  0.056040
45     小白杨  -0.088770   0.234490     0.417530   0.160100   -0.377850 -0.178910
46      白梨   0.597070   0.318140     0.116040   0.273970   -0.674030 -0.089140
47      白榆  -0.003410   0.410920    -0.213760   0.005330   -0.270480  0.063020
48      柿树  -0.250270  -0.032280     0.120300  -0.072630   -0.195370 -0.105590
49     悬铃木   0.195222   0.558200     0.231106   0.162918    0.186616 -0.095842
50      水杉  -0.003480   0.137490     0.236970  -0.423905   -0.039005  0.259135
51    法国梧桐   0.209980   0.315690     0.242430  -0.108540   -0.448800  0.058930
52      银杏  -0.541480  -0.235070     0.483010  -0.141890   -0.072520 -0.551520

In [10]:
# herb
csv_path = '/data/shuping/data/china_phenology/results/partial_corr_results_with_gpp/herb_partial_corr_with_gpp.csv'
df = pd.read_csv(csv_path)
df = df.drop(['Unnamed: 0'], axis=1)
df = df.drop(['eos-sos-p_val', 'eos-gpp-p_val', 'eos-tmean-p_val', 'eos-pre-p_val',
              'eos-solr-p_val', 'eos-sm-p_val'], axis = 1)
df

,site,species,eos-sos-r,eos-gpp-r,eos-tmean-r,eos-pre-r,eos-solr-r,eos-sm-r
0,50655,36,0.36569,0.55241,0.43969,0.18187,-0.50938,-0.21519
1,50871,36,0.05452,0.15349,-0.04091,0.35504,0.32817,0.44964
2,50873,36,-0.14406,0.27657,-0.02443,-0.04711,-0.66728,0.22151
3,50892,36,-0.11724,0.85276,-0.01507,-0.16892,-0.19370,0.06546
4,50964,7,-0.25875,0.44584,0.29565,-0.10750,-0.13021,-0.19421
...,...,...,...,...,...,...,...,...
103,57483,7,0.22683,0.05074,-0.04250,0.37822,0.23154,-0.03062
104,58002,6,0.30921,0.48058,0.35461,-0.17769,-0.50920,-0.22726
105,58049,32,0.12165,0.19876,0.12728,0.24698,-0.20889,-0.04705
106,58319,7,0.19174,0.94148,0.23371,0.18643,0.12734,-0.06204
107,58346,45,0.43283,0.05265,-0.07131,0.41245,0.14511,-0.12991

In [11]:
all_species = df['species'].unique()
print(all_species)

[36  7 24 35  5 33 25 32 37 28  9  6  3 16 20 29 45]

In [12]:
mean_partial_corr = pd.DataFrame(columns=['species', 'eos-sos-r', 'eos-gpp-r', 'eos-tmean-r', 'eos-pre-r', 'eos-solr-r', 'eos-sm-r'])
for i in range(len(all_species)):
    single_species = df[df.species == all_species[i]]
    mean_corr = single_species.mean()
    mean_partial_corr = mean_partial_corr.append(pd.DataFrame({'species':[str(all_species[i])], 'eos-sos-r':[mean_corr[2]], 'eos-gpp-r':[mean_corr[3]],
                                                       'eos-tmean-r':[mean_corr[4]],'eos-pre-r':[mean_corr[5]],'eos-solr-r':[mean_corr[6]],
                                                               'eos-sm-r':[mean_corr[7]],
                                                               }), ignore_index=True)
mean_partial_corr.to_csv('/data/shuping/data/china_phenology/results/herb_mean_partial_corr.csv', encoding='utf_8_sig')

In [13]:
mean_partial_corr

   species  eos-sos-r  eos-gpp-r  eos-tmean-r  eos-pre-r  eos-solr-r  eos-sm-r
0       36   0.157678   0.216219     0.042123  -0.094576   -0.153872  0.028640
1        7   0.063276   0.267781     0.050006  -0.046741   -0.049550 -0.013590
2       24   0.528780   0.585650    -0.377470  -0.510180   -0.003280  0.218120
3       35   0.259705   0.067605    -0.039095  -0.081570   -0.039210  0.007690
4        5   0.466385   0.243125     0.109845   0.212900   -0.236295  0.180435
5       33  -0.077403   0.089195    -0.108962  -0.087247   -0.187043  0.124148
6       25   0.479550   0.209440     0.607440  -0.534605   -0.234725  0.455870
7       32   0.163407   0.181608     0.042193   0.139838   -0.032582 -0.089925
8       37   0.032665   0.258940     0.344330  -0.140010   -0.222295 -0.076245
9       28   0.215629   0.339724     0.036550   0.153313   -0.119793 -0.107558
10       9  -0.126170  -0.017660     0.060050  -0.586910   -0.388200  0.256480
11       6   0.076052   0.208244     0.018481   0.108496    0.048064 -0.106870
12       3   0.066210   0.031680     0.388450   0.056250   -0.199050 -0.156350
13      16   0.749130   0.163470    -0.155260  -0.463700   -0.448160  0.713520
14      20   0.037730   0.829310    -0.262340   0.395540    0.201390 -0.088990
15      29   0.248195   0.533110     0.109998   0.186603   -0.182165 -0.012002
16      45   0.235245  -0.113850    -0.000875   0.504260    0.249890 -0.063865

In [2]:
# woody rename
csv_path = '/data/shuping/data/china_phenology/results/partial_corr_results_with_gpp/woody_partial_corr_with_gpp_heatmap_rename.csv'
df = pd.read_csv(csv_path)
df = df.drop(['Unnamed: 0'], axis=1)
df = df.drop(['eos-sos-p_val', 'eos-gpp-p_val', 'eos-tmean-p_val', 'eos-pre-p_val',
              'eos-solr-p_val', 'eos-sm-p_val'], axis = 1)
df

,site,species,eos-sos-r,eos-gpp-r,eos-tmean-r,eos-pre-r,eos-solr-r,eos-sm-r
0,50639,榆树,0.21600,0.17182,-0.08853,-0.12437,-0.15655,-0.10994
1,50655,中东杨,0.10658,0.17874,0.42800,0.10857,0.28210,-0.14348
2,50756,小叶杨,0.12968,-0.10526,0.05870,0.08984,-0.17384,-0.32573
3,50756,紫丁香,0.19219,0.08909,0.20572,-0.04518,-0.14016,0.07955
4,50788,小叶杨,0.12266,0.49894,0.22930,0.29193,-0.23286,0.26885
...,...,...,...,...,...,...,...,...
227,58339,楝,-0.17741,-0.11935,0.20172,0.44149,-0.08744,-0.61509
228,58346,梧桐,0.36301,0.52838,0.10591,-0.37121,-0.41030,-0.39275
229,58356,水杉,-0.05896,-0.27116,0.33134,-0.11905,0.36693,-0.09787
230,58433,刺槐,0.26940,0.53025,0.35800,0.39226,0.05430,0.02980
231,58433,楝,0.36754,0.56017,0.26383,-0.34603,-0.32204,-0.19844

In [5]:
all_species = df['species'].unique()
print(all_species)

['榆树' '中东杨' '小叶杨' '紫丁香' '旱柳' '加拿大杨' '垂柳' '青甘杨' '黑杨' '银白杨' '桑树' '白花泡桐' '胡桃'
 '枣树' '大叶杨' '刺槐' '毛白杨' '合欢' '玉兰' '白蜡' '槐' '紫穗槐' '皂荚' '紫薇' '楝' '梧桐' '高山柳'
 '水杉' '三球悬铃木' '银杏']

In [6]:
mean_partial_corr = pd.DataFrame(columns=['species', 'eos-sos-r', 'eos-gpp-r', 'eos-tmean-r', 'eos-pre-r', 'eos-solr-r', 'eos-sm-r'])
for i in range(len(all_species)):
    single_species = df[df.species == all_species[i]]
    mean_corr = single_species.mean()
    mean_partial_corr = mean_partial_corr.append(pd.DataFrame({'species':[str(all_species[i])], 'eos-sos-r':[mean_corr[1]], 'eos-gpp-r':[mean_corr[2]],
                                                       'eos-tmean-r':[mean_corr[3]],'eos-pre-r':[mean_corr[4]],'eos-solr-r':[mean_corr[5]],
                                                               'eos-sm-r':[mean_corr[6]],
                                                               }), ignore_index=True)
mean_partial_corr.to_csv('/data/shuping/data/china_phenology/results/woody_mean_partial_corr_heatmap_rename.csv', encoding='utf_8_sig')

/home/sdu-w-001/anaconda3/envs/jsp_gdal/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

In [7]:
mean_partial_corr

   species  eos-sos-r  eos-gpp-r  eos-tmean-r  eos-pre-r  eos-solr-r  eos-sm-r
0       榆树   0.119059   0.249465     0.191325   0.056005   -0.142789 -0.051474
1      中东杨   0.106580   0.178740     0.428000   0.108570    0.282100 -0.143480
2      小叶杨   0.160996   0.248776     0.124019  -0.040936   -0.014050 -0.059089
3      紫丁香   0.175636   0.132984     0.009411   0.257135   -0.058806  0.144749
4       旱柳   0.047468   0.115320     0.154789  -0.026805   -0.202064 -0.066804
5     加拿大杨  -0.059357   0.165036     0.234816  -0.061783   -0.134947 -0.057016
6       垂柳   0.119484   0.190501     0.212131  -0.061107   -0.175030  0.017638
7      青甘杨   0.415540   0.193540     0.305130  -0.331350    0.447450 -0.061270
8       黑杨   0.104280   0.102513     0.112305  -0.042913   -0.054808 -0.066345
9      银白杨   0.149645   0.154780    -0.053803   0.062293   -0.073782  0.013425
10      桑树   0.487665   0.309770     0.468485   0.052345   -0.262210  0.019310
11    白花泡桐   0.136149   0.250394     0.294641   0.038621   -0.215220 -0.114609
12      胡桃   0.440635   0.060345     0.021730   0.044845    0.052220  0.079725
13      枣树   0.115188   0.278105     0.056726  -0.058307   -0.191567 -0.218958
14     大叶杨   0.343310   0.495710     0.120240   0.331790    0.019770  0.254940
15      刺槐   0.220297   0.262692     0.048863  -0.061347   -0.026528 -0.038217
16     毛白杨   0.138447   0.295542     0.042574  -0.048130   -0.167152 -0.163419
17      合欢   0.110506   0.062728     0.177696   0.004412   -0.124941  0.026043
18      玉兰  -0.365045  -0.261040    -0.209120   0.352060    0.158110  0.087710
19      白蜡   0.276070   0.249710    -0.160610  -0.518620    0.477500 -0.278640
20       槐   0.087022   0.271888     0.043856  -0.021684   -0.220318 -0.297478
21     紫穗槐   0.376530   0.455590    -0.012065   0.327880    0.083165 -0.249280
22      皂荚   0.072650   0.204900     0.209780  -0.330040    0.083740 -0.209650
23      紫薇   0.180217   0.555313     0.116903  -0.196340   -0.013687 -0.331003
24       楝   0.110588   0.059975     0.271752  -0.004111   -0.041858 -0.157250
25      梧桐   0.403370   0.546610    -0.092045   0.003395   -0.001710 -0.468795
26     高山柳   0.562230   0.635990    -0.006010   0.164700    0.291870  0.056040
27      水杉  -0.003480   0.137490     0.236970  -0.423905   -0.039005  0.259135
28   三球悬铃木   0.209980   0.315690     0.242430  -0.108540   -0.448800  0.058930
29      银杏  -0.541480  -0.235070     0.483010  -0.141890   -0.072520 -0.551520